@import "variables/all";
@import "utils/all";
@import "vendor/bootstrap/mixins";

.cart {
	@import 'components/global-custom-components';
	@import 'components/global-page-heading-description-links';
	@import 'components/global-product-tile';
	@import 'components/cart-with-items';
	@import 'components/cart-order-summary';
	@import 'components/cart-with-empty-items';
	@import 'components/cart-edit-items';
	@import 'components/product-recomandation';
	.product-recomandation .global-tile-carousel{
		padding-top: 0;
		@include breakpoint(mobile) {
			.nav-tabs{
				margin-left: -15px;
    			margin-right: -15px;
			}
		}
	}
}