@import "variables/all";
@import "utils/all";
@import "vendor/bootstrap/mixins";

.myaccount {
	@import 'components/create-account';
	@import 'components/privacy-wall';
	@import 'components/email-preferences';
	@import 'components/myorders';
	@import 'components/address-book';
	@import 'components/myprofile';
	@import 'components/mycenter';
	@import 'components/deals-listing';
	@import 'components/designers-az';
	@import 'components/mydesigners';	
	@import 'components/mysizes';
	@import 'components/privacy-wall';

	@import 'components/plp-left-nav';
	@import 'components/pdp-size-guide';
	@import 'components/login';
	@import 'components/checkout-verify-address-modal';
	@import 'components/myfavorites';
	@import 'components/myoutlets';
	@import 'components/myoffers';
	@import 'components/my-stores';
	@import 'components/global-pagination';
	@import 'components/global-custom-components';
	@import 'components/global-page-heading-description-links';
	@import 'components/global-product-tile';
	@import 'components/global-tab-accordian';
	@import 'components/global-fixed-table';
	@import 'components/payment-method';
	@import 'components/storelisting';
	@import 'components/myoffers';
	@import 'components/myfavorites';
	.myorder-tooltip {
		@include breakpoint(desktop) {
			padding-left: 55px !important;
			padding-right: 0;
			>img {
				margin-left: 5px;
			}
		}
	}
	

	// Checkbox with heart icon starts
	#addStoreForm {
		.i-checkbox {
			border: 0;
			top: -2px;
			&:before {
				@include simonicon($icon-favorites-blank);
				font-size: 18px;
				left: 0;
				font-style: normal;
				color: $text-link;
			}
		}
		input[type="checkbox"]:checked {
			& + .i-checkbox { 
				&:before {
					content: $icon-fav-filled;
					color:$plum;
				}
			}
		}
	}
	// Checkbox with heart icon ends

	// checkbox with heart icon start for add designer popup

	#addDesignerForm {
		.i-checkbox {
			border: 0;
			top: -2px;
			&:before {
				@include simonicon($icon-favorites-blank);
				font-size: 18px;
				left: 0;
				font-style: normal;
				color: $text-link;
			}
		}
		input[type="checkbox"]:checked {
			& + .i-checkbox { 
				&:before {
					content: $icon-fav-filled;
					color:$plum;
				}
			}
		}
	}
	//checkbox with heart icon end for add designer popup

	.my-premium-outlets{
		.myfavorites-container{
			p{
				font-family: $SimonCircularBook;
				@include breakpoint(desktop) {
					font-size: 16px;
					line-height: 20px;
				}
			}
			
			a{
				@include breakpoint(mobile) {
					padding-bottom: 16px;
					padding-top: 0;
				}
			}
			.loggedInUser{
				@include breakpoint(mobile) {
					height: 325px;
					width: 325px;
				}
			}
			.myoutlets-container{
				.outlet-items{
					.outlet-items-detail{
						h4{
							@include breakpoint(mobile) {
								padding-bottom: 20px;
							}
						}
						.my-center-block{
							@include breakpoint(mobile) {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}

	.my-center{
		.myfavorites-container >p{
			margin-bottom: 0;
		}
		.myoutlets-container .outlet-items .outlet-items-detail{
			@include breakpoint(mobile) {
				padding-top: 0;
			}
		}
	}

} 


// My Order heading bottom spacing
.page-orders {
	h1.page-heading {
		margin-bottom: 30px;
	}
}