@import "variables/all";
@import "utils/all";
@import "vendor/bootstrap/mixins";
@import "../bower_components/jquery-custom-scrollbar/jquery.custom-scrollbar";

.pdp {
	@import 'components/pdp-overview';
	@import 'components/pdp-zoom-image';
	@import 'components/pdp-just-added';
	@import 'components/pdp-size-guide';
	@import 'components/pdp-select-size-mobile';
	@import 'components/product-recomandation';
	@import 'components/global-custom-components';
	@import 'components/global-page-heading-description-links';
	@import 'components/global-product-tile';

	footer {
    	@include breakpoint(desktop){
    		margin-top: 100px;
    	}
    }
}