@import "variables/all";
@import "utils/all";
@import "vendor/bootstrap/mixins";

.plp {
		@import 'components/global-custom-components';
		@import 'components/global-page-heading-description-links';
		@import 'components/global-product-tile';
		@import 'components/plp-filter';
		@import 'components/plp-left-nav';
		@import 'components/plp-misc';
		@import 'components/search-zero-result';
		@import 'components/search-result';
		@import 'components/storefront-landing';
		@import 'components/designer-listing';
		@import 'components/designer-landing';
		@import 'components/storelisting';
        @import 'components/myfavorites';
        @import 'components/trends-listing';
        @import 'components/deals-listing';
        @import 'components/global-show-more';
        @import 'components/mydesigners';
        
        @import 'components/_trends-listing';
	
	
	.pageHeading{
	.icon-fav-blank{
		position: absolute;
    	left: 10px;
    	top: 4px;
			&:before{
				@include simonicon($icon-favorites-blank);
				color: $text-link;
				font-size: 22px;
			}
		}
		h1.page-heading{
			padding-left:25px;
		}
	}
 	// style override for clp of global custom component
	.btn-category{
		width: 100%;
		margin-bottom: 35px;
		.btn{
			width: 100%;
		}
	}
	.designer-edit,.columns{
		.img-container+.img-container{
			padding-top: 15px;
			padding-bottom: 58px;
		}
		.img-container{
			h1{
				text-transform: uppercase;
				font-size: 57.2px;
				line-height: 44px;
				letter-spacing: -3.4px;
				color: $black;
				margin-bottom: 20px;
				span{
					color: #b4b2b0;
				}
			}
			p{
				font-size: 16px;
				line-height: 23px;
				text-align: left;
				a{
					display: inline-block;
					color: $black;
					text-decoration: underline;
				}
			}
		}
	}
	.page-heading{
		@include breakpoint(mobile){
			font-size: 25px;
			line-height: 25px;
			letter-spacing: -0.8px;
		}
	}
	.clp-container{
		.container{
			width:100%;
			padding:0;
		}
	}
	.category-landing {
		.breadcrumbs{
			padding-left: 0;
			padding-right: 0;
		}
		.owl-carousel {
			@include breakpoint(mobile){
				&.slick-initialized{
					margin-left: -25px !important;
					margin-right: -25px !important;
				}
			}
			.the-designer-shop {
				&.left{
					@include breakpoint(desktop) {
						h1{
							font-size: 57.2px;
							line-height: 44px;
							letter-spacing: -3.4px;
							padding-left: 20px;
							margin-bottom: 20px;
						}
						h5{
							padding-left: 20px;
						}
						.item {
							.carousel-content {
								position: absolute;
								width: 100%;
								top: 50%;
								left: 50%;
								-webkit-transform: translate(-50%, -50%);
								-ms-transform: translate(-50%, -50%);
								transform: translate(-50%, -50%);

								h1, h5 {
									font-family: $SimonCircularBook;
									color: $white;
								}
								h1 {
									font-size: 27.6px;
									letter-spacing: -0.8px;
								}
								h5 {
									font-size: 19.1px;
									letter-spacing: -0.2px;
								}
							}
						}
					}
					@include breakpoint(mobile) {
						h1{
							font-size: 43px;
							line-height: 33px;
							letter-spacing: -2.6px;
							padding-left: 0;
							margin-bottom: 20px;
						}
						h5{
							padding-left: 0;
						}
					}
				}
			}
			@include breakpoint(desktop) {
				/* padding-top: 55px; */
			}
			&.slick-initialized {
				margin-bottom: 91px;
			}
			.carousel-content {

				&.container {
					width: 100%;
					@include breakpoint(mobile) {
						position: absolute;
						width: 100%;
						top: 50%;
						left: 50%;
						text-align: left;
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
					}
					h1 {
						&.display-large {
							font-size: 57.2px;
							line-height: 44px;
							letter-spacing: -3.4px;
							padding-left: 35px;
							margin-bottom: 20px;
							@include breakpoint(mobile) {
								font-size: 43px;
								line-height: 33.1px;
								letter-spacing: -2.6px;
								padding-left: 0;
							}
						}
					}
				}
			}

			h5 {
				padding-left: 35px;
				font-size: 19.1px;
				line-height: 23.9px;
				letter-spacing: -0.2px;
				@include breakpoint(mobile) {
					font-size: 17.3px;
					line-height: 17.3px;
					letter-spacing: -0.2px;
					padding-left: 0;
				}
			}
		}
		.storefront-heading{
			h1{
				@include breakpoint(mobile){
					padding-top: 0;
				}
			}
		}
		.trending-now{
			h3{
				margin-left: 15px;
				margin-right: 15px;
			}
		}
		.clp-container{
			.the-designer-shop{
				@include breakpoint(mobile){
					padding-bottom: 0;
				}
			}
		}
		.style-deals.common-heading{
			h2{				
				font-size: 27.6px;
				letter-spacing: -0.8px;
			}
		}
	}

	// overwrite the global the designer shop banner css
	.social-shop-containers{
		img{
			max-width:100%;
		}
	}
	.store-main-carousel, .clp-main-carousel{
		.the-designer-shop {
			&.left{
				margin:0px;
			}
		}
	}
	.the-designer-shop {
		@include breakpoint(desktop){
			margin-bottom: 49px;
		}
		@include breakpoint(mobile){
			padding-bottom: 30px;
		}
		&.left{
			
			@include breakpoint(desktop){
				margin: 40px 0 38px 0;
			}
			h1{
				font-size: 35.8px;
				line-height: 27.6px;
				letter-spacing: -2.2px;           
				@include breakpoint(desktop){
					font-size: 47.7px;
					line-height: 36.7px;
					letter-spacing: -2.9px;
				}
			}
			.designer-banner-text{
				line-height: 17.3px;
				letter-spacing: -0.2px;
				@include breakpoint(desktop){
					line-height: 1;
				}
			}
		}

		.content-container{
			z-index: 2;
		}
	}

	.the-designer-shop{
		margin-top: 18px;
		/* .img-responsive{
			@include breakpoint(desktop) {
				height: 252px;
			}
		} */

		h1{
			&.display-medium{
				font-size: 47.7px;
				line-height: 36.7px;
				letter-spacing: -2.9px;
				@include breakpoint(mobile){
					font-size: 35.8px;
					line-height:27.6px;
					letter-spacing: -2.2px;
				}
			}
		}
		.designer-banner-text{
			letter-spacing: -0.2px;
			@include breakpoint(mobile){
				font-size: 17.3px;
				line-height: 17.3px;
				letter-spacing: -0.2px;
			}
		}
		h5.designer-banner-text{			
			padding-left: 0px;
			font-family: $SimonCircularBook;
		}
		.shopnow{
			@include breakpoint(mobile){
				font-size: 17.3px;
				line-height: 17.3px;
				letter-spacing: -0.2px;
			}
		}
	}

	.trending-now{
		h3{
			border-bottom: 1px solid $gray;
			padding-bottom: 10px;
			margin-bottom: 30px;
		}
	}

	.style-deals{
		.img-responsive{
			display: inline-block;
			width: 170px;
		}
		.style-content-container{
			@include breakpoint(desktop) {
				min-height: 252px ;
			}
			@include breakpoint(desktop-medium) {
				min-height: 320px;
			}
		}
		.style-container{
			picture{
				@include breakpoint(desktop) {
					min-height: 90px !important;
				}
			}
		}
		h5{
			a {
				line-height: 16px;
				letter-spacing: -0.2px;
				font-family: $SimonCircularBold;
			}
		}
		.margin-btm{
			margin-bottom: 15px;
		}
	}

	
	
	
	.not-available{
		cursor: default;
		pointer-events: none;
		color: $gray !important;		  
		
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 30px;
			height: 21px;
			display: block;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100"><path d="M100 0 L0 100" stroke="gray" stroke-width="1"/><path d="M0 0 L100 100" stroke="gray" stroke-width="1"/></svg>');
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgdmlld0JveD0iMCAwIDEwMCAxMDAiPjxwYXRoIGQ9Ik0xMDAgMCBMMCAxMDAiIHN0cm9rZT0iZ3JheSIgc3Ryb2tlLXdpZHRoPSIxIi8+PHBhdGggZD0iTTAgMCBMMTAwIDEwMCIgc3Ryb2tlPSJncmF5IiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=');
			background-repeat:no-repeat;
			background-position:center center;
			background-size: 100% 100%, auto;
			
		}
		&:hover{
			color: $text-link;
		}
	}

    &.page-storeListingPage {
    	.add-to-favorites {
    		.mark-favorite {
    			@include breakpoint(mobile) {
					position: absolute;
    				top: 28px;
    			}
    		}
    		h1 {
    			&.page-heading {
    				padding-left: 30px;
    			}
    		}
    	}
    }
		
}

//PLP page for Mobile

.page-productList{
	@include breakpoint(mobile){
		.plp-filters{
			padding:0;
		}
	}
}

