@import "variables/all";
@import "utils/all";
@import "vendor/bootstrap/mixins";

.store {
	@import 'components/global-custom-components';
	@import 'components/global-page-heading-description-links';
	@import 'components/global-product-tile';
	@import 'components/plp-filter';
	@import 'components/plp-left-nav';
	@import 'components/myoffers';
	@import 'components/myfavorites';
	@import 'components/deals-listing';
	@import 'components/global-show-more';
	
.pageHeading{
	.icon-fav-blank{
		position: absolute;
    	left: 10px;
    	top: 4px;
			&:before{
				@include simonicon($icon-favorites-blank);
				color: $text-link;
				font-size: 22px;
			}
		}
		h1.page-heading{
			padding-left:25px;
		}
	}
	.myoffers-container {
		#homepageCarousel.slick-initialized {
			margin-top: 39px;
		}
		.deal-area-container {
			padding-top: 23px;
		}
	}
	.more-text {
		display: none;
	}



	// carousal on mobile
	&.page-dealsLandingPage {
		@include breakpoint(mobile) {
			#homepageCarousel {
				margin: 30px -25px 37px !important;
				.slick-list {
					margin-bottom: 35px;
					.slick-track {
						> .img-container {
							min-height: 325px;
							background: $gray-bg1;
							.item {
								min-height: 325px;
								> a {
									display: none;
								}
								>.carousel-content {
									position: absolute;
						            top: 50%;
						            left: 50%;
						            transform: translate(-50%,-50%);
								}
							}
						}
					}
				}
			}
		}
	}
}