@import "../variables/_all";
@import "../utils/_all";
@import "../vendor/bootstrap/_mixins";

.address-book {
  .page-heading{
  	@include breakpoint(mobile){
      padding-top: 32px !important;
    }
  }
  
  .add-new-address {
    margin-bottom: 100px;
  }
  .btn{
    @include breakpoint(mobile){
      width: 100%;
    }
  }
  .heading-text {
    .shipping-add-text {
		font-family: $SimonCircularBook;
		font-size: 16px;
		line-height: 20px;
		padding-bottom: 30px;
		padding-top: 6px;
		@include breakpoint(mobile){
			font-size: 14.4px;
			line-height: 18px;
		}
    }
    .not-saved-add-text {
      font-family: $SimonCircularBold;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 25px;

      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }

  }
  //----address book modal
  .addressBookModal {
    .modal-body {
      padding: 0 30px;
    }
    .modal-dialog{
    	@include breakpoint(desktop){
      		width: 880px;
      	}
    }
    .optional-fields {
      font-family: $SimonCircularBook;
      font-size: 13.3px;
      line-height: 16.6px;
      padding: 20px 0 20px 0;
      color: $text-link;
      @include breakpoint(mobile){
        font-size: 12px;
        line-height: 15px;
      }
    }
    .address-buttons {
      margin-bottom: 30px;
      .btn {
        margin-right: 5px;
      }
    }
    .checkboxes {
      margin-bottom: 0;
    }
    .custom-checkbox {
      padding-top: 0;
      margin-top: 2px;
      margin-right: 10px;
    }
    .make-default-text {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
    }

    .list-dropdown {
      position: relative;
      select {
        border: solid 1px $gray;
        padding: 15px 20px;
        width: 100%;
        height: 52.9px;
        font-family: $SimonCircularBook;
        text-transform: uppercase;
        color: $text-link;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      &:after {
        @include simonicon($icon-arrow-dark-large);
        font-size: 10px;
        color: $text-link;
        right: 22px;
        top: 0;
        padding: 15px 0 0 8px;
        position: absolute;
        pointer-events: none;
      }
      select::-ms-expand {
        display: none;
      }

      option[disabled] {
        color: $gray;
      }
    }
  }

  .edit-delete-address-box {

    .address {
      &:nth-of-type(3n+1){
        clear:both;      
      }

      @include breakpoint(desktop) {        
        margin-bottom: 30px;
      }
    } 
    .address-border {
      border: solid 1px $gray;
      @include breakpoint(mobile){
        margin-bottom: 30px;
      }
    }
    .preferred-address-text {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .address-box-margin {
      padding: 30px;
      .sm-input-group{
        padding: 15px 0;
        float: left;
        input,label{
          margin: 0;
          float: left;
        }
		input{
			margin-top: 2px;
		}
        label{
          padding-left: 10px;
        }
      }
      
      .edit-delete-links  {
      	clear: both;
      }
    }
    .custom-radio {
      padding: 15px 0;
    }
    .edit-delete-links {
      .edit-border {
        border-right: solid 1px $gray;
        padding-right: 10px;
      }
      .delete-padding {
        padding-left: 5px;
      }
    }
  }

  .confirm-msg{
    font-family: $SimonCircularBook;
    font-size: 16px;
    line-height: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    @include breakpoint(mobile){
      font-size: 14.4px;
      line-height: 18px;
    }
  }

  .my-account{
    margin: 30px 0;
  }

  .btn-add{
    @include breakpoint(mobile) {
      margin-bottom: 15px;
    }
  }

}

#mAccount {
	aside {
		padding-top: 32px;
    @include breakpoint(mobile) {
      padding-top: 24px;
    }
	}
}