//-----empty bag
.empty-bag{
  font-family: $SimonCircularBold;
  font-size: 33.1px;
  line-height: 33.1px;
  letter-spacing: -1px;
  color: $black;
  margin: 45px 15px 90px;
  @include breakpoint(mobile){
  	margin: 40px 15px 60px;
    font-size: 29.9px;
    line-height: 29.9px;
    letter-spacing: -0.9px;
  }
}

.trending-items{
  margin-bottom:112px;
  @include breakpoint(mobile){
    	margin-bottom: 35px;
  }
  
  h4{
    padding-top: 16.8px;
    padding-bottom: 6.3px;
    
    @include breakpoint(mobile){
    	padding-bottom: 2px;
    }
  }

  h6{
    font-family: $SimonCircularBook;
  }
}

.trending-now{
  h2{
    padding-bottom:33px;
  }
}

.heading.major{
  margin: 0 15px 30px 15px;
  font-size: 28px;
  
  @include breakpoint(mobile){
  	margin: 0 15px 27px 15px;
  }
}