.order-summary-right {
	margin-top: 0 !important;
	.view-bag {
		color: $text-link;
		float: right;
		font-family: $SimonCircularBook;
	}
	.tooltip-init {
		height: 12px;
		vertical-align: baseline;
		@include breakpoint(mobile){
			margin-bottom: 2px;
		}
	}
	&.cart-order-summary {
		.terms-conditions {			
			&:before {
				left: 0;
			}
		}
	}
	.terms-conditions {
		padding: 15px 0 0 20px;
		color: $text-link;

		&:before {
			@include simonicon('\e920');
		    position: absolute;
		    left: 16px;
		    font-size: 15px;
		}
		a {
			font-size: 13.3px;
        	line-height: 16.6px;
        	text-decoration: underline;
        	&:hover {
        		color: $black;
        	}
		}
	}
}