.checkout-verify-address-modal {
	.checkout-verify-container {
		padding: 30px;
		.verification-text {
			position: relative;
			margin-left: 30px;
			@include breakpoint(mobile) {
				margin-bottom: 30px;
			}
			&:before {
				@include simonicon($icon-verify-icon);
				color: $plum;
				font-size: 20px;
    			padding-right: 10px;
    			position: absolute;
    			left: -30px;
				@include breakpoint(mobile) {
    				top: 7px;
				}
			}
		}
		.content {
			padding-top: 39px;
			h6 {
				margin-bottom: 8px;
			}
			input[type="radio"] {
				-webkit-appearance: none;
			    width: 16px;
			    height: 16px;
			    border: 1px solid $gray;
			    border-radius: 50%;
			    outline: none;
			    

			}
			p {
				float: left;
			}
			#selectaddress + {
				label {
					text-transform: capitalize;
				}
			}
		}
		.edit-address-btn, .suggest-address-btn {
			clear: both;
			padding: 20px 0 0;

			.btn {
				@include breakpoint(mobile) {
					width: 100%;
				}
				&:last-child {
					@include breakpoint(desktop) {
						margin-left: 5px;
					}
					@include breakpoint(mobile) {
						margin-top: 15px;
					}
				}
			}
		
		}
	}
}