.saveInfoForm{
	@include breakpoint(desktop) {
		.no-pad-right{
			padding-right: 0;
		}
		.msg-txt{
			padding-left: 40px;
		}
	}
}

// footer top spacing
.footer-top-border {
	margin-top: 70px;
	@include breakpoint(mobile) {
		margin-top: 0;
	}
}

// Account Information
.account-info {
	color: $black;
	font-family: $SimonCircularBold;
	margin-bottom: 40px;
	@include breakpoint(mobile) {
		margin-bottom: 24px;
	}
	.mid-align {
		.mid-align-content {
			font-family: $SimonCircularBold;
			@include breakpoint(desktop) {
				margin-top: 14px;
			}
			@include breakpoint(mobile) {
				margin-bottom: 0;
				line-height: 10px;
			}
		}
		&:nth-child(2) {
			@include breakpoint(desktop) {
				margin-left: 44px;
	}
		}
	}
	.checkout-signin{
		float: right;
		@include breakpoint(desktop) {
			width: auto;
		}
	}
	
	span{
		@include breakpoint(desktop) {
			line-height: 52px;
		}
	}
	a {
		color: $black;
		font-family: $SimonCircularBold;
		@include breakpoint(desktop) {
			line-height: 52px;
		}
		&:hover {
			color: $text-link
		}
		@include breakpoint(desktop) {
			float: right;
		}
	}
	.btn {
		@include breakpoint(mobile) {
			margin-top: 27px;
		}
	}
}



// Shipping Inforamtion
.checkout-shipping-container {
	#loggedUserShippingContainer{
		.border-shipping-address{
			border-top: none;
		}
	}
	.panel-default {
		border: none;
		box-shadow: none;
		margin-top: 8px;
		span{
			color: $text-link;
			font-size: 13.3px;
		}
		.item-revised-price {
			font-size: 16px;
			line-height: 16px;
			letter-spacing: -0.2px;
			font-family: $SimonCircularBold !important;
			color: $plum;
			> img {
			  margin-bottom: 4px;
			  height: 10px;
			  cursor: pointer;
			}
			@include breakpoint(mobile) {
			  font-size: 14.4px;
			  line-height: 14.4px;
			  letter-spacing: -0.1px;
			}
		  }
		
		  .item-subtotal-price{
			font-size: 16px;
			line-height: 16px;
			letter-spacing: -0.2px;
			font-family: $SimonCircularBold !important;
			color: $black;
			float: right;
			@include breakpoint(mobile) {
			  font-size: 14.4px;
			  line-height: 14.4px;
			  letter-spacing: -0.1px;
			}
		  }
		span.desktop-wedontlabel {
				font-size: 13.3px;
				color: $text-link;
				text-transform: none;
				font-family: $SimonCircularBook;
				padding-top: 5px;

				@include breakpoint(mobile) {
					margin-top: 5px;
				}
				&.statement {
					@include breakpoint(mobile) {
						display: block;
						float: none !important;
					}
					img {
						height: 12px;
						margin-left: 5px;
					}
				}
			}
			span ul:nth-child(2){
				display:none!important;
			}
				span:not(.field-error) {
				//font-size: 13.3px;
				//color: $text-link;
				text-transform: none;
				font-family: $SimonCircularBook;
				@include breakpoint(desktop) {
					padding-top: 5px;
				}
				

				@include breakpoint(mobile) {
					margin-top: 0;
					padding-top: 0;
				}
				&.statement {
					@include breakpoint(mobile) {
						display: block;
						float: none !important;
						padding-bottom: 30px;
						padding-top: 10px;
					}
					img {
						height: 12px;
						margin-left: 5px;
					}
				}
			}
		h5 {
			padding-bottom: 22px;
			padding-top: 22px;
			@include breakpoint(mobile){
				padding-bottom: 14px;				
			}
		
			font-size: 19.1px;
				line-height: 19.1px;
				font-family: $SimonCircularBold;
				@include breakpoint(mobile) {
					font-size: 16.1px;
				}
				.tick {
					&:before {
						@include simonicon('\e90d');
						color: $plum;
						font-size: 9px;
						position: absolute;
						margin: 1px 0 0 8px;
					}
				}
			
			.statement{
				color: $text-link;
			}
			
		}
		#panel4 {
			.collapsed-content {
				padding-bottom: 0;
			}
		}
		#panel2{
			.list-dropdown {
				&:after {
					right: 22px;
					padding: 15px 0 0 8px;
				}
			}
		}
		
		.panel-collapse {
			border-top: 1px solid $gray;
						
			@include breakpoint(desktop){
				padding-top: 15px;	
			}			
			
			.collapsed-content {
				padding-bottom: 30px;
				.saveinforendered{
					@include breakpoint(mobile){
						padding-top: 30px;
					}	
				}
				.shipping-fields-edit {
					padding-top: 15px;	
					@include breakpoint(mobile){
						padding-top: 0;
					}			
				}
				.mandatory-text {
					.mobile-form-msg{
						display:block;
						padding-bottom:20px;
						@include breakpoint(desktop){
							display: none;
						}
					}
					font-family: $SimonCircularBook;
					color: $text-link;
					margin-bottom: 33px;
					padding-top: 18px;
					.note{
						font-family: $SimonCircularBook;
						font-size: 13.3px;
					}
				}
				.shipping-fields {
					.mandatory-text{
						@include breakpoint(desktop){
							padding-top:0;
						}	
					}
					.row {
							> div {
								.sm-input-group{
    							padding-bottom: 28px;
    							.form-control{
    								box-shadow: none;
    								border-radius: 0;
    								padding: 6px 21px;
    								@include placeholderuppercase("uppercase");
    							}

    							&.zipcodecontainer{
    								@include breakpoint(mobile){
								    width:50%;
								 }
    							}

    						}
    						
    						.billing-address-zip {
    							@include breakpoint(mobile){
								    width:193px;
								}
    						}
    						
							// Select Dropdown
							.list-dropdown {

								position: relative;
								@include breakpoint(mobile){
								    width:193px;
								}
								select {
									border: solid 1px $gray;
									border-radius: 0;
									padding: 15px 20px;
									width: 100%;
									font-family: $SimonCircularBook;
									color: $text-link;
									-webkit-appearance: none;
									-moz-appearance: none;
									appearance: none;
									border-radius : 0;
								}
								&:after {
									@include simonicon($icon-arrow-dark-large);
									font-size: 10px;
									color: $text-link;
									right: 27px;
									top: 0;
									padding: 15px 10px 0px 8px;
									position: absolute;
									pointer-events: none;
								}
								select::-ms-expand {
									display: none;
								}

								option[disabled] {
									color: $gray;
								}
							}
							.clear {
								@include breakpoint(mobile){
									clear: both;
								}
							}

    					}
					}

					

					.disclaimer-copy{
						.sign-up-policy{
							padding-bottom: 20px;
							padding-top: 0;
						}
					}
					.float-none{
						@include breakpoint(mobile) {
							float: none;
						}
					}
					.secure-section{
						.secure-info{							
							font-family: $SimonCircularBook;
							color: $text-link;
							font-size: 12px;
							line-height: 15px;
							position: relative;
							margin-left: 25px;
							margin-bottom: 20px;
							top: 5px;
							&:before{
								@include simonicon('\e920');
								position: absolute;
								left: -25px;
								font-size: 18px;
							}
							img{
								height: 12px;
								margin-left: 3px;
							}
						}
					}
					.disclaimer-copy {				
							padding-top: 0;
							width:100%;						
						.antivirus-icon {
							position: absolute;
							right:85px;
							@include breakpoint(mobile) { 
								display: none;
							}
						}
						.checkboxes {
							.checkbox-label{
								//width: calc(100% - 30px);
								padding-bottom:0;
								margin-bottom: 0;
								color: $black;
								line-height: 18px; 
								@include breakpoint(mobile) { 
									margin-left: 30px;
								}
							}
							margin: 5px 0 0;
							font-weight: normal;
							float: left;
    						width: 100%;
							@include breakpoint(desktop) { 
								margin: 0 0 16px;
								&:last-child {
									margin-bottom: 0;
								}
							}
							.sm-input-group {
								line-height: 19px;
								padding-bottom:10px;
								&.policybottom{
									padding-bottom: 0;
    								height: 20px;
								}


								@include breakpoint(mobile) {
									padding-bottom: 5px;
									width: 100%;
								}
								

								
								input[type="checkbox"] {
									margin: 0 7px 0 0;
									padding-top: 0;
									-webkit-appearance: none;
									vertical-align: top;
									&:checked{
										 -webkit-appearance: none;
										  background-color:white;
									}
									&:checked:before {
							            margin-top: 0px;
							        }
							        @include breakpoint(mobile) {
										position: absolute;
							        }
								}

								> label {
									@include breakpoint(mobile) {
										margin-left: 30px;
									}
								}
							}
							.security-certification{
								margin-left: 78px;
							}
							.sign-up-policy {
								padding-bottom: 15px;
								padding-top: 3px;
								padding-left: 30px;
								@include breakpoint(mobile) {
									padding-top: 23px;
								}
							}
						}
					}
					&.payment-container {
						.shipping-method{
							margin-top: 10px;
						}
						.cards-container {
							margin-bottom: 6px;
							.statement{
								font-family: $SimonCircularBook;
								color: $text-link;
								font-size: 12px;
								line-height: 15px;
								width: 100%;
   								margin-bottom: 20px;
								img{
									height: 12px;
									margin-left: 3px;
								}
							}
							.cards {
								img {
									margin-right: 5px;
								}
							}
							.secure-info {
								position: relative;
								color: $text-link;
								margin-top: 12px;
								&:before {
									@include simonicon('\e920');
									position: absolute;
									left: -20px;
    								font-size: 18px;
								}
								img {
									height: 12px;
									margin-left: 3px;
								}
							}
						}
						.cvv-tooltip {
							position: absolute;
							left: 80%;
							top: 20px;
							height: 10px;
							z-index: 1;
						}
						.payment-subheading {
							margin: 25px 0 18px;
						}
						.order-summary-right {
							@include breakpoint(mobile) {
								padding-top: 0;
							}
							float: none;
							.btn-border-top {
								@include breakpoint(mobile) {
									border-top: 0;
								}
								.error-and-msg {
									>.btn {
										margin: 0;
									}
								}
							}
							.terms-conditions {
								&:before {
									@include breakpoint(mobile) {
										left: 16px;
									}
								}
							}
						}
											
						.row-height{
							height: 80px
							}
						// Select Dropdown
						.list-dropdown {
						
							position: relative;
							select {
								border: solid 1px $gray;
								border-radius: 0;
							    padding: 15px 20px;
							    font-size: 13.3px;
							    width: 100%;
							    font-family: $SimonCircularBook;
							    color: $text-link;
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								background: $white;
							}
							#paymentDropdown{
								text-transform: none;
							}
							&:after {
								@include simonicon($icon-arrow-dark-large);
								font-size: 10px;
								color: $text-link;
								right: 37px;
								top: 0;
								padding: 15px 0px 0px 8px;
								position: absolute;
								pointer-events: none;
							}
							select::-ms-expand {
								display: none;
							}

							option[disabled] {
								color: $gray;
							}
						}
					}

					.shipping-method {
						margin: 0;
					}


					.shipping-address {
						.shipping-method {
							margin-top: 10px;
							.loggedinUser{
								margin-bottom: 30.5px;
							}
							
							.shipping-address-dropdown {
								&:after {
									content: '' !important;
								}	
							}
							
							// Select Dropdown
							.list-dropdown {
								position: relative;
								select {
									border: solid 1px $gray;
									border-radius: 0;
									padding: 13px 64px 15px 10px;
									width: 100%;
									font-family: $SimonCircularBook;
									color: $text-link;
									-webkit-appearance: none;
									-moz-appearance: none;
									appearance: none;
									background: $white;
								}
								&:after {
									@include simonicon($icon-arrow-dark-large);
									font-size: 10px;
									color: $text-link;
									right: 21px;
									top: 0;
									padding: 15px 15px 0px 8px;
									position: absolute;
									pointer-events: none;
								}
								select::-ms-expand {
									display: none;
								}

								option[disabled] {
									color: $gray;
								}
							}
						}
						.btn {
							margin-top: 10px;
							@include breakpoint(mobile) {
								margin-top: 0;
							}
						}
					}

					button{
						@include breakpoint(mobile) {
							width: 100%;
						}
					}
				}

				.save-information-container {
					.sm-input-group{
						padding-bottom: 28px;
					}
					margin-top: 10px;
					.saveskip-btn {
						margin-top: 0;
						button{
							&:first-of-type{
								margin-right: 6px;
							}
						}
						.skipBtn{
							padding: 0 18px;
						}
					}
					.pull-left {
						@include breakpoint(mobile) {
							margin-top: 20px;
						}
					}
					.create-account {
						padding-bottom: 10px;
						a {
							color: $black;
							text-decoration: underline;
							&:hover {
								color: $text-link;
							}
						}
					}
				}
				
			}
		}
		#panel1, #panel4{
			.shipping-error-msg {
				border-bottom: 1px solid $plum;
				padding-bottom: 15px;
				display: block;
				margin-bottom: 10px;

				.icon-verify {
					float: left;
					&:before {
						@include simonicon($icon-verify-icon);
						font-size: 20px;
						color: $plum;
						display: block;
						float: left;
					}
				}
				.error-desc {
					font-size: 13.3px;
					line-height: 16.6px;
					padding-left: 30px;
					width: calc(100% - 20px);
					display: block;
					@include breakpoint(mobile) {
						font-size: 12px;
						line-height: 15px;
					}
				}
			}

		#nosavedPaymentmethod {
			@include breakpoint(mobile) {
				.clear {
					clear: both;
				}
			}
		}
	
		.mobile-mcafee{
			margin-bottom:16px;
			.secure-info {
			@include breakpoint(mobile) {
				position: relative;
				color: $text-link;
				padding-left: 18px;
				&:before {
					@include simonicon('\e920');
					position: absolute;
					left: 3px;
					font-size: 12px;
				}
				img {
					height: 12px;
					margin-left: 3px;
				}
			}
			
		}

		.antivirus-icon{
			@include breakpoint(mobile) {
		    	position: relative;
				top: -5px;
			}
		}
		}
			
		}
	}

	.shipping-method {
		margin-top: 40px;
		margin-bottom: 20px;
		.tag {
			color: $text-link;
			padding-bottom: 5px;
		}
		.list-dropdown {
			position: relative;
			select {
				border: solid 1px $gray;
				border-radius: 0;
				padding: 15px 20px;
				width: 100%;
				font-family: $SimonCircularBook;
				color: $text-link;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
			}
			&:after {
				@include simonicon($icon-arrow-dark-large);
				font-size: 10px;
				color: $text-link;
				right: 27px;
				top: 0;
				padding: 15px 10px 0px 8px;
				position: absolute;
				pointer-events: none;
			}
			select::-ms-expand {
				display: none;
			}

			option[disabled] {
				color: $gray;
			}
		}
		a {
			text-decoration: underline;
		}
	}
}



// Shipping Information Edit
.shipping-fields-edit {
	h6 {
		margin-bottom: 23px;
		@include breakpoint(mobile){
			padding-top: 20px;
		}
		a {
			margin-left: 5px;
			text-transform: capitalize;
		}
	}
	.editable-text {
		font-family: $SimonCircularBook;
		margin-bottom: 0;
	}
}

.confirmForm{
	float:left;
}
#spreedly-cvv-test{
	height:54px;
	input{
		font-size: 13.3px;
	}
	
}

//Save your Information 
#saveInfo {
	.optional {
		padding-left: 13px;
	}
}
// review order
.review-order{
	.panel-items {
		.cart-checkout-items-order-details {
			padding-right: 0;
			.cart-checkout-items {
				padding-top: 30px;
				padding-bottom: 0;
				border-top: 0;
				border-bottom: 1px solid $gray;
				.confirm-retailer{
					font-family: $SimonCircularBold;
				}
				.checkout-item-heading{
					font-size: 13.31px;
					color: $text-link;
					margin-top: -20px;
					padding-bottom: 20px;
					.total-heading{
						text-align:right;
					}

				}

				&:last-child {
					border-bottom: 0;
					padding-bottom: 30px;
				}
				
				.return-information {
					padding-bottom: 0;
					font-size: 13.31px;
					color: $text-link;
					margin-top: 4px;
					@include breakpoint(mobile) {
						padding-bottom: 20px;
					}
					.subtotal-head{
						@include breakpoint(mobile) {
							float: right;
						}
					}
				}
				.row-pad-btm {
					padding-bottom: 20px;
					.subtotal{
						text-align:right;
						font-family: $SimonCircularBold;
						@include breakpoint(mobile){
							position: absolute;
							bottom: 118px;
							margin-left: 194px;
						}
					}

					.imgContainer{
						@include breakpoint(mobile){
							width: 84px;
						}
						@include breakpoint(desktop){
							width: 105px;
						}
						.img-responsive {
							max-width:100%;
						}
						img{
							max-width:100%;
						}
					}
					
				}
				.price-container-left {
					padding-left: 0;
					
					.promoMessages {
						font-size: 16px;
						line-height: 16px;
						color: $plum !important;
					}
					.price-calculation-container {
						border-top: 1px solid $gray;
					}
				}
				
				.price-calculation-container {
					button.btn {
						margin-top: 30px;
					}
					.price-top-spacing {
						//padding-top: 0;
					}
				}
			}
			.cart-checkout-allitems {
				//margin-bottom: 30px;
			}
		}
		.cart-checkout-items-order-details{
			padding-right: 0;
			.item-padding-btm{
				border-bottom: 1px solid $gray;
			}
		}
		.cart-checkout-items{
			border-top: none;
			padding-bottom: 10px;
			padding-top: 20px;
			border-bottom: 1px solid $gray;

			.price-container-left{
				.price-calculation-container{
					border-top: 1px solid $gray;
				}
			}
		}
		.cart-checkout-allitems{
			padding-top: 10px;
		}
		.view-items {
			cursor: pointer;
			padding: 10px 0;
			padding-bottom: 25px;
			@include breakpoint(mobile){
				padding: 25px 0;
			}
			.view-tab{
				font-size: 16px;
				line-height: 16px;
				letter-spacing: -0.2px;
				font-family: $SimonCircularBold;
				color: $black;
				@include breakpoint(mobile) {
					font-size: 14.4px;
					line-height: 18px;
					letter-spacing: -0.2px;
				}
			}
			.close-tab{
				font-size: 16px;
				line-height: 16px;
				letter-spacing: -0.2px;
				font-family: $SimonCircularBold;
				cursor: pointer;
				padding: 10px 0;
				padding-bottom: 25px;
				color: $black;
				@include breakpoint(mobile) {
					font-size: 14.4px;
				    line-height: 18px;
				    letter-spacing: -0.2px;
				}
			}
			&:after {
				@include simonicon($icon-arrordion-plus);
				font-size: 10.5px;
				float: right;
				color: $text-link;
			}
			&.minus-icon {
				&:after {
					@include simonicon($icon-arrordion-minus);
					font-size: 10.5px;
					float: right;
					color: $black;							
				}
				color: $text-link;
				font-family: $SimonCircularBold;
			}
		}

		.estimated-tax{
			>a{
				img{
					height: 12px;
				}
			}
		}
	}
}