.error-msg{
	padding: 10px 0;
	font-size: 13.3px;
	line-height: 1.25;
	font-family: $SimonCircularBook;
	border-bottom: 1px solid $plum;
	&:before{
		content: "!";
		margin-right: 10px;
		font-size: 20px;
		color: $plum;
		vertical-align: middle;
	}
}
.the-designer-shop.left{
	//margin: 0 !important;
}
.shopperRegistrationPage {
	
	.the-designer-shop.left{
		background:none;
	
	&.left{
		margin: 0 auto;
		text-align:center;
		picture{
			position:relative;
		}
	}
	.content-container{
		@include breakpoint(desktop) {
			position: absolute;
			top: 50%;
			left: 8%;
			width: 50%;			
			padding: 0 0 0 10px;
		}
		@include breakpoint(mobile) {
			padding: 28px 25px 0 25px;
			position: relative;
			clear: both;
			transform: none;
			width: 100%;
		}
		h1{
			font-size: 82.3px;
			font-family: $SimonCircularBold;
			line-height: 0.77;
			letter-spacing: -4.9px;
			text-align: left;
			padding-bottom: 30px;
			text-transform: uppercase;
			@include breakpoint(mobile) {
				font-size: 51.6px;
				line-height: 0.77;
				letter-spacing: -3.1px;
			}
		}
		.designer-banner-text{
			font-size: 19.1px;
			line-height: 1.25;
			letter-spacing: -0.2px;
			margin-top: 0;
			@include breakpoint(mobile) {
				font-size: 17.3px;
				text-align: center;
			}
		}
	}
	}
}
.create-account-container{
	padding-top: 60px;
	@include breakpoint(mobile) {
		padding-top: 35px;
	}
	.captchaContainer{
		padding-bottom: 38px;
		padding-top: 28px;
		@include breakpoint(mobile) {
			padding-bottom: 30px;
		}
		.has-error{
			color: red;
			padding: 10px 0 0;
			font-size: 13.3px;
			line-height: 1.25;
			font-family: $SimonCircularBook;
			display: none;
		}
		.g-recaptcha {
			transform: scale(1.15);
   			transform-origin: 0 0;
   			@include breakpoint(mobile) {
   				transform: scale(1.07);
   			}
		}
	}
	.panel-default {
	    border: none;
	    box-shadow: none;
	    padding-bottom: 30px;
	    .panel-title{
	    	padding-bottom: 14px;
	    	a{
	    		font-family: $SimonCircularBold;
				font-size: 27.6px;
				font-weight: bold;
				line-height: 1;
				letter-spacing: -0.8px;
				@include breakpoint(mobile) {
					font-size: 20.7px;
				}
	    	}
	    }
	    .panel-collapse {
		    border-top: 1px solid $gray;
		    padding-top: 20px;
    		font-size: 16px;
    		line-height: 1.25;
    		font-family: $SimonCircularBook;
    		input[type="text"],select{
    			font-family: $SimonCircularBook;
    		}
    		a{
				text-decoration: underline;
				color: $black;
    		}
    		label{
				@include breakpoint(mobile) {
    			    font-size: 14.4px;
    			}
    			input{
    				padding-top: 0;
    				margin-right: 10px;
    			}
    			.sm-input-group{
    				padding-bottom: 40px;
					@include breakpoint(mobile) {
						padding-bottom: 100px;
					}
    			}
    		}
    		.custom-checkbox{
    			padding-left: 35px;
				@include breakpoint(desktop) {
					padding-left: 38px;
				}
    			.i-checkbox{
    				position: absolute;
					left: 4px;
					top: 2px;
    			}
			}
			
			.custom-checkbox[for="changePassCheckbox"] {
				@include breakpoint(desktop) {
					padding-left: 27px;
				}
				.i-checkbox{
    				position: absolute;
    				left: 0;
    				top: 2px;
    			}
    			
    			&.parsley-error {
    				.i-checkbox{
    					border: 1px solid $red;
    				}
    			}
			}
			
			.input-check{
				ul{
					visibility: hidden;
					margin: 0;
					position: absolute;
				}
			}
    		.select-menu {
				select {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				    height: 52.9px;
				    text-transform: uppercase;
				    border: 1px solid $gray;
				    color: $text-link;
				}
				&:before {
					color: $text-link;
					@include simonicon('\e905');
				    position: absolute;
				    font-size: 10px;
				    margin-top: 22px;
				    right: 21px;
				    pointer-events: none;
				}
				.form-control {
    				color: $text-link;
    				font-size: 13px;
    				&#gender, #countries{
    					color: $black;
    				}
    			}
    			#gender, #countries {
    				color: $black;
    			}
			}
			select::-ms-expand {
			    display: none;
			}  
			.submit-btn{
				display: inline-block;
				@include breakpoint(mobile) {
					.btn{
						width: 100%;
					}
				}
			}
			.terms-conditions {
			    padding-top: 25px;
				color: $text-link;
				position: relative;
				text-align: right;
				@include breakpoint(mobile) {
					padding-left: 40px;
					text-align: left;
				}
				&:before {
					@include simonicon('\e920');
				    position: absolute;
				    margin-left: -25px;
				    font-size: 20px;
				    bottom: 2px;
				}
			}
		    .instructions{
		    	p {		    		
		    		&:first-child {
		    			margin-bottom: 20px;
		    		}
		    	}
		    	ul{
	    			font-family: $SimonCircularBook;
	    			padding-left: 30px;
					@include breakpoint(mobile) {
						margin-bottom: 30px;
					}
					p{
						margin-bottom: 15px;						
					}
		    	}
			}
			.optional-fields{
				font-size: 13.3px;
				line-height: 16.6px;
				font-family: $SimonCircularBook;
				color: $text-link;
				padding-bottom: 23px;
			}
			.list-dropdown-my-profile {
				position: relative;
				select {
					border: solid 1px $gray;
					border-radius: 0;
					padding: 15px 20px;
					width: 100%;
					font-family: $SimonCircularBook;
					color: $text-link;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					height: 52.9px;
				}
				.primary-centers{
					font-size: 11px;
					line-height: 14px;
					color: $text-link;
				}
				&:after {
					@include simonicon($icon-arrow-dark-large);
					font-size: 10px;
					color: $text-link;
					right: 21px;
					top: 21px;
					position: absolute;
					pointer-events: none;
				}
				select::-ms-expand {
					display: none;
				}
			
				option[disabled] {
					color: $gray;
				}
			}
			.select-box{
				position: relative;
				&.open{
					.caret-icon:before{
						transform: rotateX(180deg);
						transition: transform 150ms;
					}
					.dropdown-toggle{
						//border: 2px solid $black;
						border-bottom: 0;
						border-color: $gray;
					}
				}
				.several-centers{
					font-size: 11px;
					line-height: 14px;
					color: $text-link;
				}
				// List dropdown
				.dropdown-toggle{
					border: solid 1px $gray;
					padding: 16px 20px 15px;
					width: 100%;
					text-transform: capitalize;
					color: $text-link;
					background-color: $white;
					display: inline-block;
					text-align: left;
					text-transform: uppercase;
					font-size: 13px;
					line-height: 20px;
				}
				
				.centers {
					&.turnBlack {
						color: $black;
					}
				}

				.dropdown-menu{
					border-radius: 0;
					box-shadow: none;
					width: calc(100% - 0px);
					margin: 0;
					border-color: $gray;
					border-top: 0;
					padding: 5px 0 0;
					background-color: $white;
					border-top: solid 1px $gray;
					height: 352px;
					overflow-y: auto;
					li{
						height:auto;
						overflow:auto;
					}
				}
				.caret-icon:before {
					color: $text-link;
					@include simonicon($icon-arrow-dark-large);
					font-size: 10px;
					float: right;
					line-height: 20px;
				}
			}
			.dropdown-accordion {
				ul.dropdown-menu {
					.item-padding{
						padding: 5px 16px 10px 16px;
						.line-item{
							position: relative;
							a{
								text-decoration: none;
								i{
									left: 18px;
								}
							}
							display: block;
							padding-bottom: 16px;
							&:last-of-type{
								padding-bottom: 0;
							}
						}
					}
					
				}
			}
		}
	}
}