.deals-landing {
	.owl-carousel {
		.item{
			position: relative;
		}
		
		&.slick-initialized {
			margin-bottom: 91px;
		}
		.carousel-content {
			@include breakpoint(mobile) {
				text-align: left;
			}
			
			h1 {
				&.display-large {
					font-size: 57.2px;
					line-height: 44px;
					letter-spacing: -3.4px;
					padding-left: 35px;
					margin-bottom: 20px;
					width: 60%;
					@include breakpoint(mobile) {
						font-size: 43px;
						line-height: 33.1px;
						letter-spacing: -2.6px;
						padding-left: 0;
						width: auto;
					}
				}
			}			
		}

		h5 {
			padding-left: 40px;
			font-size: 19.1px;
			line-height: 23.9px;
			letter-spacing: -0.2px;
			width: 55%;
			@include breakpoint(mobile) {
				font-size: 17.3px;
				line-height: 21.6px;
				letter-spacing: -0.2px;
				padding-left: 0;
			}
		}
	}
	#homepageCarousel.slick-initialized {
		@include breakpoint(mobile) {
	    	margin: 0 -25px 65px;
	    }
	}
}  

.deals-listing{
	.page-context-links{
		margin-bottom: 40px;
	}		
	@include breakpoint(mobile) {
		h1.page-heading {
			margin-top: 5px;
		}
		.the-designer-shop {
			padding: 80px 0;
		}
		.myoffers-container {
			.deal-area-container {
				padding-top: 35px;
			}
		}
	}
	
}


.deals-landing.myoffers-container {
		.modal-container {
			
			
			.shop-now {
				margin-right: 5px;
			}
		}
	}

