.designers-az{
	.the-designer-shop{
		margin-bottom: 30px;
		.content-container{
			.display-medium{
				font-size:57.2px;
			}
		} 
	}
	.account-section-content{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		.custom-heading-links-component{
			padding-top: 30px;
			.heading-border{
				margin-bottom: 10px;
				&:before{
					@include simonicon($icon-fav-filled);
					color: $plum;
					font-size: 20px;
					margin-right: 10px;
				}
			}
		}
		.custom-links {
			a{
				display: inline;
			}
			&.add-to-favorites{
				padding-top: 20px;
				padding-bottom: 10px;
			}
		}
		.links-component{
			padding: 30px 0 0;
			h3{
				font-size: 23px;
				line-height: 23px;
				latter-spacing: -0.2px;
			}
		}
	}
	.designers-pagination-wrapper{
		@include breakpoint(mobile){
			position: relative;
		}
	}
	.pagination{
		margin: 0 0 15px;
		@include breakpoint(mobile){
			position: absolute;
			width: 5%;
			right: 0;
			float: right;
			top: 0;
		}
		
		li{
			a{
				padding-left: 0;
				padding-right: 15px;
				&.disabled{
					color: #b4b2b0;
				}
			}
		}
	}
	.designer-container{
		border-top: 1px solid $gray;
		padding-bottom: 100px;
		.custom-heading-links-component{
			margin-bottom: 45px;
			padding-bottom: 0;
			@include breakpoint(mobile){
				margin-bottom: 50px;
			}
			h3{
				@include breakpoint(mobile){
					margin-bottom: 15px;
				}
			}
		}
	}
}