.summer-txt a{
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}
.designer-listing-banner{
	@include breakpoint(mobile){
		margin-left: -25px;
		margin-right: -25px;
	}
  .left {
    @include breakpoint(mobile){
      margin: 0 0 30px 0!important;
    } 
    .content-container {
      padding-left: 50px;
      top: 47%;
      @include breakpoint(mobile){
        padding-left: 25px;
      }
      h1{
        word-spacing: 0;
      }
      .display-medium{
        font-family: $SimonCircularBook;
        font-size: 27.6px;
        line-height: 27.6px;
        letter-spacing: -0.8px;
        padding-top: 14px;
        @include breakpoint(mobile){
          font-size: 24.9px;
          line-height: 24.9px;
          letter-spacing: -0.8px;
          padding-top: 10px;
        }
      }
      .designer-banner-text{
        font-family: $SimonCircularBook;
        font-size: 19.1px;
        line-height: 19.1px;
        letter-spacing: -0.2px;
        margin-top: 10px;
        @include breakpoint(mobile){
          font-size: 17.3px;
          line-height: 17.3px;
          letter-spacing: -0.2px;
          margin-top: 10px;
        }
      }
      .img-responsive {
        height: auto;
      }
    }
  }
}

.load-more-btn-wrapper {
  .btn {
    display: none;
  }
}

&.page-designerListPage {
	 @include breakpoint(mobile){
		.page-heading{
			padding-top: 0;
		}
	}
}
