.my-account{
	margin: 30px 0;
}
h1.page-heading{
	@include breakpoint(mobile) {
	    font-size: 24.9px;
	    letter-spacing: -0.8px;
	}
}
.email-content{
	padding-top: 10px;
	padding-bottom: 60px;
	font-family: $SimonCircularBook;
	font-size: 16px;
	line-height: 1.25;
	@include breakpoint(mobile) {
	    font-size: 14.4px;
	}
	ul{
		padding-top: 10px;
		padding-left: 30px;
	}
	label{
		font-weight: normal;
		margin: 0;
		padding-top: 10px;
		@include breakpoint(mobile) {
		    font-size: 14.4px;
		}
		input{
			padding-top: 0;
			margin-right: 10px;
		}
		.sm-input-group{
			padding-bottom: 0;
			vertical-align: middle;
			@include breakpoint(mobile) {
				padding-bottom: 100px;
			}
		}
	}
	.submit-btn{
		display: inline-block;
		padding-top: 30px;
		@include breakpoint(mobile) {
			.btn{
				width: 100%;
			}
		}
	}
}