$cellHeight: 20px;
$cellWidth: 50px;
$cellPadding: 5px;

$cellsWide: 5;
$cellsHigh: 15;



.fixedTable {
	overflow: hidden;
  .table {
    background-color: white;
    width: auto;
    tr { 
      td, th {
		border: 2px solid $white;
        padding: $cellPadding;
		vertical-align: middle;
		text-align: center;
		width: 78px;
		min-width: 78px;
		height: 70px;
		min-height: 70px;
		
		@include breakpoint(mobile){
			font-size: 14.4px;
			line-height: 18px;
		}
		
      }
		&.radio-content{
			td{
				&:nth-child(1){
					background-color: transparent;
				}
				background-color: $text-link;
			}
			.custom-radio{
				input[type="radio"]{
					position: static;
				}
			}
		}
    }
  }
  &-header {
    margin-left: $cellWidth + ($cellPadding * 2);
    overflow: hidden;
	margin-top: 10px;
	@include breakpoint(mobile){
		margin-left: 50px;
		padding-left: 0;
		padding-right: 0;
		
	}
	.table {
		background-color: white;
		width: auto;
		margin-bottom: 0;
		tr { 
			td, th {
				height: 20px;
			}
		}
	}
  }
  &-sidebar {
    height: 360px;
    float: left;
    overflow: hidden;
	padding-left: 10px;
    padding-right: 0;
	width: auto;
	@include breakpoint(mobile){
		height: 295px;
	}
	.table{
		tr{
			td{
				padding: 5px 0;
				width: auto;
				min-width: auto;
				border-left: 0;
				text-align: left;
			}
		}
	}
  }
  &-body {
    overflow: auto;
    height: 360px;
    float: left;
	position: relative;
	padding-left: 0;
    padding-right: 0;
	
	@include breakpoint(mobile){
		height: 295px;
		width: 80%;
	}
	.table{
		tr{
			td{				
				&:nth-child(odd) {
					background-color: $light-gray-bg;
				}
				&:nth-child(even) {
					background-color: $gray-light;
				}
			}
		}
	}	
  }
}