        /* MOBILE & DEFAULT STYLES
*************************************************************/

    .simon-md-mega-menu {
        padding: 0;
        .mega-menu-promo{
            .designer-deals{
                 margin: 25px 15px;
                 border:0;
                 background:$background-banner;
            }
            .container{
                width:100%;
                .designer-deals-container{
                    width:40%;
                    h2{
                        margin-top: 15px;
                        padding-left:10px;
                    }
                    h6{
                        margin: 0px 0 0 2px;
                        padding-left:10px;
                    }
                    a.major{
                        padding-right:10px;
                    }
                }
                .designer-deals-img{
                    width:60%;
                }
            }
        }
        .navbar {
            height: 67px;
            @include breakpoint(mobile) {
            	height: 52px;
            }
        }
        .navbar-collapse {
            padding: 0;
            height: 67px !important;
            border: 1px solid $white;
            border-top: 0;
            @include breakpoint(desktop) {
                padding-right: 10px;
            }
            &.navbarborder {
                border: 1px solid $border-color;                
                border-right: 0;
                border-bottom: 0;
            }
        }
        .navbar-nav {
            width: 100%;
            li {
                font-size: 16px;
                line-height: 20px;
                a {
                    font-family: $SimonCircularLight;
                    color: $black;
                    &:hover {
                        color: $black;
                    }
                }
                &.login-area {
                    .dropdown-menu{
                        padding:0;
                    }
                    a{
                        border: 1px solid transparent;
                        padding: 22px 17px;                       
                    }
                    &.open{
                        a {
                            border-left: 1px solid $border-color;
                            border-right: 1px solid $border-color;
                        }
                        .login-top-border{
                            border-top: 1px solid $border-color;
                            width: 290px;
                        }
                    }
                    .sign-up-content{
                        a {
                            border:0;
                            padding:0;
                        }
                    }
                }
            }
            .top-menu-open {
                .dropdown-menu {
                    margin: 1px 0 0 0;
                    -webkit-transition: all .2s;
                    -moz-transition: all .2s;
                    -ms-transition: all .2s;
                    -o-transition: all .2s;
                    transition: all .2s;

                    -webkit-transition: max-height 1s;
                    -moz-transition: max-height 1s;
                    -ms-transition: max-height 1s;
                    -o-transition: max-height 1s;
                    transition: max-height 1s;

                    max-height: 0;
                    display: block;
                    overflow: hidden;
                    opacity: 0;

                    right: -15px;
                    left: -15px;
                    padding: 0;
                    background: transparent;
                    border-radius: 0;
                    box-shadow: none;
                    
                }
                .menu-blur {
                    opacity: 0.5;
                    display: none;
                    background: $black;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
                position:static!important;
                .md-open-icon {
                    padding-right: 13px;
                }
                .dropdown-toggle {
                    display: block;
                    padding: 22px 0 45px 30px;
                    width: 163px;
                    box-sizing: border-box;            
                }
                .menu-open{
                    &:before{
                        width:23px;
                        height:22px;
                        display: inline-block;
                        @include simonicon('\e91c');
                        font-size:20px;
                    }
                }
                .menu-close{
                    &:before{
                        width:23px;
                        height:22px;
                        display: inline-block;
                        @include simonicon('\e90f');
                        font-size:20px;
                    }
                }
                .menu-close,
                .menu-label-close {
                    display: none;
                }
                &.open {
                    .dropdown-toggle {
                        background: $white;
                        border-right: 1px solid $border-color;
                    }
                    
                    .menu-close,
                    .menu-label-close {
                        display: inline-block;
                    }
                    .menu-open,
                    .menu-label-shop {
                        display: none;
                    }
                }
            }
            .menu-fav-links {
                a {
                    display: block;
                    padding: 22px 15px 21px 15px;
                }
            }
        }
        
        .desktop-mega-menu {
            margin: 0 15px;
            border: 0;

            // Mega menu promo banner styling starts
            .mega-menu-promo {
                .designer-deals {
                    @include breakpoint(desktop) {
                        min-height: 117px;
                        margin: 17px 30px 40px;
                        .designer-deals-container {
                            min-height: 117px;
                            &:first-child {
                                padding: 0 0 0 60px;
                                width: 50%;
                            }
                            &:nth-child(2) {
                                width: 30%;
                            }
                            &:last-child {
                                width: 20%;
                                padding-right: 38px;
                            }
                            h2 {
                                padding: 33px 0 4px 0;
                                font-size: 27.6px;
                            }
                            h2,h6 {
                                width: 100%;
                                line-height: 30px;
                            }
                            picture {
                                position: absolute;
                                bottom: 0;
                                .img-responsive {
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                   
                }
            }
            // Mega menu promo banner styling ends
        }
       
        .simon-header-search {
            .search-icon{
                &:before{
                    @include simonicon($icon-search);
                    font-size:21px;
                    position:absolute;
                    top:22px;
                    width:20px;
                    left:34px;
                    height:22px;
                    @include breakpoint(mobile) {
                        top:16px;
                        left:30px;
                    }                    
                }
            }
            border-right:1px solid $white;
            border-left:1px solid $white;
            &.dropdown-shown{                
                .search-close-icon{
                    display:inline-block;
                }
                input {
                	border-left: 1px solid $border-color;
                	border-right: 1px solid $border-color;
                }
            }
           
            width: calc(100% - 392px);         

            .dropdown-menu{
                border: solid 1px $border-color;
                border-top:0;
                margin-top: 0;
                padding: 0;                
                background: $white;
                box-shadow:none;
                @include breakpoint(desktop) {
                	padding-top: 3px;            
                }
                li{
                    a{
                       padding:10px 35px;
                       @include breakpoint(mobile) {
                       		padding:10px 30px;
                       }
                       &:hover{
                            background:$gray-light;
                       }
                    }
                &.active{
                     a{
                        background:$gray-light;
                     }
                }    
                }
            }
            .search-close-icon{
                display:none;
                cursor:pointer;
                right:0;
                padding: 22px;
                top: 0;
                right:0;
                position:absolute;
             	@include breakpoint(mobile) {
             		top: -7px;
             	}
                &:before{
                    @include simonicon('\e90f');
                    font-size:20px;
                }
            }
            input {
                height: 63px;
                width: 100%;
                font-size: 16px;                
                color: $black;
                font-family: $SimonCircularLight;
                background-position: 13px 22px;
                padding-left: 70px;                
                border:0;               
                @include breakpoint(mobile) {
                    font-size: 14.4px;
                    height: 50px;  
                    padding-left: 60px;                  
                }
                &:focus {
                    outline: 0;
                }

                &::placeholder {
                    color: $black !important;
                }
              
            }
            ul{
                
                &.typeahead.dropdown-menu{
                    width: 100%;
                    border-radius: 0;
                }
            }
        }
        .dropdown {
            &.open {
                .dropdown-menu {
					background: $white;                    
                    max-height: inherit;
                    opacity: 1;
                    border: 0;
                }
            }
            .menu-borderleft{
                border-left: 1px solid $border-color;
                border-top: 1px solid $border-color;
                &:before {
                    clear: both;
                    display: block;
                    content: "";
                    position: absolute;
                    width: 130px;
                    height: 1px;
                    background-color: $border-color;
                    top: -1px;
                    left: -128px;
                }
            }
            .menu-level-1 {
                background: $white;
                padding: 0;
                @include breakpoint(desktop){
                    padding-bottom: 0;
                }
                ul {
                    margin: 0;
                    list-style-type: none;
                    padding: 0;
                    li {
                        line-height: 13.3px;
                        &:first-child {
                            margin-top: 10px;
                        }
                        a {
                            font-family: $SimonCircularBold;
                            size: 13.3px;
                            text-transform: uppercase;
                            padding: 10px 10px 10px 30px;
                            display: block;
                            &:first-of-type{
                                margin-top: 1px;
                            }
                            &:hover,
                            &.active {
                                background-color: $gray-light;
                            }
                            &:after{
                                @include simonicon('\e908');
                                color:$black;
                                font-size: 12px;
                                float:right;
                                margin-right:10px;
                            }
                        }
                    }
                }
            }
            .mega-menu-banner {
                background: $gray;
                text-align:center;
                color: $white;
                margin: 30px;
                height: 90px;
                display: none;
                h3{
                    padding-top:25px;
                    color:$white;
                }
            }

            .desktop-cat-panel {
                display: none;
            }
        }

        .desktop-cat-panel {
            > .designer-deals{
                border: 0;
                background-color: $background-banner;
                margin:30px;
                padding: 0;
                > .designer-deals-container > .minor{
                    font-family: $SimonCircularBold;
                    padding-top: 28px;
                    font-size: 27.6px;
                    line-height: 34.5px;
                    letter-spacing: -0.8px;
                    color: $black;
                }
                > .designer-deals-container > h6{
                    margin: 0;
                    padding-left: 3px;
                }
                > .designer-deals-container > a{
                    margin-right: 40px;
                }
            }
            .mega-menu-links {
                padding: 11px 0 5px 5px;
                ul {
                    padding: 0;
                    list-style-type: none;
                    li {
                        font-size: 13.3px;
                        line-height: 13.3px;
                        padding: 10px 0 10px 10px;
                        a {
                            font-family: $SimonCircularBook;
                            &:hover{
                                color:$gray;
                            }
                        }
                        &.cat-heading {
                            font-family: $SimonCircularBold;
                            line-height: 20px;
                            font-size: 16px;
                            a {
                                font-family: $SimonCircularBold;
                            }
                        }
                    }
                }
            }
        }
    }

    .mega-menu-blur {
        &.fade{
            bottom: initial;
        }
        &.menu-is-open.in{
            top: 179px;
            z-index: 9;
            bottom: 0px;
            position:absolute;
        }
    }


    /* DESKTOP VIEW PORT
*************************************************************/

    @include breakpoint(desktop) {
        .simon-sm-search-menu {
            display: none;
        }

        .mobile-mega-menu {
            display: none;
        }


        
    }
    .favor_icons {
        &:before{
            @include simonicon('\e93c');
            font-size:20px;
            margin-right: 10px;
            height: 20px;
            width: 22px;
            float:left;
            margin-top: 0;
        }
    }
    /* MOBILE VIEW PORT
*************************************************************/

    @include breakpoint(mobile) {

        .simon-md-mega-menu {
            padding-left: 25px;
            padding-right: 25px;

           .collapse{
                display:block;
                visibility:visible;
                .navbar-nav{
                    margin:0;
                    float:none;
                }
           }

           .simon-header-search{
                width:100%;
           }
           .simon-header-search{
                border:0px!important;
                .dropdown-menu{
                    border:1px solid $white;
                    margin-top: -1px;
                    padding-bottom: 20px;
                }
           }

           .navbar-collapse{
            border:0;            
            margin: 0 -15px 0 -15px;
           }
        }

        .simon-sm-search-menu .simon-header-search input {
            height: 63px;
            width: 100%;
            font-size: 16px;
            @include breakpoint(mobile) {
                font-size: 14px;
            }
            color: $black;
            font-family: $SimonCircularLight;
            
            background-repeat: no-repeat;
            content: '';
            background-position: 8px 22px;
            padding-left: 40px;
            border: 0;
            &:focus{
                outline:0;
            }
        }

        .mobile-mega-menu {
            position:absolute;
            z-index:99;
            top: 104px; 
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            -webkit-transition: all 250ms linear;
            transition: all 250ms linear;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            margin-top: 16px;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
            -webkit-perspective: 1000;
            background:$white!important;
            .open-accordian{
                &:after{
                    @include simonicon($icon-arrordion-plus);
                    font-size: 10.5px;
                    float: right;
                }
               
                &.minus-icon{
                    &:after{
                        @include simonicon($icon-arrordion-minus);
                    }
                }
            }
            .mobile-accordian{
                a{
                    border-bottom:0;
                    font-family:$SimonCircularBook;
                    font-size:13.3px;
                    line-height:13.3px;
                    text-transform:none;
                    padding: 13px 21px;
                }
                padding-bottom:8px;
            }
        }
        
        .mobile-mega-menu a,
        .mobile-mega-menu div,
        .mobile-mega-menu li,
        .mobile-mega-menu ul {
            -webkit-box-sizing: content-box;
            box-sizing: content-box
        }
        .mobile-mega-menu.open {
            -webkit-transform: translate3d(0px, 0, 0);
            -ms-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
            background: $black;
            background: rgba(0, 0, 0, .5);
        }
        .mobile-mega-menu .widget-region {
            background: $white;
            padding: 10px 20px;
            clear: both;
            -webkit-transform: translateZ(0)
        }
        .mobile-mega-menu nav {
            position: relative
        }
        .mobile-mega-menu ul {
            -webkit-transition: all 250ms linear;
            transition: all 250ms linear;
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            -webkit-transform: translateZ(0);
        }

        .mobile-mega-menu ul.is-in-view{
            @include breakpoint(mobile){
                overflow-y: auto;
                height: calc(100vh - 118px);
            }
        }
        .mobile-mega-menu ul.has-been-viewed {
            -webkit-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0)
        }
        .mobile-mega-menu ul#main {
            left: 71px;
        }
        .mobile-mega-menu ul#main li ul {
            left: 100%;
        }
        .mobile-mega-menu ul li{
            border-bottom: 1px solid $border-color;
            .logoutBtn {
                >a {
                    float: left;
                    margin: 30px 0 8px 25px;
                    height: inherit;
                    border: 0;
                    padding: 20px 26px;
                    color: $white;
                }
            }
        }
        .mobile-mega-menu ul li a {
            -webkit-tap-highlight-color: transparent;
            color: $black;
            font-family: $SimonCircularBold;
            text-transform:uppercase;
            font-size: 13.3px;
            line-height: 13.3px;
            margin: 0;
            padding: 19px 21px;
            text-decoration: none;
            display:block;
        }

        .mobile-mega-menu ul li a.has-next-button{
            &:after{
                @include simonicon($icon-arrow-fwd);
                font-size: 12px;
                float: right;
            }
        }
        .mobile-mega-menu ul li a.next-button {
            display:none;
        }
        .mobile-mega-menu ul li a.next-button .arrow {
            visibility: hidden
        }
        .mobile-mega-menu ul li a.back-button {
            background-color: $gray-light;
            color: $black;
            background-position:21px 20px;
            text-shadow: none;
            
            &:before{
                @include simonicon($icon-arrow-back);
                font-size: 12px;
                margin-right: 7px;              
            }
        }
        .mobile-mega-menu ul li a.close-button {
            color: $white;
            text-align: center;
            text-decoration: none;
            text-shadow: none
        }
        .mobile-mega-menu ul li:last-child>a {
            border-bottom: none
        }
        .mobile-mega-menu ul li:first-child>a {
            border-top: none
        }
        html.no-cssanimations .mobile-mega-menu {
            left: -130%
        }
    }



    .mobile-sidebar-wrapper {
        height:100%; 
        top:0;
        left:0;
        padding-top:10px;
        position:relative;
        z-index:10;
        width:71px;
        background:$black;
        float:left;
        a {
            padding: 11px 0;
            text-align: center;
            display: block;
            > label {
                width: 90%;
                margin: auto;
            }
            span {

                text-align: center;
                display: block;
                height: 20px;
                object-fit: contain;
                font-size: 20px;
                &.shop {
                    height: 23px;
                    font-size: 23px;                   
                    &:before{
                        @include simonicon($icon-shop3);
                    }
                }
                &.login:before{
                    @include simonicon($icon-login);
                }
               
                &.favor:before{
                    @include simonicon($icon-favorites-blank);
                }

                &.find-a-center:before{
                    @include simonicon($icon-find-center);
                }
                &.support:before{
                    @include simonicon($icon-support);
                }
            }
            label {
                text-align: center;
                display: block;
                line-height: 15px;
                font-size: 12px;
                padding-top: 6px;
                font-weight: 400;
            }

            
            &:hover {
                color: $text-link;
            }
            &.active {
                color: $white;
            }
        }
    }
    
// Style Deals


.style-deals {
    .style-items {
        .style-content-container {
            position: relative;
            background-color: $black;
            display: block;
            text-align: center;
            @include breakpoint(desktop) {
                min-height: 346px;
            }
            @include breakpoint(mobile) {
                padding: 22px 0 37px;
            }

            .style-container {
                @include breakpoint(desktop) {                   
                    width: 100%;
                    padding: 30px 20px 20px;
                }

                @include breakpoint(mobile) {
                    padding: 0 28px;
                    display: block;
                }

                picture {
                    display: block;
                    min-height: 158px;
                    position: relative;
                    

                    >img {
                        position: absolute;
                         @include breakpoint(mobile) {
                            width:100%;
                        }
                        top: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        -moz-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                }
                >h5,
                >div>p, >div p,
                >p {
                    color: $white;
                    > a {
                        color: $white;
                    }
                }
                >h5 {
                    margin: 20px 0 12px;
                    > a {
                        font-family: $SimonCircularBold;
                        font-size: 19.1px;
                        letter-spacing: -0.2px;
                    }
                }
                &.black-text {
                    color: $black;
                    >p, a {
                        color: $black;
                    }
                }
                a{
                    text-decoration:none;
                }
                >div {
                    a {
                        color: $white;
                    }
                }
            }
        }

        &:nth-child(3) {
            @include breakpoint(mobile) {
                margin: 35px 0;
            }
            .style-content-container {
                background-color: $text-link;
            }
        }
    }
}

// Placeholder Caps fixed for search 
ul &.parsley-errors-list{
    display: none;
}
#searchInput {
    letter-spacing: -0.2px;
   &::-webkit-input-placeholder { /* Chrome */
        text-transform: none;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        text-transform: none !important;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        text-transform: none !important;
    }
    &:-moz-placeholder { /* Firefox 4 - 18 */
        text-transform: none !important;
    }
    &::-ms-clear { display: none; width : 0; height: 0; }
} 


// Mobile menu

.mobile-mega-menu {
    &.newbg {
        background-color: rgba(0, 0, 0, 0.6) !important;
    }
    #favorite, #support, #login, #myAccount {
        position: fixed;
        left: 0;
        height: auto;
        overflow-y: inherit;
        top: 0;
        width: 100%;
        &.has-been-viewed {
            transform: inherit;
        }
        .back-button {
            display: none;
        }
        >.dropdown {
                width: 0;
                border-bottom: 0;
            > a {
                display: none;
            }
        }
    }
    #login {
        display: none;
        width: 253px;
        margin-left: 71px;
        margin-top: 0;
        padding: 0;
        .sign-up-content {
            padding: 25px;
            .sm-form-control {
                padding-top: 10px;
                .sm-input-group {
                    padding-bottom: 15px;
                }
                .links-container {
                    margin-top: 4px;
                    a {
                        text-decoration: underline;
                    }
                }
                .btn {
                    margin: 15px 0;
                }
            }
            .size-guide-content {
                p {
                    margin: 10px 0;
                }
            }
        }
    }
    ul {
        &.dropdown-menu {
            &.open-slide {
                    display: block;
                    margin-left: 71px;
                    width: 253px;
                    left: 0;
                li {
                    a {
                        text-align: left;
                    }
                }
            }
        }
    }
}
