.tab-accordian{
	margin-bottom: 20px;
}

/* DESKTOP VIEW PORT
*************************************************************/
@include breakpoint(desktop) {
	.tab-accordian{
		.panel-heading{
			display:none;
		}  
		.panel{
			border:none;
			box-shadow:none;
			overflow: hidden;
		}
		.panel-collapse{
			height:auto;
			&.collapse{
				display:block;
			}
		}
	}
}



/* MOBILE VIEW PORT
*************************************************************/
@include breakpoint(mobile) {
	.tab-accordian{
		.tab-content{
			.tab-pane{
			   display:block;
			}    
		}
		.nav-tabs{
			display:none;
		}
		.panel-title a{
			display:block;
		}
		.panel{
			margin:0;
			box-shadow:none;
			border-radius:0;
			margin-top:-2px;
			border-left-color: transparent;
			border-right-color: transparent;
		}
		.panel-body{
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 15px;
		}
		.panel-default{
			>.panel-heading{
				background: transparent;
				border: none;
				padding: 25px 0;
			}
		}
		.tab-pane{
			&:first-child{
			  .panel{
				/* border-radius:5px 5px 0 0; */
			  }
			}
			&:last-child{
			  .panel{
				/* border-radius:0 0 5px 5px; */
			  }
			}  
		}
	}
}