/* MOBILE & DEFAULT STYLES
 *************************************************************/
.header-links {
	font-size:5px;
	
}
.product-img{
	padding-top: 0;
	display: inline-block;
}
.favourite-icon{
	&:before{
		@include simonicon($icon-favorites-blank);
		font-size:20px;
		margin-right: 13px;
		height: 20px;
		width: 20px;
		float:left;
	}
	&.fill{
		&:before{
			@include simonicon($icon-fav-filled);
			color: $plum;
			font-size: 20px;
			margin-right: 10px;
		  }
	}
}


@include breakpoint(mobile) {
.checkout{
	.js-mainHeader{
		.mobile-mini-bag{
		    padding-top: 24px;
		    padding-right: 10px;
		    text-align: right;
		}
		.top-right-links{
			margin-top:0;
			.secure-shopping{
				padding-right:0;
				font-size:11px;
				float:right;
			}
		}
		.mobile-logo{
			text-align:left;
		}
	}
}
}

.js-mainHeader{
	&.checkout-header{
		@include breakpoint(mobile) {
			.top-right-links{
				padding-top:0;
				margin-top:0;

			}
			.secure-shopping{
				padding-right:0;
				font-size:11px;
			}
			.mobile-logo{
				text-align:left;
				padding-left:10px;
			}
		}
	}
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	background:$white;
	.top-right-links {
		li {
			padding:0 25px;
			a {
				font-size: 13.3px;
				line-height: 1;
				letter-spacing: 0.7px;
				text-align: left;
				font-family: $SimonCircularBold;
				color: $white;
				padding:10px 0;
				&:hover {
					color: $white;
				}
				&.help-link{				
					@include breakpoint(desktop) {
						text-transform: uppercase;
					}
				}
			}
			&.mini-cart {
				padding: 0;
				margin-left: 25px;
				height: auto;
				@include breakpoint(mobile) {
					position:static;
				}
				a {
					padding:0 0 0 3px;
				}
				&.open {
					a.minicart {
						background-color: transparent;
						&:focus,&:hover{
							background-color: transparent;
							border-color: transparent;
						}
					}
				}
			}

		}

	}
	.minicart{
		&:before{
          @include simonicon('\e923');
          float:left;
          font-size:26px;
         }
         span{
				position: absolute;
				left: 3px;
				top: 10px;
				width: 24px;
				display: block;
				text-align: center;
				color: $black;
				font-size: 12px;
				line-height: 12px;
				font-family: $SimonCircularBold;
			}
		&.active{
			position:relative;

			&:before{
				@include simonicon('\e925');
				float:left;
				font-size:26px;
			}
			
		}
		width: 100%;
  		height: 27px;
  		object-fit: contain;
  		color:$white;
  		width:24px;
  		margin-right:1px;
  		padding:0;
  		position:relative;
  		text-align:center
	}
	.mini-cart-count{
   		text-align:center;
   		top:10px;
   		left:0;
   		font-size:11px;
   		width:100%;
   		font-family:$SimonCircularBook;
   		position:absolute;
   		color:$black;
	}
	.navigation{
		background:$black;
		height:74px;
		z-index:9;
	}

	.navigation_white{
		background:$white;
		height:64px;
		z-index:9;
	}

.top-header-promo{
	background:$plum;
	color:$white;
	font-family:$SimonCircularBold;
	font-size:13.3px;
	line-height:13.3px;
	padding:5px 0;
	a{
		color:$white;
	}
	.top-promo-text{
		p {
			display: none;
			color: $white;
			font-family: $SimonCircularBold;
			text-align: center;
			padding-top: 8px;
			font-size: 13.3px;
			line-height: 13.3px;
			&:first-child {
				display: block;
			}
			a {
				font-size: 13.3px;
				line-height: 13.3px;
				font-family: $SimonCircularBold;
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
	}
	
	span{
		float:left;
		margin-top: 0px;
		&.arrow-back{
			&:before{
              @include simonicon('\e904');
            	font-size: 11px;

             }
			margin-right:10px;
			cursor:pointer;
			margin-top: 8px;
		}
		&.arrow-right{
			margin-top: 8px;
			margin-left:10px;
			cursor:pointer;
			&:before{
              @include simonicon('\e908');
              font-size: 11px;
             }
		}
		&.promo-close{
			float:right;
			margin-top: 10px;
			cursor:pointer;
			&:before{
              @include simonicon('\e90f');
              font-size: 12px;
             }
		}
		&.promonavi{
			margin-top: 8px;
		}
		
	}

}
}




/* DESKTOP VIEW PORT
*************************************************************/
@include breakpoint(desktop) {
	.container-fluid{

		padding:0 170px;
	}
	
	
	
	.mobile-mini-bag{
		img{
			float:left;
			margin-top:30px;
			margin-right:0;
		}
		.freeshipping{
			img{
				float:none;
				margin-top:-6px;
				margin-right:0;
				@include breakpoint(desktop){
					width:100%;
				}
			}
		}
	}

	.checkout-header{
		img{
			float:right;
			margin-top:30px;
			margin-right:0;
		}
	}
	
	.sitelogo{
		padding: 26px 0;
		float: left;
		position:relative;
		width:384px;
		img, svg{
			width:100%;
		}
	}

	.headerIcon{
		padding: 29px 0;
	}
	
	.nav__right{
		float: right;
    	margin-top: 22px;
    }

	.favoriteslabel{
		font-size: 16px;
  		font-weight: 300;
  		line-height: 1.25px;
  		letter-spacing: -0.2px;
  		font-family: "SimonCircularBook";
  		color:$black;
  		vertical-align: top;
    	padding-top: 10px;
	}
	.nav_custom>li{
		    float: left;
    list-style: none;
    padding: 0 16px;
	}

	.login{
		color:$black;
		font-size: 16px;
  		font-size: 16px;
  		font-weight: 300;
  		line-height: 1.25;
  		letter-spacing: -0.2px;
  		text-align: right;
	    font-family: "SimonCircularBook";
	}

	.first_nav{
		padding:0;
	}
	
	.searchArea{
			float: left;
    		padding-top: 20px;
    		position: relative;
		}
		.menuArea{
			float: left;
    		padding-top: 20px;
    		position: relative;
    		width: 85px;
		}

		.right_navs{
			a{
				padding-bottom:0;
			}
		}

		.carousal_area{
			background-color: $grey-btn-background;
			height:200px;
		}
}

/* MOBILE VIEW PORT
*************************************************************/
@include breakpoint(mobile) {
.js-mainHeader{
	margin-bottom: 27px;
	.top-right-links{
		float:right;
	}

	.mobile-mini-bag{
		position:static;
	}

	.top-right-links{
		 margin-top: 17px;
	}

	.navigation{
		height:64px;
	}
}

.top-header-promo{
	.top-promo-text{
		p{
			font-size:12px;
		}
	}
}
	
	.white-line{
		&:before{
			@include simonicon($icon-hamburger);
		}
		font-size: 22px;
		width: 23px;
  		height: 22px;
  		object-fit: contain;
  		color:$white;
  		display: inline-block;
	}
	.mobile-close-menu{
		&:before{
			@include simonicon($icon-close-large);
		}
		color: $white;
		font-size: 22px;
		width: 23px;
  		height: 22px;
  		object-fit: contain;
  		display:block;
    }
	.navbar-center{
    	position: absolute;
    	left: 50%;
    	transform: translatex(-50%);
    }

    	.main-menu-toggle{
    		margin-top:22px;
    		display:block;
    	}
    	.mobile-logo{
    		padding-top:10px;
    		text-align:center;
    		img{
    			width:94px;
    		}
    	}
		a{
			&.mobile-minicart-icon {
				display: block;
				margin-top: 17px;
				float: right;
			}

		}
	
    .navbar-right {
    float: right !important;
  margin-right: 5px;

    ~ .navbar-right {
      margin-right: 0;
    }
  }

	.logo_mobile{
		padding-top:0 !important;
		img{
			width:80px;
			height:40px;
		}
	}
	
}

// My Account Flyout
.simon-md-mega-menu {
	.navbar-nav {
		.myaccount-dropdown {
			margin-right: 0;
			> li {
				&.open {
					>a {
						border-right: 1px solid $gray-menu-bdr;
					    border-left: 1px solid $gray-menu-bdr;
					    z-index: 10000;
					    position: relative;
					}
				}
				.dropdown-menu {
					border: 1px solid $gray-menu-bdr;
	    			margin-top: -1px;
	    			border-radius: 0;
    				box-shadow: none;
    				padding: 11px 0 !important;
					>li {
						> a {
				 			border: 0;
							font-size: 13.3px;
							padding: 10px 25px;
							font-family: "SimonCircular-Bold";
							text-transform: uppercase;
							margin-top: 1px;
							&:hover {
								background: $gray-bg;
							}
						}
					}
					.logoutBtn {
						padding: 10px 25px;
						float: left;
						margin: 7px 0 8px;
						> a {
							border: 0;
							padding: 0 23px;
							color: $white;
							font-family: "SimonCircular-Bold";
						}
					}
				}
			}
		}
	}
	
}


.support-menu {
			margin-right: 0;
			> li {
				&.open {
					>a {
						background: transparent;
    					border: 0;
    					&:focus {
    						background: none;
    						border: 0;
    						
    					}
    					&:before {
    						content: "";
    						clear: both;
    						display: block;
							border-left: 8px solid transparent;
							border-right: 8px solid transparent;
							border-bottom: 8px solid $white;
							width: 0;
							height: 0;
							left: 32px;
							top: 24px;
							position: absolute;
							display: none;
    					}
					}
				}
				.dropdown-menu {	
	    			border-radius: 0;
    				box-shadow: none;
    				padding: 11px 0 !important;
    				background: $white;
    				top: 52px;
    				right: 0;
					>li {
						padding: 0;
						> a {
				 			border: 0;
							font-size: 13.3px;
							padding: 12px 25px;
							font-family: "SimonCircular-Bold";
							text-transform: uppercase;
							color: $black;
							letter-spacing: normal;
							&:hover {
								background: $gray-bg;
								color: $black;
							}
						}
					}
				}
			}
	
}

header {
    height: 142px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    z-index: 100;
    @include breakpoint(mobile) {	
        height: 116px;
    }
}
.nav-up {
    top: -182px;
}
.mobile-mega-menu{
	@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation: portrait){
		min-height: 900px !important;
	} 
}
.stopScroll {
	overflow: hidden;
	position: fixed;
}

.addScroll {
	height: 518px;
	overflow-y: scroll;
}