.product-container{
   .item-tile {
      padding: 15px 25px 15px 15px;
      border: 1px solid transparent;
      text-align: center;
      
      .imgContainer{
      	    @include breakpoint(desktop){
            	width: 200px;
    			height: 305px;
         	}
         margin-bottom: 10px;
    		background-color: #FFFFFF;
    		@include breakpoint(mobile){
            	width: 150px;
            	height: 229px;
         	}
      }

      &:nth-of-type(3n+1){
         @include breakpoint(desktop){
            clear:left;
         }
      }

      .item-retailer {
         @include breakpoint(mobile){
            display: none;
         }
      }
      &:hover{
         border-color: $gray;
        .item-retailer {
            display: none;
         }
         .color-switches-carousal {
            @include breakpoint(desktop){
               visibility: visible;
               height: 30px;
            }
         }
      }
      @include breakpoint(mobile){	
        .tooltip{
            min-width: 200px;
        }
      }  
   }



   // Tiles hover color carousal
   .color-switches-carousal {
      margin-top: 10px;
      margin-bottom: 6px;
      visibility: hidden;
      height: 0;
      @include breakpoint(mobile){
         visibility: visible;
         height: 21px;
         margin-bottom: 12px;
      }
      
	  .slick-list {
		  height: 0 !important;
	  }	
	  
      &.color-switches-mobile {
         margin-top: 10px;
         .item {
            display: inline-block;
            padding-right: 4px;
            .color-switches {
               display: inline-block;
               width: 20px;
               height: 14px;
            }
            &:nth-child(n+5) {
               display: none;
            }
         }
         .count {
            padding-left: 2px;
            line-height: 14px;
         }
      }
      .slick-list {
         width: 100%;
         margin: 0;
         float: left;
         height: 21px;
         .item {
            .color-palette {
               text-align: center;
               width: 30px;
               height: 21px;
               .color-switches {
                  width: 30px;
                  height: 21px;
                  display: inline-block;
                  margin-bottom: 5px;
                  cursor: pointer;
                  background-size: cover !important;
                  &:hover {
                     &:after {
                        content: "";
                        clear: both;
                        display: block;
                        width: 100%;
                        background: $black;
                        height: 4px;
                        margin-top: 25px;
                     }
                  }
               }
            }
         }
      }

      .slick-arrow {
         color: $gray;
         background: none;
         border: 0;
         position: absolute;
         top: -3px;
         padding-top: 4px;
         font-size: 20px;
         &.slick-prev {
            left:0;
            padding-left: 0;
            z-index : 1;
            &:before {
               @include simonicon($icon-arrow-back);
            }
         }
         &.slick-next {
            right:0;
            padding-right: 0;
            &:before {
               @include simonicon($icon-arrow-fwd);
            }
         }

      }
   }

   .item-responsive{
      @include breakpoint(mobile){
         &.col-xs-6{
            padding: 0;
            border: 0;
            max-width: 150px;
            &:nth-child(2n+1){
               clear: both;
               margin-right: 25px;
            }
            &:nth-child(even) {
               margin-right: 0;
            }
         }
      }
      @media screen and (max-width: 360px) {
        &.col-xs-6{
            padding: 0;
            border: 0;
            max-width: 150px;
            &:nth-child(2n+1){
               clear: both;
               margin-right: 10px;
            }
         }
        }
   }
   .fav-icon{
      position: absolute;
      right: 0px;
      z-index: 1;
      color: $text-link;
      cursor: pointer;
      right: 2px;
      top: 2px;
      &:before {
         @include simonicon($icon-favorites-blank);
         font-size: 22px;
      }
      &.active{
         color: $plum;
         &:before {
            content: $icon-fav-filled;
         }
      }

      & + a {
         text-align: center;
         position: relative;
         @include breakpoint(desktop) {
            width: 200px;
            height: 305px;
         }
         @include breakpoint(mobile) {
            width: 150px;
            height: 229px;
         }
         .img-responsive {
            display: inherit;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
         }
      }
   }

   .item {
      display: inline-block;
      text-align: left;
      position: relative;      
      @include breakpoint(desktop) { 
         max-width: 200px;
      }
      @include breakpoint(mobile) {
         padding-bottom: 35px;
         max-width: 150px;
      }
      
      &:hover {
      	.slick-list {
      		height: auto !important;
      	}
      }

      > a, .item-name, .item-retailer, .color-switches-carousal, .item-color, .item-discrition, .item-price, .item-revised-price{
         max-width: 200px;
         display: block;
         margin-left: auto;
         margin-right: auto;
         @include breakpoint(mobile) {
            max-width: 150px;
         }
      }
		.itemLevelPromotion{
			width: 200px;
		    background-color: $plum;
		    color: $white;
		    padding: 5px 6px;
		    font-family: "SimonCircular-Light";
		    font-size: 12px;
		    line-height: 12px;
		    position: absolute;
		    bottom: 184px;
		    @include breakpoint(mobile) {
	            width: 150px;
	            bottom: 245px;
	         }
		}
      .item-name {
         font-size: 16px;
         line-height: 20px;
         color: $black;
         font-family: $SimonCircularLight;
         @include breakpoint(mobile) {
            font-size: 14.4px;
            line-height: 18px;
         }
         
         &.gray-color {
         	color: $text-link;
         	font-family: $SimonCircularBook;
         }
      }      
      .item-retailer {
         font-size: 16px;
         line-height: 19px;
         color: $black;
         font-family: $SimonCircularLight;
         padding-top: 10px;
      }
      .item-color {
         font-size: 16px;
         line-height: 20px;
         letter-spacing: -0.2px;
         > a {
            color: $black;
            font-family: $SimonCircularBold;
         }
         @include breakpoint(mobile) {
            font-size: 14.4px;
            line-height: 14.4px;
            letter-spacing: -0.1px;
         }
      }
      .item-discrition {
         font-size: 16px;
         line-height: 20px;
         color: $black;
         font-family: $SimonCircularBook;
         padding-top: 12px;
         text-decoration: line-through;
         @include breakpoint(mobile) {
            font-size: 14.4px;
            line-height: 18px;
         }

      }
      .item-price {
         font-size: 16px;
         line-height: 20px;
         color: $plum;
         font-family: $SimonCircularBold;
         letter-spacing: -0.2px;
         @include breakpoint(mobile) {
            font-size: 14.4px;
            line-height: 14.4px;
            letter-spacing: -0.1px;
         }
         >img {
          margin-bottom: 4px;
          height: 10px;
          cursor: pointer;
          padding-left: 4px;
         }
         .tooltip-icon:before{
            @include simonicon($icon-help);
            font-size: 12px;
         }
      }
   }
   .item-revised-price {
      font-size: 16px;
      line-height: 20px;
      color: $black;
      font-family: $SimonCircularBook;
      @include breakpoint(mobile) {
         font-size: 14.4px;
         line-height: 18px;
      }
   }
   .item-discount {
      font-size: 16px;
      line-height: 20px;
      color: $black;
      font-family: $SimonCircularLight;
      @include breakpoint(mobile) {
         font-size: 14.4px;
         line-height: 18px;
      }
   }
}


.product-list {
   @include breakpoint(desktop){
      padding-top: 4px !important;
      margin: 0 -15px !important;
      .item-tile {
         padding: 15px 0; 
         width: 230px;
         &:nth-child(3n+2) {
            margin: 0 78px;
         }
      }
   }
}