.navbar .login-area, #globalLoginModal {
	.links-container {
		margin-bottom: 26px;
	}
	.sm-input-group {
		margin-right: 10px;
		.parsley-custom-error-message,.parsley-required,.parsley-pwdstrength{
			font-size: 11px;
			line-height: 13px;
		}
	}
	.sm-form-control {
		padding-bottom: 30px;
		padding-top: 0;
		margin-bottom: 30px;
		border-bottom: 1px solid $gray;
	}
	.size-guide-content {
		p {
			font-size: 16px;
			line-height: 20px;
			margin-top: 8px;
			margin-bottom: 28px;
		}
	}
}

.navbar{
	.login-area{
		padding: 0;
		.sign-up-content{
			width:370px;
			padding-bottom: 30px;
			a{
				color: $text-link;
				text-decoration: underline;
				font-size: 16px;
				line-height: 20px;
				font-family: $SimonCircularBook;
				&:hover{
					color: $black;
				}
			}
			.navbar-login{
				width:100%;
			}
			p{
				font-size: 16px;
				line-height: 20px;
				font-family: $SimonCircularBook;
				margin-top: 8px;
				margin-bottom: 30px;
			}
			input[type="checkbox"]{
				margin: 2px 0 0;
			}

		}
	}
}

// Checkout Form
.global-login {
	padding: 115px 0 55px;
	@include breakpoint(mobile) {
		padding: 41px 0;		
	}
	.captchaContainer{
		padding-bottom: 30px;
		.has-error{
			color: red;
			padding: 10px 0 0;
			font-size: 13.3px;
			line-height: 1.25;
			font-family: $SimonCircularBook;
			display: none;
		}
	}
	.global-login-containers {
		&:first-child {
			@include breakpoint(mobile) {				
				order: 2;	
				h3 {
					margin-bottom: 29.9px;
				}
			}
		}
		h3 {
			margin-bottom: 28px;
			@include breakpoint(mobile) {
				margin-bottom: 10px;		
				font-size: 24.9px;	
			}
		}
		.links-container {
			margin-bottom: 28px;
			.custom-checkbox{
				float:left;
			}
			.stay-loggedin {
				line-height: 22px;
				float:left;
			}
		}
		.guest-btn {
			margin-top: 20px;
		}
		.btn {
			@include breakpoint(mobile) {
				width: 100%;		
			}
		}

		.forgot-password{
			text-decoration: underline;
		}

	}	
	@include breakpoint(mobile) {
		.row {		
			display: flex;
			flex-flow: column;
		}
		.col-sm-push-1.global-login-containers {
			margin-bottom: 45px;
			order: 1;
		}
	}
}
