// Custom component
.style-items{
    img{
        max-width:100%;
    }
}

.overlayText{
	position: absolute;
    top: 160px;
    .white-text{
        color:$white;
    }
    @include breakpoint(mobile) {
		 top: 0;
	}
	.display-large{
		@include breakpoint(mobile) {
			 font-size: 43px;
		}
	}
       
    h1{
    	padding-bottom: 14px;
    }
}
.left-menu-container{
	ul{
		&.stores{
			li{
				a::before {
				    font-size: inherit;
				    margin-right: 0;
				}
			}
		}
	}	
}

.trending-items:first-child{
    padding-left:0px;
}

.trending-items:last-child{
    padding-right:0px;
}
.custom-component {
    list-style: none;
    padding: 0;
    margin: 0;
    a{
        display: block;
    }
    .columns {
        .img-container {
            padding-bottom: 41px;
            img, svg {
                width: 100%;
            }
            
            h4 {
                padding: 20px 0 0;
                span {
                    height: 20px;
                    overflow: hidden;
                    display: inline-block;
                    font-size: 33.1px;
                    line-height:18px;
                    @include breakpoint(mobile) {
                        font-size: 29.9px;
                        height: 19px;
                    }
                }
            }
            @include breakpoint(mobile) {
                padding-bottom: 40px;
            }
        }
    }
}



// the designer shop banner css
.the-designer-shop {
    margin: 34px 0 70px 0;
    @include breakpoint(mobile) {
        padding: 2px 0 40px 0;
        margin: 0 -25px;
    }
    position: relative;
    >picture {
        display: inline-block;
        img {
            max-width: 100%;
            @include breakpoint(mobile) {
                float: right;
            }
        }
    }

    >a {
        display: block;
    }
       
    .item {
      .carousel-content{
        position: absolute;
        font-family: $SimonCircularBook;
        @include breakpoint(desktop){
          left: 40px;
          top: 135px;
        }
        h1{
          font-size: 27.6px;
          line-height: 27.6px;
          letter-spacing: -0.8px;
          @include breakpoint(mobile){
            font-size: 24.9px;
            line-height: 24.9px;
          }
        }
        h5{
          font-size: 19.1px;
          line-height: 23.9px;
          letter-spacing: -0.2px;
          padding-top: 6px;
          @include breakpoint(mobile){
            font-size: 17.3px;
            line-height: 21.6px;
          }
        }
      }
      &.center-align {
          .carousel-content {
              @include breakpoint(desktop) {
                text-align: center;
                left: 0;
              }
          }
      }
      &.white-text {
          h1, h5,a{
              color:$white;
              a{
                color:$white;
              }
          }
      }
    }
    .content-container {
        text-align: center;
        @include breakpoint(desktop) {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        @include breakpoint(mobile) {
            text-align: left;
            top: 0;
            transform: inherit;
            padding: 37px 0 0 25px;
            position: absolute;
        }

        h1 {
            @include breakpoint(mobile) {
                width: 70%;
                line-height: 40px;
            }
        }

        .designer-banner-text {
            margin: 19px 0 18px;
            font-size:19.1px;
            line-height:23.9px;
            color:$black;
            @include breakpoint(mobile) {
                width: 55%;
                font-size:17.3px;
                line-height:21.6px;
            }
        }
        .shopnow {
            font-family:$SimonCircularBold;
            line-height: 23.29px;
            font-size: 19.1px;
            letter-spacing: -0.2px;
            color: $black;
            span{
                height: 18px;
                overflow: hidden;
                display: inline-block;
                font-size: 27.6px;
                line-height:17px;
                @include breakpoint(mobile) {
                    font-size: 24.9px;
                    height: 17px;
                }
            }
        }
    }

    &.active {
        .content-container {
            h1,
            .designer-banner-text,
            a,
            .shopnow {
                color: $white;
                span {
                    color: $white;
                }
            }
        }
    }

    &.left{        
        padding: 0;
        background: $gray-light;
        .content-container{
            text-align: left;
            padding: 0 0 0 25px;
            width: 200px;
            top: 50%;
            transform: translateY(-50%);
            @include breakpoint(desktop){
                width: 404px;
                padding-left: 50px;
                left: 0;
                transform: translate(0, -50%);
            }
        }
        h1,
        .designer-banner-text{
            width: auto;            
        }
        .designer-banner-text{           
            margin-bottom: 0;
        }
    }
}



// Trending Now SCSS
.trending-now {
    .trending-items {
		&.white-text {
			h6, h4, a {
				color: #fff;
			}
		}
        padding-bottom: 31px;
        &:nth-of-type(3n+1){
		    clear:left;
		}
        a{
            display: block;
        }       
        h4 {
            margin: 13px 0 2px;
            line-height: 23px;
            @include breakpoint(mobile) {
                line-height: 20.7px;
            }
        }

        h6{
            font-family:$SimonCircularBook;
        }
        
        &:first-of-type {
		    padding-left: 15px;
		}		
		&:last-of-type {
		    padding-right: 15px;
		}
		@include breakpoint(mobile) {
			&:first-of-type {
		  	  padding-left: 15px;
			}
            &:last-child {
                margin-bottom: 0;
                padding-right: 15px;
            }           
        }
    }
}


// Common heading
.common-heading {
    .heading {
        border-bottom: 1px solid $gray;
        padding-bottom: 6px;
        margin:0 0 29px 0;
        @include breakpoint(mobile) {
            margin:31px 0 29px;
        }
    }
    .style-items{
        padding-left: 0;
        @include breakpoint(mobile) {
            padding: 0;
        }
    }
    .style-items:last-of-type {
        padding-right: 0;
    }
}

// Designer Deals
.homepage{
    .style-deals{
        margin-bottom: 70px;
        float: left;
        @include breakpoint(mobile) {
            margin: 0 -25px;
        }
        
    }
    .trending-now.common-heading{
        h2{
            margin-left: 0;
            margin-right: 0
        }
    }
}
.page-designerLandingPage .style-deals{
    margin-bottom: 70px;
    @include breakpoint(desktop) {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.designer-deals-section {
	padding: 0 15px;
	margin-left: -15px;
	margin-right: -15px;
}
	
.designer-deals {
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
    margin: 0 0 70px;
    overflow: hidden;
	
	@include breakpoint(desktop) {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-items: baseline;
		align-content: space-between;
	}
  
    @include breakpoint(mobile) {
        margin: 35px 0;
    }
	.row{
		@include breakpoint(desktop) {
			width: 100%;
		}
	}
	
    .designer-deals-container {
		@include breakpoint(desktop) {
		   line-height: 70px;
           padding: 20px 0 10px 15px;
		}

        @include breakpoint(mobile) {
            text-align: center;
        }
        > h2 {           
			margin-top: 18px;
			@include breakpoint(desktop) {
				margin-top: -4px;
				margin-right: 18px;				
			}
        }
        > h6 {
            font-family: $SimonCircularBook;
			@include breakpoint(mobile) {
				margin-bottom: 10px;
			}
        }
        >h2, >h6 {
            @include breakpoint(desktop) {
                float: left;
				line-height: inherit;
            }
        }
        > a {
            font-family: $SimonCircularBold;
            color: $black;
			line-height: inherit;
           
			@include breakpoint(mobile) {
				margin-bottom: 7px;
			}
		   
            @include breakpoint(desktop) {
                float: right;
                line-height: 60px;                
            }
            span{
                font-size: 23px;
                letter-spacing: -0.2px;
                padding-left: 4px;
                @include breakpoint(mobile) {
                    font-size: 20.7px;
                    height: 17px;
                }
            }
        }
       
		&.designer-deals-img{
			picture{
				@include breakpoint(desktop) {
					vertical-align: bottom;
				}
				img{
					@include breakpoint(desktop) {
						margin-bottom: -12px;
						display: inline-flex;
						padding: 0 30px 0 20px;
						vertical-align: bottom;
					}
				}
			}
		}
    }
    
}

// Social Shop
.social-shop {
    background-color: $gray-light;
    padding: 70px 0;
    @include breakpoint(mobile) {
        padding: 40px 0;
    }

    .social-shop-containers {
        a{
            display: block;
        }
        @include breakpoint(mobile) {
            .social-shop-content{
                max-width: 302px;
                padding: 0 15px;
                
                &:last-child{
                    padding-right: 0;
                }
            }
            #carousalFooter{
                .slick-list{
                    margin-bottom: 0;
                }
                .slick-list,
                .slick-track{
                    max-height: 274px;
                }
            }
        }

        >.main-heading {
            font-family: SimonCircular-Bold;
        }
        >.sub-heading {
            font-family: SimonCircular-Light;
            margin-bottom: 7px;
        }
        >p {
            font-family: SimonCircular-Book;
            >a {
                color: $black;
                font-family: SimonCircular-Book;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        >.btn {
            font-size: 13.3px;
            font-family: SimonCircular-Bold;
            letter-spacing: 0.7px;
            margin: 29px auto 0;
            padding: 20px;
            width: 172px;
            line-height: 13.3px;
            @include breakpoint(desktop){
                margin-left: 0;
            }
           
        }

        &.social-shop-content {
            @include breakpoint(mobile) {
                text-align: center;
                margin-top: 40px;
            }
        }
    }
}



// Owl Carousel
#homepageCarousel{
    &.slick-initialized {
        max-width: 1440px;
        margin: 0 auto 65px;
        @include breakpoint(mobile) {
            margin-top: -26px;
        }
        @include breakpoint(desktop) {
            .slick-dots{
                bottom: -40px;
            }
        }
        .slick-slide {
        	height: auto;
        }
        .slick-track{
            background:$gray-light;
            @include breakpoint(mobile) {
                background-color: $white;
            }
        }

        .slick-arrow{
            @include breakpoint(mobile) {
                display:none!important;
            }
            line-height: 0;
            position: absolute;
            top: 50%;
            display: block;
            width: 20px;
            height: 35px;
            margin-top: -10px;
            padding: 0;
            cursor: pointer;
            color: transparent;
            border: none;
            outline: none;
            background: transparent;
            z-index:10;
            font-size: 22px;
            color:$black;
            color:transparent;
            &.slick-prev{
                left:50px;
                &:before{
                  color:$text-link;
                  @include simonicon('\e904');        
                 }
                &:hover{
                    &:before{
                        color:$black;
                    }
                }
            }
            &.slick-next{
                &:before{
                color:$text-link;
                  @include simonicon('\e908');        
                 }
                right:50px;
                &:hover{
                    &:before{
                        color:$black;
                    }
                }
            }
        }
    }
    
    .slick-arrow{
        background: transparent;
        border: 0;
        outline: 0;
        position: absolute;
        z-index: 10;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        &.slick-prev {
            left: 0;
            &:before{
                @include simonicon('\e904');    
            }
        }

        &.slick-next{
            right: 0;
            &:before{
                @include simonicon('\e908');    
            }
        }
    }
    .item{
            position:relative;
     }
}

.owl-carousel {
    .item {
    	.home-carousel-content {
    		.shop-links {
    			a {
    				color: $black;
    			}
    		}
    	}
    	
        > .carousel-content {
            position: absolute;
            z-index: 1;
            @include breakpoint(desktop) {
                @include center-align;
            }
            @include breakpoint(mobile) {
                position: inherit;
                text-align: center;
            }

            h1 {
                margin-bottom: 30px;
                @include breakpoint(mobile) {
                    margin-top: 28px;
                    font-size: 51.6px;
                    line-height: 39.7px;
                    letter-spacing: -3.1px;
                }
            }
            h5 {
                font-family: $SimonCircularBook;
                div {
                    float: none !important;
                    display: inline-block;
                    a {
                        font-family: $SimonCircularBold;
                        font-size: 19.1px;
                        margin-right: 17px;
                        @include breakpoint(mobile) {
                            font-size: 17.1px;
                            &:nth-child(3) {
                                display: block;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                
                @include breakpoint(mobile) {
                    margin-top: 20px;
                }

                &:nth-of-type(2){
                    margin-top: 27px;
                }

                span {
                    height: 18px;
                    overflow: hidden;
                    display: inline-block;
                    font-size: 27.6px;
                    line-height:18px;
                    margin-left: 5px;
                    @include breakpoint(mobile) {
                        font-size: 24.9px;
                        height: 17px;
                    }
                }
            }
            h1, h5 {
                @include breakpoint(mobile) {
                    width: inherit;
                }
            }
        }

        picture, h1, h5 {
            z-index: 1;
            position: relative;
        }
        picture {
            .img-responsive {
                z-index: 1;
                position: relative;
                margin: auto;
            }
        }

        &.center-align {
            .carousel-content {
                @include breakpoint(desktop) {
                    width: 515px;
                    text-align: center;
                    padding: 0;
                }
            }
        }
        @include breakpoint(desktop) {
            &.white-text {
                h1, h5{
                    color:$white;
                    a{
                        color:$white;
                    }
                }
            }
        }
    }
    
    .owl-controls {
        margin: 27px 0;
        .owl-pagination {
            .owl-page {
                margin-right: 4px;
                margin-left: 4px;
                > span {
                    width: 6px;
                    height: 6px;
                    background-color: $gray;
                }
                &.active {
                    > span {
                        background-color: $black;       
                    }
                }
            }
        }
    }

    .loader-background {
        height: 100%;
        width: 100%;
        background-color: $black;
        opacity: 0.5;
        .loader {
            border: 5px solid transparent;
            border-top: 5px solid $white;
            border-bottom: 5px solid $white;
            border-right: 5px solid $white;
            border-radius: 50%;
            margin: 30px auto;
            position: relative;
            width: 54px;
            height: 54px;
            opacity: 1;
            z-index: 1040;
            animation: spin 2s linear infinite;
        }
        
    }
}

.make-default-text {
	font-family: $SimonCircularBook;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
}

.list-dropdown {
      position: relative;
      select {
        border: solid 1px $gray;
        padding: 15px 20px;
        border-radius: 0;
        width: 100%;
        height: 52.9px;
        font-family: $SimonCircularBook;
		font-size: 13px;
        text-transform: uppercase;
        color: $text-link;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
      &:after {
        @include simonicon($icon-arrow-dark-large);
        font-size: 10px;
        color: $text-link;
        top: 18px;
        padding: 0;
        position: absolute;
        pointer-events: none;
      }
      select::-ms-expand {
        display: none;
      }

      option[disabled] {
        color: $gray;
      }
    }

.no-padding {
	padding: 0 !important;
}
  
 .load-more-loader {
	background-image: url('../images/loader.gif');
	background-repeat: no-repeat;
	width: 50px;
    height: 50px;
    display: block;
    margin:0 auto;
} 
 .page-overlay {
 
   .loader-background{
   		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 10;
	    opacity: 0.5;
	    display: block;
   }
    .loader {
    	position: absolute;
        width: 40px;
        height: 40px;
        overflow: hidden;
        position: absolute;
        z-index: 1051;
        top: 50%;
        left: 50%;
        margin-left: -20px;
        margin-top: -20px;
        background-image: url('../images/loader.gif');
        background-repeat: no-repeat;
        background-position: center;
         
    }
    .loaderMsg{
        	width: 250px;
    		position: absolute;
    		top: 55%;
    		left: 44%;
        }
}   

.margin-bottom-zero {
	margin-bottom: 0;
	p{
		display:inline-block;
	}
}

.padding-left-15 {
	padding-left: 15px !important;
}

//Custom Dropdown

.bootstrap-select {
	padding: 0 !important;
	height: auto;
	
	&:after {
		content: '';
	}
	
	.btn {
		background: none;
		border: solid 1px #B4B2B0;
	    color: #757575;
	    box-shadow: none;
	    
	    &:focus{
            outline: 0 !important;
            border: 2px solid black;
        }
	    
	    .bs-caret{
            &:before{
                color: $gray;
                @include simonicon($icon-arrow-dark-large);
                font-size: 10px;
                float: right;
                line-height: 20px;
                position: absolute;
                top: 35%;
                right: 21px;
                margin-top: -2px;
            }
            .caret{
                display: none;
            }
        }
        
        .filter-option {
        	padding-top: 0 !important;
        	margin-top: -1px;
        	white-space: nowrap;
		    text-overflow: ellipsis;
		    padding-right: 30px;
		    color: black;
		    @include breakpoint(mobile) {
                margin-top: 0 !important;
            }
        }
	}
	
	&.open {
		.btn {
			border: 2px solid black;
		}	
	}
	
	.dropdown-menu {
		background: white;
		border-radius: 0;
    	&.open {
        	width: 100%;
        	top: 61px;
        	box-shadow: none;
        }
        
        li {
        	a {
        		padding: 8px 20px;
        	}
        }
    }
}

// Shipping, return & Privacy Modal

.modal {
	.privacy-content {
	    background: #fff;
	    padding: 25px 30px 0 30px;
	}
}

.viewReturnPolicy {
	cursor: pointer;
}

#shippingReturnModal {
	.heading {
		padding-bottom: 10px;
	}
	
	.privacy-content {
		 @include breakpoint(desktop) {
            height: 535px !important;
			overflow-y: scroll;
        }
	}
	
	.shipping-method-default, .shipping-method-1, .shipping-method-2, .return-policy, .privacy-section {
		padding-bottom: 20px;
	}
	
	.arrival-time {
		color: $text-link;
		font-size: 13.3px;
	}
	
	.shipping-message {
		font-size: 13.3px;
	}
	
	.shipping-section, .return-section {
		padding-bottom: 27px;
   		border-bottom: 1px solid $gray;
	}
	
	.return-section, .privacy-section {
		padding-top: 30px;
	}
}

&.page-MenCategoryPage {
	.trending-now.common-heading {
		@include breakpoint(mobile) {	
			.row {				
				margin: 0;
			}
		}
		@include breakpoint(desktop) {				
			.row {
				padding: 0 15px; 
			}
			.trending-items {
				a:first-of-type {
					width: 252px;
				}
				&:first-of-type {
					padding-left: 15px;				
				}
			}
		}
		.style-deals.common-heading {
			h2 {
				margin-bottom: 29px ;
			}
			
		}
	}
}

//Border For Dropdown when it is in open state or value has been selected
.selectBorder {
	border: 2px solid $black !important;
} 

