.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
	
	>li {
		display: inline;
		
		&:first-child > a, &:first-child > span {
			margin-left: 0;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		
		a,span{
			position: relative;
			float: left;
			padding: 6px 10px;
			margin-left: -1px;
			line-height: 1.42857143;
			color: $black;
			text-decoration: none;
			background-color: $white;
		}
	}
}