.login-container{
	.vip-club-signin{
		min-height: 390px;
		background-color: $gray-light;
		padding: 64px 0;
		max-width: 1440px;
    	margin: 0 auto;
		@include breakpoint(mobile) {
			padding: 0;
			height: 100%;
			.container{
				padding: 0;
			}
		}
		.signin-box{
			width: 400px;
			background-color: $black;
			color: $white;
			opacity: 0.8;
			padding: 30px 40px;
			@include breakpoint(mobile) {
				padding: 30px 27px;
				width: 100%;
			}
			h5{
				font-size: 33px;
				line-height: 33.1px;
				letter-spacing: -1px;
				font-family: $SimonCircularBold;
				color: $white;
				text-align: center;
				margin-bottom: 25px;
				span{
					font-family: $SimonCircularLight;
					letter-spacing: -2px;
				}
				@include breakpoint(mobile) {
					font-size: 35.8px;
					line-height: 35.8px;
					letter-spacing: -1.1px;
					span{					
							letter-spacing: -1.1px;
							display: block;
						}
				}
			}
			p{
				font-size: 16px;
				line-height: 1.25;
				text-align: center;
				color: $white;
				font-family: $SimonCircularBook;
				padding: 8px 0 18px 0;
				@include breakpoint(mobile) {
					font-size: 14.4px;
					line-height: 18px;
				}
			}
			.sm-input-group{
				padding-bottom: 30px;
				.field-label{
					font-size: 11.1px;
					line-height: 1.25;
				}
			}
			.custom-checkbox {
				input[type="checkbox"]+.i-checkbox::before{
					color: $white;
				}
			}
			.captchaContainer{
				padding-bottom: 30px;
				.has-error{
					color: red;
					padding: 10px 0 0;
					font-size: 13.3px;
					line-height: 1.25;
					font-family: $SimonCircularBook;
					display: none;
				}
				.g-recaptcha {
					transform: scale(1.06);
		   			transform-origin: 0 0;		   			
				}
			}
			.submit-btn{
				padding: 0 15px 30px 15px;
				.btn{
					width: 100%;
				}
			}
			.bottom-section{
				font-family: $SimonCircularBook;
				ul{
					list-style: none;
					margin-bottom: 0;
					padding: 0;
					text-align: center;					
					li{
						font-size: 16px;
						line-height: 20px;
						display: inline-block;
						line-height: 16px;
						&:first-of-type{
							border-right: 1px solid;
							padding-right: 15px;
						}
						&:last-of-type{
							padding-left: 10px;
						}
						a{
							color: $white;
							line-height: 16px;
						}
					}
				}
				p{
					font-size: 13.3px;
					line-height: 1.25;
					text-align: center;
					padding-bottom: 0;
    				margin-bottom: 0;
				}
			}
		}
	}
	.exclusive-container{
		padding-top: 70px;
		a{
			padding: 0 50px;
			display: inline-block;
			@include breakpoint(mobile) {
				padding: 0 25px;
			}
		}
		.online-offers{
			@include breakpoint(mobile) {
				padding: 30px 25px;
			    background-color: $gray-light;
			    margin: 0 -25px;
			}
			h5{
				font-size: 27.6px;
				line-height: 27.6px;
				letter-spacing: -0.8px;
				font-family: $SimonCircularBold;
				padding-bottom: 6px;
			}
			p{
				font-size: 16px;
				line-height: 20px;
				font-family: $SimonCircularBook;
				padding: 10px 0 28px;				
				@include breakpoint(mobile) {
					padding-bottom: 30px;
				}
			}
			.list-heading{
				padding-bottom: 10px;
				letter-spacing: -0.2px;
				font-size: 19.1px;
				line-height: 19.1px;
				font-family: $SimonCircularBold;
			}
			ul{
				padding-left: 30px;
			}
			.shopper-club{
				padding: 30px 0 60px 0;
				@include breakpoint(mobile) {
				    float: none;
				    padding: 20px 0 30px 0;
				}
			}
			.btn{
				@include breakpoint(mobile) {
					width: 100%;
				}
			}
		}
	}
}

.vip-club-signin-container {	
	.exclusive-container {
		background: $white;		
		@include breakpoint(desktop) {
			.col-md-7 {
				padding-left: 0;
				margin-left: -15px;				
			}
			.online-offers .col-md-6:nth-child(2) {				
				 padding: 0 0 0 30px;
			}
		}
			
	}
	.error-msg:before {
		margin: 5px 10px 10px 0;
		float: left;
	}
}

&.page-login {
	@include breakpoint(mobile) {
		.js-mainHeader {
			margin-bottom: 0;
		}
	}
}