.level-0{
    .has-level-1, .has-level-2{
        > a.accordion-menu{
            width: 100%;
            &:after {
                position: absolute;
                right: 45px;
                 @include breakpoint(desktop){
                    right: 35px;
                 }
            }
        }
    }
}
.right-section{
    margin-bottom: 40px;
    .btn.secondary-btn.show-mobile{
        margin-top: 30px;
    }
}
.my-stores{
    margin-bottom: 20px;
    h2.section-heading{
        font-family: "SimonCircular-Bold";
        font-size: 28px;
        line-height: 22px;
        letter-spacing: -0.8px;
        text-align: left;
        color: $black;
        border-bottom: solid 1px $gray;
        padding-bottom: 10px;
        margin-bottom: 33px;
        text-transform: uppercase;        
    }
    .how-to-add-store {
        float: right;
        text-transform: none;
        @include breakpoint(mobile){
            float: left;
        }
    }
    .about-store{
        margin-bottom: 19px;
    }
    .user-msg{
        margin-bottom: 29px;
    }
    .add-store{
        margin-bottom: 40px;
        @include breakpoint(mobile){
            display: block;
            margin-bottom: 50px;
            min-width: 100%;
        }
    }
    .current-trends{
		margin: 33px 0 60px 0;		
		h3+div{
			margin: 0;
		}
		.btn {
			margin-top: 0;
		}
		 &.comming-soon {
	        	.shop-now a::after {
	        		content: none;
	        	}
	        }
        .store {
            width: 100%;
            height: calc(100vw - 50px);            
            position: relative;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: left top;
            margin-bottom: 32px;
            @include breakpoint(desktop){
                margin-right: 30px;
                margin-bottom: 40px;
                width: 252px;
                height: 252px;
                &:nth-of-type(3n){
                    margin-right: 0;
                }
            }
        }
        .box-background {
            position: absolute;
            top: 0;
            left: 0;
            @include breakpoint(desktop){
                min-width: 252px;
                min-height: 252px;
                max-width: 252px;
                max-height: 252px;
            }
			a{
				display: block;
			}
            img{
                &:hover{
                    cursor: pointer;
                }
            }
            &:after {
                background-color: rgba(0, 0, 0, 0.45);
                content: "";
                display: block;
                clear: both;
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                -webkit-transition: background-color .15s ease-out;
                -moz-transition: background-color .15s ease-out;
                -o-transition: background-color .15s ease-out;
                transition: background-color .15s ease-out;
            }
            &:hover {
                &:after {
                    background-color: rgba(0, 0, 0, 0.20);
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
        .center-content{
            position: absolute;
            width: 100%;
            /*height: 142px;*/
            top: 112px;
            left: 0;
            @include breakpoint(mobile) {
            	position: inherit;
            	width: 265px;
            	margin: 0 auto;
            }
            img{
                position: absolute;
                @include center-align;
                
            }
        }
        
        .shop-now{
            position: absolute;
            bottom: 30px;
            text-transform: uppercase;
            width: 100%;
            left: 0;
            text-align: center;
            color: $white;
            a{
                color: $white;
                &:after{
                    @include simonicon($icon-arrow-fwd);
                    font-size: 8px;
                    padding-left: 8px;
                    vertical-align: middle;
                }
                &.coming-soon {
                    &:after{
                        display: none;
                    }
                }              
            }
        }

        .fav-the-store{
            width: 26px;
            height: 26px;
            background-color: rgba(241, 241, 241, 0.8);
            border-radius: 50%;
            position: absolute;
            top: 10px;
            right: 10px;
            .fav-icon{
                @include center-align;
                position: absolute;
                padding-top: 4px;
                &:before{
                    @include simonicon($icon-favorites-blank);
                    font-size: 18px;
                }

                &.active:before{
                    color: $plum;
                    content: $icon-fav-filled;
                }
            }            
        }
    }
    
    .current-trends+.current-trends{
        margin-top: -40px; 
    }
    .myarea-container{
        .custom-heading-links-component{
            padding-bottom: 0;
        }
        .current-trends{
            .store{
                    margin-bottom: 40px;
            }
        }
        .btn-category{
            margin-top: 8px;
        }
    }
}


