.mycenter{
	.page-context-links{
		margin-bottom: 40px;
	}
	.my-premium-outlet{
		margin-bottom: 30px;
	}
}
.my-center-block{
	@include breakpoint(mobile) {
		margin-top: 30px;
		h4.major{
			padding-top: 20px;
		}
	}
}