.my-designers {
    .custom-links {
        &.add-to-favorites {
            padding-bottom: 20px;
			color: $black;
			padding-left: 0;
        }
		a{
			color: $black;
			&.favor_icons{
				color: $text-link;
			}
		}
    }
    .myfavorites-container {
        .the-designer-shop {
			margin-bottom: 100px;
			clear: both;
			margin-top: 40px;
			@include breakpoint(mobile){
				overflow: hidden;				
				margin-top: 30px;
				margin-bottom: 0;
				padding-bottom: 60px;
				padding-top: 0;
			}
            .content-container{
            	h1.display-medium{
					font-size: 47.7px;
					line-height: 36.7px;
					letter-spacing: -2.9px;
	            	@include breakpoint(mobile){
						font-size: 35.8px;
						line-height: 27.6px;
						letter-spacing: -2.2px;
		            }
            	}
            	.designer-banner-text{
            		letter-spacing: -0.2px;
	            	@include breakpoint(mobile){
						font-size: 17.3px;
						line-height: 21.6px;
		            }
            	}
            	@include breakpoint(mobile){
	            	top: 0;
	            }
            }
        }
        .current-trends{
            margin-bottom: 0;
		}
		p,span{
			font-family: $SimonCircularBook;
			font-size: 16px;
			line-height: 20px;
			margin: 0;
		}
		.myarea-container{
			.analytics-favoriteDesigners{
				.btn{
					margin-top: 25px;
				}
			}
		}
    }
    .the-designer-shop {
        margin-top: 0;
    }
    .page-context-links {
        margin-bottom: 40px;
    }
    .my-premium-outlet {
        margin-bottom: 30px;
    } 
}
.designers-listing-container{
	input[type='text']{
		height: 53px;
		margin-bottom: 28px;
	}
	.designers-listing{
		.scroll-container {
			height: 250px;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 0;
			.custom-checkbox{
				margin-bottom: 14px;
			}
			ul{
				padding-left: 0;
				li{
					list-style: none;
				}
			}
		}
	}
}
.plp-filters{	
	.designers-listing-container{
		
		.designers-listing{
			.scroll-container {
				height: 320px;	
				h6,p{
					margin-bottom: 20px;
				}
			}
			.add-deals{
				color: inherit;
				float: none;	
				text-decoration: underline;
			}
		}
	}
}
&.page-my-designers {	
	.current-trends.row {
		.page-heading {
			margin-left: 15px;
		}
	}
	.custom-links.add-to-favorites{
		margin-bottom: 20px;
	}
}
