.breadcrumbs{
	padding-left: 15px;
	padding-right: 15px;
}
.add-deals{
	font-size: 16px;
    line-height: 42px;
    float: right;
    color: $text-link;
	font-family: $SimonCircularBook;
	text-transform: none;
	letter-spacing: 0;
	@include breakpoint(mobile){
		float: none;
		font-size: 14.4px;
	    line-height: 18px;
	    padding-top: 20px;
	}
}
.left-menu-container{
	display: block;
	@include breakpoint(mobile) {
		display: none;
	}
}
.modal-dialog{
	.modal-header{
		.modal-title{
			 padding: 23px 30px;
			 
			 @include breakpoint(mobile){
			 	padding: 23px 25px;
			 }
		}
		.close{
			margin-right: 30px;
			
			@include breakpoint(mobile){
			 	margin-right: 25px;
			}
		}
	}
	
		.left-menu-container{
		@include breakpoint(mobile) {
			display: block;
			padding: 0 25px;
			.level-0{
				margin-top: 0;
				.has-level-1>a.accordion-menu:after, .myaccount .level-0 .has-level-2>a.accordion-menu:after{
					line-height: normal;
				}
				>li{
					padding: 24px 0 23px;
					border-bottom: 1px solid $gray;
					>a{
						line-height: normal;
						color: $text-link;
						text-transform: none;
						font-family: "SimonCircular-Bold";
						font-size: 14.4px;
						letter-spacing: -0.1px;
						&:after {
							right: 25px;
						}
					}
					>ul{
						padding-top: 15px;
					}
					&.has-level-1 {
						> a {
							&.collapsed {
								color: $text-link;
								&:after {
									color: $text-link;
								}
							}
							color: $black;
							&:after {
								color: $black;
							}
						}
						ul {
							padding-top: 23px;
							li {
								a {
									color: $text-link;
									padding: 10px 0;
    								font-size: 14.4px;
								}
							}
						}
					}
				}
				
			}
		}
	}
}
.my-outlets{
	margin: 0 0 30px 0;
}
.loggedInUser{
		height: 252px;
    	padding: 92px 15px;
    	background: $black;
    	width: 252px;
	}
h1.page-heading{
	@include breakpoint(mobile) {
		font-size: 24.9px;
		line-height: 24.9px;
	}
}
.myfavorites-container{
	
	.product-list {
		padding-top: 22px !important;
	}
	
	.adddesigners-modal{
		.modal-body{
			padding: 30px 30px 0;
			.modal-subtitle{
				margin-bottom: 10px;
			}
		}
		.modal-footer{
			button{
									
				@include breakpoint(mobile){
					margin-bottom: 15px;
					margin-left: 0;
				}
			}
		}
	}
	
	p{
		font-size: 16px;
    	line-height: 20px;
    	color: $black;
    	margin: 0 0 20px 0;
		@include breakpoint(mobile) {
			font-size: 14.4px;
			line-height: 18px;
			margin: 0 0 10px 0;
		}
	}
	.myarea-container{
		padding-top: 30px;
		@include breakpoint(mobile) {
			padding-top: 30px;
		}
		h4{
			font-size: 23px;
			line-height: 23px;
			font-family: $SimonCircularBold;
			letter-spacing: -0.2px;
			padding-bottom: 10px;
			clear: both;
			@include breakpoint(mobile) {
				font-size: 20.7px;
				line-height: 20.7px;
			}
		}
		.callDesignerList {
                margin-top: 10px;
        }
	}
	.btn{
		margin-top: 20px;
		margin-right: 5px;
		@include breakpoint(mobile) {
			width: 100%;
			margin-top: 15px;
			margin-right: 0;
		}
	}
	.current-trends{
	  margin-top: 60px;
	  margin-bottom: 57px;
	  @include breakpoint(mobile) {
	  	margin-top: 50px;
	  }
	 .row{
		margin-left: 0;
		margin-right: 0;
		.trending-items{
			@include breakpoint(mobile) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	 }
	  &.stores {
	  	margin-top: 40px;
	  }
	  
		.page-heading{
			margin-bottom:30px;
			font-family:$SimonCircularBold;
			font-size:27.6px;
			line-height:27.6px;
			letter-spacing:-0.8px;
			text-align:left;
			color:$black;
			border-bottom:1px solid $gray;
			text-transform:uppercase;
			padding-bottom:10px;
			@include breakpoint(mobile) {
		  		margin-top: 0;
			}
		}
		
		.margin-zero {
			margin: 0;
		}
		
	  .trending-items{
		  padding-bottom: 40px;
			@include breakpoint(mobile) {
				height: 365;
			}
			a{
				display: inline-block;
				width: 252px;
				@include breakpoint(mobile) {
					width: 325px;
				}
			}	
		  h4{
			font-size: 23px;
			line-height: 23px;
			padding-top: 16.8px;
			padding-bottom: 6.3px;
		  }

		  h6{
			font-family: $SimonCircularBook;
			font-size: 16px;
			line-height: 20px;
		  }
	  }
	}

	.trending-now{
	  h2{
	    padding-bottom:33px;
	  }
	}

	.heading.major{
	  margin: 0 15px 22px 15px;
	  font-size: 28px
	}
   .add-favorites-container{
      padding: 30px;
      font-size: 16px;
      line-height: 20px;
			
      .add-favorites{
      	padding-bottom: 20px;
      }
      .sign-in{
      	padding: 20px 0;
      	
      	a {
      		color: $black;
      	}
      }
      .panel{
	    border: 0;
	    box-shadow: none;
	    margin: 0;
      }
      .panel-title a{
			font-size: 16px;
			line-height: 16px;
			letter-spacing: -0.2px;
	    	font-family: $SimonCircularBold;
      		padding: 26px 0;
      		border-top: 1px solid $gray;
      		display: block;
	      &:after{
	        @include simonicon($icon-arrordion-plus);
	        font-size: 10.5px;
	        float: right;
	      }
	      &[aria-expanded="true"] {
              color: $black;
              &:after {
              	content: $icon-arrordion-minus;
              	color: $black;
             }
           }
	      &.minus-icon {
	      	color: $black;
	        &:after{
	          @include simonicon($icon-arrordion-minus);
	        }
	        color: $black;
	        font-family: $SimonCircularBold;
	      }
      }
      .collapse {
      	&.in {
      		height: auto !important;
      	}
      }
      .panel-collapse{
      	padding-bottom: 40px;
      	.favor_icons{
      		&:before{
      			font-size: 15px;
    			margin-right: 5px;
    			float: none;
      		}
      	}
		ul{
			padding-left: 25px;
			margin-bottom: 0;
			li{
				padding-left: 10px;
			}
		}
		>.row {
		 >.col-md-4 {
		 	>img {
		 		@include breakpoint(desktop) {
		 			float: right;
		 		}
		 	}
		 }
		}

      }
      ul{
      	list-style: disc;
	      li{
	      	padding-bottom: 20px;
	      }
      }
      .add-favorite-link{
      	font-family: $SimonCircularBold;
      	color: $black;
      	margin-bottom: 16px;
    	display: block;
      	.arrow-fwd{
      		&:before{
				@include simonicon($icon-arrow-fwd);
				font-size: 8px;
				margin-left: 8px; 
			}
		}
      }
   }
   span.fav-icon{
	  &:before{
	    @include simonicon($icon-fav-filled);
	    color: $plum;
	    font-size: 18px;
	    margin-right: 5px;
	    vertical-align: top;
	  }
   }
}
.error-msg{
	padding: 15px 0;
	font-size: 13.3px;
	line-height: 16.6px;
	font-family: $SimonCircularBook;
	border-bottom: 1px solid $red;
	&:before{
		@include simonicon($icon-error);
		margin-right: 10px;
		font-size: 20px;
		color: $red;
		vertical-align: middle;
	}
	/*span{
		color: $red;
	}*/
	
	.update-password-msg {
		 font-size: 13px;
	    font-family: $SimonCircularBold;
	    color: $black;
	    text-decoration: underline;
	}
}

.product-list {
    @include breakpoint(desktop) {
    	padding-top: 30px;
    	margin: 5px 0 20px;
	}
	@include breakpoint(mobile){
      max-width: 325px;
      margin: 5px auto 20px;
   }
}
.share-via-email {
	padding: 30px;
	
	p {
		margin-bottom: 28px;
	}
	p.sub-title {
		font-family: $SimonCircularBold;
		margin-bottom: 10px;
	}
	.message-row {
		padding-bottom: 25px;
		label {
			color: $text-link; 
			text-transform: uppercase;
			font-size: 11.1px;
		}
		textarea::placeholder {
			text-transform: initial;
			color: $black;
		}
	}
	.msg {
		font-size: 13.3px;
		color: $text-link; 
		display: inline-block;
		margin-top: 10px;
	}
	.custom-checkbox {
		margin-bottom: 28px;
	}
	.sm-input-group {
		p {
			margin-bottom: 0;
		}
		&.toEmail {
			padding-bottom: 13px;
		}
	}
	.captchaContainer{
		.has-error{
			color: red;
			padding: 10px 0 0;
			font-size: 13.3px;
			line-height: 1.25;
			font-family: $SimonCircularBook;
			display: none;
		}
		.g-recaptcha {
			transform: scale(1.15);
   			transform-origin: 0 0;
   			@include breakpoint(mobile) {
   				transform: scale(1.07);
   			}
		}
	}
}