.my-account{
	margin: 30px 0;
}
.row-color-gray{
	background-color: $gray-light;
}
h1.page-heading{
	@include breakpoint(mobile) {
	    font-size: 24.9px;
	    letter-spacing: -0.8px;
	}
}

.static-page-container {
	p{
		padding-bottom:40px;
	}
}

.myorder-details-container{
	padding: 10px 15px 0;
	.myorder-order{
		@include breakpoint(desktop){
		padding-bottom: 60px;
		}
	}
	@include breakpoint(mobile){
		padding-bottom: 10px;
	}
	font-family: $SimonCircularBook;
	font-size: 16px;
	line-height: 1.25;
	.myorder-btn-container{
		@include breakpoint(desktop){
			margin-left: -15px;
		}
	}
	.myorder-btn-container-no-order{
		@include breakpoint(desktop){
			margin: 0;
		}
		.myorder-margin-no-order{
			@include breakpoint(mobile){
				margin-bottom: 60px;
			}
		}
	}
	.myorder-margin{
		@include breakpoint(desktop){
			margin-top: -63px;
			margin-bottom: 40px;
		}
		@include breakpoint(mobile){
			margin-bottom: 60px;
		}
	}
	
	@include breakpoint(mobile) {
	    font-size: 14.4px;
	}
	.no-order {
		font-family: $SimonCircularBold;
		@include breakpoint(desktop) {
		margin-top: 10px;
		margin-bottom: 20px;
		}
	}
	.myorder-details{
		.date-bold, .date-detail{
			font-family: $SimonCircularBold;
			line-height: 1;
			letter-spacing: -0.2px;
			text-transform: uppercase;
		}
		.date-bold{
			@include breakpoint(mobile) {
			    padding-bottom: 5px;
			}
			&:last-child {
				@include breakpoint(desktop) {
				    padding-left: 0;
				}
			}
		}
		.date-detail{
			@include breakpoint(mobile) {
			    font-family: $SimonCircularBook;
			}
		}
		.order-detail-col{
			padding-top: 29px;
			padding-bottom: 20px;
			border-bottom: solid 1px $gray;
		}
		.order-detail-row{
			padding-top: 26px;
			padding-bottom: 30px;
			@include breakpoint(mobile) {
			    margin: 0;
			    padding: 20px 5px;
			}
			.order-detail-com{
			    word-wrap: break-word;
				a{
					text-decoration: underline;
					color: $black;
				}
				@include breakpoint(mobile) {
				    padding-bottom: 25px;
				}
				.date-detail {
					text-transform: capitalize;
				}
				&:last-child {
					@include breakpoint(desktop) {
					    padding-left: 0;
					}
				}	
			}
			
			.price{
				color: $plum;
				font-family: $SimonCircularBold;
			}
			
			.order-number {
				padding-right: 35px;
    			word-wrap: break-word;
			}
		}
	}
	.submit-btn{
		display: inline-block;
		padding-top: 30px;
		@include breakpoint(desktop) {
			padding-left: 0;
		}
		@include breakpoint(mobile) {
			.btn{
				width: 100%;
			}
		}
		.load-more {
			visibility: hidden;
		}
	}
}

.status{
	padding-top: 5px;
	position: relative;
	padding-left: 15px;
	@include breakpoint(mobile) {
	    padding-top: 14px;
	}
	&:before{
		content: "";
		position: absolute;
		border-radius: 50%;
		left: -1px;
		width: 12px;
		height: 12px;
		top: 8px;
		@include breakpoint(mobile) {
		    top: 16px;
		}
	}

	&.shipped, &.completed{
		&:before{
			border: 1px solid $plum;
			background-color: $plum;
		}
	}
	
	&.cancel, &.cancelled{
		&:before{
			border: 1px solid $red;
			background-color: $red;
		}
	}
	&.processing{
		&:before{
			border: 1px solid $forum-yellow;
			background-color: $forum-yellow;
		}
	}
}
.order-detail-container-modal{
	.modal-dialog{
    	.modal-content{
			@include breakpoint(desktop) {
				width: 764px;
				margin: 0 auto;
			}
		}
	}
	.modal-body{
		padding: 0 30px 30px;
	}
	.order-detail-container{
		font-size: 16px;
		font-family: $SimonCircularBold;
		letter-spacing: -0.2px;
		@include breakpoint(mobile) {
			font-size: 14.4px;
			letter-spacing: -0.1px;
			line-height: 1;
		}
		.content-space{
			padding-bottom: 30px;
			padding-top: 30px;
			border-bottom: solid 1px $gray;
			.myorder-details{
				display: inline-block;
				width: 35%;
				vertical-align: top;
				@include breakpoint(mobile) {
					width: 100%;
					&:first-of-type{
						padding-bottom: 40px;
					}
				}
			}
			&.last-call {
			border-bottom: 0;
			}
			.return-information{
				font-size: 16px;
			    line-height: 20px;
			    font-family: $SimonCircularBook;
			    color: $text-link;
			    padding-bottom: 32px;
			}
			.customer-service{
			    font-family: $SimonCircularBook;
			    color: $text-link;
			}
			.major{
				padding-bottom: 20px;
			}
			.order-date{
				padding-bottom: 37px;
			}
			.normal-text{
				font-family: $SimonCircularBook;
				p{
					margin-bottom: 0;
				}
			}
			&.last-call{
				padding-bottom: 10px;
				.major{
					padding-bottom: 10px;
				}
				.bold-txt{
					font-family: $SimonCircularBold;
					padding-right: 23px;
				}
				.order-track{
					padding-bottom: 5px;
					.bold-txt{
						width: 18.5%;
						vertical-align:top;
						@include breakpoint(mobile) {
							width: 40%;
						}
					}
					div{
						display: inline-block;
					}
				}
				&.final-estimation{
					border-bottom: 0;
				}
			}
			.cart-items-container{
				@include breakpoint(mobile) {
					padding-top: 20px;
				}
				.checkout-item-heading{
					font-size: 13.31px;
					color: $text-link;
					margin-top: -20px;
					padding-bottom: 20px;
					.subtotal-margin{
						@include breakpoint(desktop){
								margin-left: 0;
								text-align: right;								
						}
					}
					.col-md-offset-8 {
						padding-left: 10px;
					}
				}
				&:first-child {
					padding-top: 0;
				}
				.return-information {
					padding-bottom: 0;
					font-size: 13.31px;
					color: $text-link;
					margin-top: 4px;
				}
				.row-pad-btm {					
					clear: left;
					padding: 0 15px 20px 15px;
					.col-md-2 {											
						padding-right: 0;
						img{
							@include breakpoint(desktop) {
      							width: 105px;
    						}
    						@include breakpoint(mobile) {
      							width: 84px;
    						}
						}
						.subtotal {
							text-align: right;
						}
					}					
				}
				.price-container-left {
					padding-left: 0;
				}
				
				.price-calculation-container {
					button.btn {
						margin-top: 30px;
					}
				}

				.item-description {
					font-size: 16px;
					line-height: 16px;
					letter-spacing: -0.2px;
					font-family: $SimonCircularBold;
					color: $black;
					padding-bottom: 10px;
					> a {
					  color: $black;
					  font-family: $SimonCircularBold;
					}
					@include breakpoint(mobile) {
					  font-size: 14px;
					  line-height: 14px;
					  letter-spacing: -0.1px;
					}
				}

			  .item-price {
			    font-size: 16px;
			    line-height: 20px;
			    font-family: $SimonCircularBook;
			    text-decoration: line-through;
			    color: $black;
			    padding-right: 5px;
			    @include breakpoint(mobile) {
			      font-size: 14.4px;
			      line-height: 18px;
			    }
			  }
			  .item-revised-price {
			    font-size: 16px;
			    line-height: 16px;
			    letter-spacing: -0.2px;
			    font-family: $SimonCircularBold;
			    color: $plum;
			    > img {
			      margin-bottom: 4px;
			      height: 10px;
			      cursor: pointer;
			    }
			    @include breakpoint(mobile) {
			      font-size: 14.4px;
			      line-height: 14.4px;
			      letter-spacing: -0.1px;
			      display: inline-block;
			    }
			  }
		      .subtotal{
		      	@include breakpoint(mobile) {
					float: right;
					display: inline-block !important;
			      }
		      }
			  .item-discount {
			    font-size: 16px;
			    line-height: 20px;
			    font-family: $SimonCircularBook;
			    color: $black;
			    padding-bottom: 10px;
			    @include breakpoint(mobile) {
			      font-size: 14.4px;
			      line-height: 18px;
			    }
			  }
			  .item-qty {
			    font-size: 16px;
			    line-height: 20px;
			    font-family: $SimonCircularBook;
			    color: $black;
			    @include breakpoint(mobile) {
			      font-size: 14.4px;
			      line-height: 18px;
			    }
			  }
			  .item-color {
			    font-size: 16px;
			    line-height: 20px;
			    text-transform:capitalize;
			    font-family: $SimonCircularBook;
			    color: $black;
			    @include breakpoint(mobile) {
			      font-size: 14.4px;
			      line-height: 18px;
			    }
			  }
			  .item-additional-price {
			    font-family: $SimonCircularBook;
			    font-size: 16px;
			    line-height: 16px;
			    color: $plum;
			    padding-top: 5px;
			  }
			  .price-container-left{
			  	padding: 10px 0 20px 10px;
			  	@include breakpoint(desktop) {			  		
			  		padding: 10px 0 20px 10px;
			  	}
			  }
			  .price-calculation-container {
			    border-top: 1px solid $gray;
			   
			    .price-top-spacing {
			      padding-top: 30px;
			    }
			    .estimated-subtotal {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .estimated-sub-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .ship-top-spacing {
			      padding-top: 8px;
			    }
			    .estimated-shipping {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			    }
			    .estimated-shipping-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .choose-method {
			      > a {
			        font-size: 12px;
			        line-height: 15px;
			        font-family: $SimonCircularBook;
			        cursor: pointer;
			        @include breakpoint(mobile) {
			          font-size: 12px;
			          line-height: 15px;
			        }
			      }
			    }
			    .tax-top-spacing {
			      padding-top: 10px;
			    }
			    .estimated-tax {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }

			    .estimated-tax-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .tax-calculation {
			      > a {
			        font-size: 13.3px;
			        line-height: 16.6px;
			        font-family: $SimonCircularBook;
			        cursor: pointer;
			        @include breakpoint(mobile) {
			          font-size: 12px;
			          line-height: 15px;
			        }
			      }
			    }
			    .last-call-spacing {
			      padding-top: 20px;
			    }
			    .last-call-retailer {
			      font-family: $SimonCircularBold;
			      font-size: 16px;
			      line-height: 16px;
			      letter-spacing: -0.2px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 14.4px;
			        letter-spacing: -0.1px;
			        width: 65%;
    				display: inline-block;
			      }
			    }
			    .last-call-price {
			      font-family: $SimonCircularBold;
			      font-size: 16px;
			      line-height: 16px;
			      letter-spacing: -0.2px;
			      float: right;
			      color: $plum;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 14.4px;
			        letter-spacing: -0.1px;
			      }
			    }
			    .you-save-spacing {
			      padding-top: 10px;
			    }
			    .you-save {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .you-save-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			  }
			}
		}
		.order-details-all-items{
			.cart-checkout-allitems{
				&:last-child {
				    border-bottom: 0;
				    padding-bottom: 30px;
				    padding-top: 0;
				}
			  .price-calculation-container {
			    border-top: 1px solid $gray;
			   
			    .price-top-spacing {
			      padding-top: 30px;
			    }
			    .estimated-subtotal {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .estimated-sub-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .ship-top-spacing {
			      padding-top: 8px;
			    }
			    .estimated-shipping {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			    }
			    .estimated-shipping-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .choose-method {
			      > a {
			        font-size: 12px;
			        line-height: 15px;
			        font-family: $SimonCircularBook;
			        cursor: pointer;
			        @include breakpoint(mobile) {
			          font-size: 12px;
			          line-height: 15px;
			        }
			      }
			    }
			    .tax-top-spacing {
			      padding-top: 10px;			      
			      .tooltip-init {
			      	height: 12px;
			      }
			      .tooltip-inner {
					   max-width: 300px;
					   width: 300px;
					}
			    }
			    .estimated-tax {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }

			    .estimated-tax-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .tax-calculation {
			      > a {
			        font-size: 13.3px;
			        line-height: 16.6px;
			        font-family: $SimonCircularBook;
			        cursor: pointer;
			        @include breakpoint(mobile) {
			          font-size: 12px;
			          line-height: 15px;
			        }
			      }
			    }
			    .last-call-spacing {
			      padding-top: 20px;
			    }
			    .last-call-retailer {
			      font-family: $SimonCircularBold;
			      font-size: 16px;
			      line-height: 16px;
			      letter-spacing: -0.2px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 14.4px;
			        letter-spacing: -0.1px;
			      }
			    }
			    .last-call-price {
			      font-family: $SimonCircularBold;
			      font-size: 16px;
			      line-height: 16px;
			      letter-spacing: -0.2px;
			      float: right;
			      color: $plum;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 14.4px;
			        letter-spacing: -0.1px;
			      }
			    }
			    .you-save-spacing {
			      padding-top: 10px;
			    }
			    .you-save {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }
			    .you-save-price {
			      font-family: $SimonCircularBook;
			      font-size: 16px;
			      line-height: 20px;
			      color: $black;
			      float: right;
			      @include breakpoint(mobile) {
			        font-size: 14.4px;
			        line-height: 18px;
			      }
			    }

			  }
			}
		  .cart-help-container {
		    .help-info {
		      font-size: 13.3px;
		      line-height: 16.6px;
		      font-family: $SimonCircularBold;
		      color: $black;
		      padding-top: 30px;
		      @include breakpoint(mobile) {
		        font-size: 12px;
		        line-height: 15px;
		      }
		    }
		    .information {
		      font-size: 13.3px;
		      line-height: 16.6px;
		      font-family: $SimonCircularBook;
		      color: $black;
		      padding-top: 5px;
		      @include breakpoint(mobile) {
		        font-size: 12px;
		        line-height: 15px;
		      }
		    }
		    .question {
		      font-size: 13.3px;
		      line-height: 16.6px;
		      font-family: $SimonCircularBook;
		      color: $black;
		      padding-top: 20px;
		      @include breakpoint(mobile) {
		        font-size: 12px;
		        line-height: 15px;
		      }
		      > a {
		        font-size: 13.3px;
		        line-height: 16.6px;
		        text-decoration: underline;
		        padding-left: 3px;
		        color: $black;
		      }
		    }
		    .more-details {
		      padding-top: 20px;
		      @include breakpoint(mobile) {
		        font-size: 12px;
		        line-height: 15px;
		      }
		      > a {
		        font-size: 13.3px;
		        line-height: 16.6px;
		        text-decoration: underline;
		        color: $black;
		      }
		    }
		  }
		  .close-popup{
		  	padding: 30px 15px 0;
		  	.btn{
		  		
		  	}
		  }
		}
	}
}