
.my-outlets{
	margin: 30px 0;
}
h1.page-heading{
	@include breakpoint(mobile) {
		font-size: 24.9px;
		line-height: 24.9px;
	}
}
.myoffers-container{
	.btn{
		@include breakpoint(mobile) {
			margin-top: 0 !important;
		}
	}
	p{
		font-size: 16px;
    	line-height: 20px;
    	color: $black;
    	margin: 0;
		@include breakpoint(mobile) {
			font-size: 14.4px;
			line-height: 18px;
		}
	}
	
	.deals-padding {
		padding-bottom: 60px;
		@include breakpoint(mobile) {
			padding-bottom: 28px;
		}
	}
	
	.categories-btn {
		@include breakpoint(mobile) {
			padding-top: 30px;
			padding-bottom: 12px;
		}
	}
	
	.deal-area-container{
		padding-top: 40px;
		.deal-details{
			font-size: 23px;
			line-height: 23px;
			font-family: $SimonCircularBold;
			letter-spacing: -0.2px;
			padding-bottom: 10px;
			clear: both;
			@include breakpoint(mobile) {
				font-size: 20.7px;
				line-height: 20.7px;
			}
		}
		
		.deal-details-list {
			@include breakpoint(mobile) {
				padding-bottom: 33px;
			}
		}
	}
	
	.deal-details-container{

		&.my-deals{
			padding-bottom: 0;
			.deal-block{
				margin-bottom: 20px;
			}
		}
		.deal-column{
			&:nth-of-type(3n+1){
				clear: left;
			}
		}
		.fav-icon {
			position: absolute;
			right: 25px;
			top: 10px;
		  &:before{
		    @include simonicon($icon-fav-filled);
		    color: $plum;
		    font-size: 22px;
		  }
		} 
		.icon-fav-blank{
			position: absolute;
			right: 25px;
			top: 10px;
			&:before{
				@include simonicon($icon-favorites-blank);
				color: $text-link;
				font-size: 22px;
			}
		}
		.deal-block{
			background-image: url('../images/bdr-dashed-h.png'), url('../images/bdr-dashed-h.png'), url('../images/bdr-dashed-v.png'), url('../images/bdr-dashed-v.png');
		    background-position: left top, left bottom, left top, right top;
		    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
			padding: 20px;
			text-align: center;
			margin-bottom: 40px;
			@include breakpoint(mobile) {
				margin-bottom: 33px;
				&:last-child {				
					margin-bottom: 0;
				}
			}
			.img-link{
				display: inline-block;
				width: 150px;
				height: 111px;
				border-bottom: 1px solid #b4b2b0;
				@include breakpoint(mobile) {
					width: 192px;
					height: 142px;
				}
				img{
					max-width: 100%;
					max-height: 100%;
				}
			}
			.tooltip{
				top: 33px !important;
				left: 193px !important;
				.tooltip-inner{
					width: 105px;
				}
			}
			.gift-details{
				font-size: 16px;
				letter-spacing: -0.2px;
				font-family: $SimonCircularBold;
				padding: 10px 0;
				text-transform: uppercase;
				.gift{
					line-height: 20px;
					font-family: $SimonCircularBook;
				}
			}
		}
	}
	.btn{
		margin-top: 30px;
		@include breakpoint(mobile) {
			width: 100%;
			margin-top: 0;
		}
	}
	.barcode{
		padding: 50px 30px;
	}
	.modal-container{
		padding: 0 30px 30px;
		.btn{
			@include breakpoint(mobile) {
				width: 100%;
			}
		}
		.offer-full-details{
			text-align: center;
			a{
				display: inline-block;
				width: 100%;
			}
			p{
				font-size: 13.3px;
				line-height: 16.6px;
				font-family: $SimonCircularBook;
				color: $text-link;
				@include breakpoint(mobile) {
					font-size: 12px;
					line-height: 15px;
				}
			}
			.free-shipping{
				letter-spacing: -0.2px;
				font-size: 19.1px;
				line-height: 19.1px;
				font-family: $SimonCircularBold;
				padding: 20px 0;
				color: $black;
				text-transform: uppercase;
				@include breakpoint(mobile) {
					font-size: 17.3px;
					line-height: 17.3px;
				}
			}
		}
		.offer-details-container{
			border-top: solid 1px $border-color;
			padding: 20px 0;
			margin-top: 20px;
			font-size: 13.3px;
			line-height: 16.6px;
		}
	}
}

#modalContent {
    .modal-body {
        .offer-full-details {
        	margin-top: 39px;
            @include breakpoint(mobile) {
            	margin-top: 20px;
            }
            
            .fav-icon {
				position: absolute;
			    right: 25px;
			    top: -2px;
			    @include breakpoint(mobile) {
	            	right: 20px;
	            }
			    &:before {
			    	font-size: 22px;
			    }
			}
			
			span.fav-icon{
			  &:before{
			    @include simonicon($icon-fav-filled);
			    color: $plum;
			    font-size: 18px;
			    margin-right: 5px;
			    vertical-align: top;
			  }
   			}
        }
        .offer-details-container {
            border-width: 2px;
            @include breakpoint(desktop) {
                padding: 25px 0 20px 0;
            }
        }
        .sitelogo {
            @include breakpoint(desktop) {
                padding: 10px 0 0 0;
                width: 100%;
            }
            > h6 {
                float: left;
                margin-right: 20px;
            }
        }
        .free-shipping {
            @include breakpoint(desktop) {
                margin: 30px 0 1px;
            }
        }
        .shop-now {
            @include breakpoint(desktop) {
                margin-right: 7px;
            }
            @include breakpoint(mobile) {
				margin-top: 30px !important;
			}
        }
        .instore {
        	 @include breakpoint(mobile) {
				margin-top: 20px !important;
			}
        }
    }
}




