.my-outlets{
	margin: 0 0 30px 0;	
}
h1.page-heading{
	@include breakpoint(mobile) {
		font-size: 24.9px;
		line-height: 24.9px;
	}
}
.myoutlets-container{
	p{
		font-size: 16px;
    	line-height: 20px;
    	color: $black;
    	margin: 0;
		@include breakpoint(mobile) {
			font-size: 14.4px;
			line-height: 18px;
		}
	}
	.btn{
		margin-top: 30px;
		@include breakpoint(mobile) {
			width: 100%;
		}
	}
	.outlet-items{
		padding-bottom: 100px;
		@include breakpoint(mobile) {
			padding-bottom: 60px;
		}
		.outlet-items-detail{
			padding-top: 40px;
			>a{
				width: 252px;
				height: 252px;
				display: inline-block;
				img{
					width: 100%;
					height: 100%;
				}
			}
			h4{
				padding-top: 18px;
				line-height: 23px;
			}
			&:nth-child(3n+1){
				clear: left;
			}
			@include breakpoint(mobile) {
				padding-top: 10px;
			}
			span{
				font-size: 23px;
				line-height: 23px;
				letter-spacing: -0.2px;
				font-family: $SimonCircularBold;
    			color: $black;
    			padding-top: 20px;
    			display: inline-block;
				@include breakpoint(mobile) {
    				padding-bottom: 20px;
				}
			}
		}
	}
}