.my-account{
	margin: 30px 0;
}
.list-dropdown-my-profile {
	position: relative;
	select {
		border: solid 1px $gray;
		padding: 15px 20px;
		width: 100%;
		font-family: $SimonCircularBook;
		color: $text-link;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		height: 52.9px;
	}
	.primary-centers{
		font-size: 11px;
		line-height: 14px;
		color: $text-link;
	}
	&:after {
		@include simonicon($icon-arrow-dark-large);
		font-size: 10px;
		color: $text-link;
		right: 35px;
    	top: 35px;
		position: absolute;
		pointer-events: none;
	}
	select::-ms-expand {
		display: none;
	}

	option[disabled] {
		color: $gray;
	}
}
.other-links{
	padding: 40px 0 60px ;
	ul{
		a{
			font-size: 13.3px;
			line-height: 16.6px;
			color: $text-link;
			padding-right: 10px;			
		}
		li{
			display: inline-block;
			padding-right: 10px;
		}
		list-style: none;
	    padding-left: 0;
	}
}
.profile-update-msg{
	padding: 10px 0;
	font-size: 13.3px;
	line-height: 1.25;
	font-family: $SimonCircularBook;
	border-bottom: 1px solid $plum;
	@include breakpoint(mobile) {
		margin-bottom: 20px;
	}
	&:before{
		@include simonicon($icon-check-circle);
		margin-right: 10px;
		font-size: 20px;
		color: $plum;
		vertical-align: middle;
	}
	span{
		color: $plum;
	}
}
.myaccount-banner{
	.container{
		width:100%;
		padding: 0;
	}
	&.bottom-banner{
		@include breakpoint(desktop) {
			.the-designer-shop{
				height: 252px;
				.display-medium{
					font-size: 47.7px;
					line-height: 36.7px;
					letter-spacing: -2.9px;
				}
				.content-container{
					padding: 0;
				}
			}
		}
	}
	.the-designer-shop{
		margin:0;
		padding:0;
		height: 360px;
		background:$gray-light;
		.content-container{
			padding-left: 50px;
			h1{
				font-size:57.2px;
				letter-spacing: -3.4px;
				line-height: 44px;
				&.display-medium{
					letter-spacing: -2.9px;
				}
				@include breakpoint(mobile) {
					width: 404px;
					font-size: 43px;
					line-height: 33.1px;
					letter-spacing: -2.6px;
				}

			}
			.designer-banner-text{
				font-size: 19.1px;
				line-height: 23.9px;
				letter-spacing:-0.2px;
				@include breakpoint(mobile) {
					font-size: 17.3px;
				}
			}
		}
	}
}
.banner{
	position: relative;
	.img-caption{
		@include breakpoint(desktop) {
			position: absolute;
			bottom: 100px;
			left: 170px;
			width: 500px;
		}
		@include breakpoint(mobile) {
			padding-top: 30px;
		}
		h1{
			font-size: 82.3px;
			font-family: $SimonCircularBold;
			line-height: 0.77;
			letter-spacing: -4.9px;
			text-align: left;
			padding-bottom: 30px;
			text-transform: uppercase;
			@include breakpoint(mobile) {
				font-size: 51.6px;
				line-height: 0.77;
				letter-spacing: -3.1px;
			}
		}
		p{
			font-size: 19.1px;
			line-height: 1.25;
			letter-spacing: -0.2px;
			@include breakpoint(mobile) {
				font-size: 17.3px;
				text-align: center;
			}
		}
	}
}
.myprofile-container{
	.myprofile{
		padding-top: 50px;
		@include breakpoint(mobile) {
			padding-top: 35px;
		}
	}
	#updatePassword{		
		.instruction-msg{
			padding-bottom: 35px;
			
			&.line1 {
				padding-bottom: 8px;
			}
			
			&.line2 {
				padding-bottom: 15px;
			}
		}
		
		.change-password {
			@include breakpoint(mobile) {
				padding-bottom: 40px;
				overflow: hidden;
			}
		}
		
		.update-password {
			.instructions {
				@include breakpoint(mobile) {
					margin-top: -10px;
					padding-top: 0;
					padding-bottom: 38px;
				}	
			}
		}
	}
	#updatePasswordSection{
		.instruction-msg{
			padding-bottom: 15px;
		}
	}
	.panel-default {
	    border: none;
	    box-shadow: none;
	    padding-bottom: 9px;
	    .panel-title{
	    	padding-bottom: 5px;
	    	a{
	    		font-family: $SimonCircularBold;
				font-size: 19.1px;
				line-height: 1;
				letter-spacing: -0.2px;
				@include breakpoint(mobile) {
					font-size: 17.3px;
					line-height: 17.3px;
				}
	    	}
	    }
	    .panel-collapse{
		    border-top: 1px solid $gray;
		    padding-top: 20px;
    		font-size: 16px;
    		line-height: 1.25;
    		font-family: $SimonCircularBook;
    		input[type="text"],select{
    			font-family: $SimonCircularBook;
    			color: $black;
    		}
			.instruction-msg{
				font-size: 16px;
				line-height: 1.25;
				@include breakpoint(mobile) {
					font-size: 14.4px;
					line-height: 18px;
				}
			}
    		a{
				text-decoration: underline;
				color: $black;
    		}
    		label{
				@include breakpoint(mobile) {
    			    font-size: 14.4px;
    			}
    			input{
    				padding-top: 0;
    				margin-right: 10px;
    			}
    			.sm-input-group{
					input[type="checkbox"]:checked:before{
						margin-top: 0;
					}
					@include breakpoint(mobile) {
						
					}
    			}
    		}
    		.select-menu {
				select {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					-webkit-appearance: none;
					-moz-appearance: none;
				    height: 52.9px;
				}
				&:before {
					color: $text-link;
					@include simonicon('\e905');
				    position: absolute;
				    font-size: 10px;
				    margin-top: 22px;
				    right: 15px;
				}
			}
			.submit-btn{
				display: inline-block;
				@include breakpoint(desktop){
					padding-right: 0;
   					width: 15.55567%;
				}
				@include breakpoint(mobile) {
					.btn{
						width: 100%;
					}
				}
			}
			.terms-conditions {
			    padding-top: 15px;
			    padding-right: 0;
				color: $text-link;
				position: relative;
				@include breakpoint(mobile) {
					padding: 30px 15px 30px 15px;
					text-align: left;
				}
				@include breakpoint(desktop){
					padding-left: 21px;
					&.small-text{
						padding-left:0;
					}
				}
				.security{
					text-align: right;
					line-height: 20px;
					float:right;
					&:before {
						@include simonicon('\e920');
					    position: absolute;
					    margin-left: -25px;
					    font-size: 20px;
					}
				}
		    	.faqs{
					float: left;
					color: $text-link;
					font-size: 16px;
					line-height: 20px;
					@include breakpoint(mobile) {
				    	font-size: 14.4px;
						line-height: 18px;
					}
		    	}
			}
		    .instructions{
				padding-top: 20px;
		    	ul{
	    			font-family: $SimonCircularBook;
	    			padding-left: 30px;
					@include breakpoint(mobile) {
						margin-bottom: 30px;
						font-size: 14.4px;
					}
					li{		
						@include breakpoint(desktop) {
							float: left;
							width: 34%;
						}
					}
		    	}
		    }
		    .form-fields{
		    	@include breakpoint(desktop) {
			    	padding-top: 55px;
			    }
		    }
	    	.update-profile{
	    		padding-bottom: 30px;
				margin-top: -3px;
	    	}
	    	
	    	.update-msg {
	    		padding-top: 32px;
	    	}
		}
		&.next-section{
    		padding-top: 50px;
	    	@include breakpoint(mobile) {
		    	padding-top: 30px;
		    }
			.select-box{
				position: relative;
				&.open{
					.caret-icon:before{
						transform: rotateX(180deg);
						transition: transform 150ms;
					}
					.dropdown-toggle{
						//border: 2px solid $black;
						border-bottom: 0;
						border-color: $gray;
					}
				}
				.several-centers{
					font-size: 11px;
					line-height: 14px;
					color: $text-link;
				}
				// List dropdown
				.dropdown-toggle{
					border: solid 1px $gray;
					padding: 16px 20px 15px;
					width: 100%;
					text-transform: capitalize;
					color: $text-link;
					background-color: $white;
					display: inline-block;
					text-align: left;
					text-transform: uppercase;
					font-size: 13px;
					line-height: 20px;
				}

				.dropdown-menu{
					border-radius: 0;
					box-shadow: none;
					width: calc(100% - 30px);
					margin: 0 15px;
					border-color: $gray;
					border-top: 0;
					padding: 5px 0 0;
					background-color: $white;
					border-top: solid 1px $gray;
					li{
						height:300px;
						overflow:auto;
					}
				}
				.caret-icon:before {
					color: $text-link;
					@include simonicon($icon-arrow-dark-large);
					font-size: 10px;
					float: right;
					line-height: 20px;
				}
			}
			.dropdown-accordion {
				ul.dropdown-menu {
					.item-padding{
						padding: 5px 16px 10px 16px;
						.line-item{
							a{
								text-decoration: none;
							}
							display: block;
							padding-bottom: 16px;
							&:last-of-type{
								padding-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}