.mysizes {
	.nav-tabs{
		@include breakpoint(desktop){
			margin-bottom: 0;
		}
	}
	.panel-body{
		padding-left: 0;
		padding-right: 0;
	}
	
	.list-group-item{
		display: flex;
		@include breakpoint(desktop){
			border-bottom: 1px solid #ddd;
			border-top-color: transparent;
			margin-bottom: 0;
			border-left-color: transparent;
			border-right-color: transparent;
			padding-top: 28px;
			padding-bottom: 30px;
			
		}
		@include breakpoint(mobile){
			display: block;
			overflow: hidden;
			border: none;
		}
		
		a.btn{
			@include breakpoint(desktop){
				float: right;
			}
			@include breakpoint(mobile){
				margin-top: 15px;
				margin-bottom: 10px;
			}
		}
	}
	.page-context-links{
		margin-bottom: 40px;
	}
	.editsize-modal{
		height: 100vh;
		min-height: 100vh;
		
		.modal-body{
			padding: 30px 30px 0;
			.size-table {

				tr {
					
					&.radio-content{
						td{							
							background-color: $text-link;
						}
						.custom-radio{
							input[type="radio"]{
								position: static;
							}
						}
					}
				}
			}
		}
		.modal-footer{
			button{
									
				@include breakpoint(mobile){
					margin-bottom: 15px;
					margin-left: 0;
				}
			}
		}
	}

}


#editSizeModal {
	.modal-body {
		padding: 28px 30px 0 19px;
	}
	.modal-content {
		display: none;
	}
}

.mysizes-container {
	&.tab-accordian {
		.panel-heading {
			display: block;
		}

		@include breakpoint(mobile){
			.tab-content {
				border-top: 1px solid $gray;
				margin-top: 30px;
				padding-bottom: 40px;
				.tab-pane {
					border-bottom: 1px solid $gray;
					.heading-mobile {
						padding: 27px 0;
						> a {
							font-family: "SimonCircular-Book";
						    font-size: 14.4px;
						    line-height: 14.4px;
						    color: $black;
						    display: block;
						    position: relative;
						    color: $text-link;
						    &:after {
						    	position: absolute;
						    	top: 0;
    							right: 0;
    							font-size: 10px;
						    	@include simonicon($icon-arrordion-plus);
						    }
						}
					}
					.panel {
						display: none;
						border: 0;
					}
					&.active {
						.heading-mobile {
							> a {
								font-family: "SimonCircular-Bold";
								color: $black;
								&:after {
									@include simonicon($icon-arrordion-minus);
								}
							}
						}
						.panel {
							display: block;
							border-top: 0;
							.panel-body {
								ul {
									li {
										margin: 0;
									    border: 0;
									    padding: 0;
									    .list-group-item-text {
									    	margin-bottom: 10px;
									    }
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



#editSizeModal {
	.secondary-btn {
		@include breakpoint(mobile){
			margin: 15px 0 0;
		}
	}
	.size-guide-content {
		@include breakpoint(desktop){
			padding-left: 10px;
		}
	}
	.modal-footer {
		padding: 30px;
		@include breakpoint(mobile){
			padding-top: 0;
		}
	}
	.fixedTable {
		margin-top: -2px;
		.fixedTable-sidebar, .fixedTable-body {
			height: auto;
			table{
				tr{
				td{
					padding:5px 15px;
					font-family : $SimonCircularBold;
				}
				}
			}
		}
		.fixedTable-sidebar {
			.noopratorsizes {
				@include breakpoint(desktop){
					height: 40px;
				}
			}
		}
		.fixedTable-body {
			@include breakpoint(mobile){
				width: 76%;
			}
			tr {
				&:first-child {
					td {
						padding: 26px 0 8px 0;
    					height: auto;
    					background: none;
					}
				}
			}
			.sizeRadio{
				@include breakpoint(desktop)
					padding-bottom:0;
				}
			input[type="radio"] {
				
			    width: 16px;
			    height: 16px;
			    border: 1px solid $gray;
			    border-radius: 50%;
			    outline: none;
			    &:checked {
			    	background: $white;
			    	&:before {
						width: 53%;
						height: 53%;
						margin: 27% 28% 31% 19%;
						top:0.3px;
						left:0.5px;
			    	}
			    }
			}
		}
		.fixedTable-header {
			margin-left: 20px;
			table{
				@include breakpoint(desktop){
					margin-left: 40px;
				}
				
				thead{
					tr{
						td{
							font-family : $SimonCircularBold;
						}
					}
				}
			}
		}
		.table tr.radio-content td:nth-child(1) {
			background-color: $light-gray-bg
		}
	}
}

.myaccount-banner{
	.modal{
		.modal-dialog{
			@include breakpoint(desktop){
				width:880px;
			}
		}
	}
}

.mysizes-container{
	.edit-btn{
			padding:0 18px;
	}

	@include breakpoint(desktop){
		margin-top: 39px;
		.nav-tabs {
			border-width: 1px;
			border-bottom-color: $gray-bdr2;
			margin-bottom: 0;
			li {
				margin-bottom: -2px;
				> a {
					border-radius: 0;
    				padding: 15px 20px;
					color: $text-link;
					font-size: 13.3px;
					&:hover {
						border-color: transparent;
					}
				}
				&.active {
					>a {
						border-radius: 0;
						color: $black;
						border-width: 1px;
						border-color: $gray-bdr2;
						border-bottom-color: transparent;
					}
				}
			}
		}
		.tab-content {
			.panel-body {
				padding: 0 15px;
				.item-listing {
					margin-bottom: 0;
					> li {
						border: 0;
					    padding: 0;
					    border-bottom: 1px solid $gray;
					    border-radius: 0;
					    padding: 30px 0;
					    position: relative;
					    .no-pad {
					    	&:first-child {
					    		@include breakpoint(desktop){
									position: absolute;
								    width: 100%;
								    top: 50%;
								    left: 50%;
								    -webkit-transform: translate(-50%, -50%);
								    -ms-transform: translate(-50%, -50%);
								    transform: translate(-50%, -50%);
						    	}
					    	}
					    	&:last-child {
					    		text-align: right;
					    		float: right;
					    	}
					    }
					}
				}
			}
		}
	}
			
			
}