.confirm {
  .the-designer-shop{
    margin-bottom:40px;
    @include breakpoint(mobile) {
      display: none;
    }
  }
  .bottom-hero-image{
    @include breakpoint(desktop) {
    margin-bottom: 60px;
    margin-top: 20px;
    }
  }
  .loader-background {
    background-color: $white;
    opacity: 0.5;
    .loader {
      border: 4px solid transparent;
      border-top: 4px solid $black;
      border-bottom: 4px solid $black;
      border-right: 4px solid $black;
      border-radius: 50%;
      margin: 20px auto;
      position: relative;
      width: 40px;
      height: 40px;
      opacity: 1;
      z-index: 1040;
      animation: spin 2s linear infinite;
    }
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
  .confirm-retailer{
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.2px;
    font-family: $SimonCircularBold;
    cursor: pointer;
    padding: 30px 0 5px 0;
    color: $black;
    @include breakpoint(mobile) {
      font-size: 17.3px;
      line-height: 17.3px;
      letter-spacing: -0.2px;
    }
  }
  .the-designer-shop{
	  .content-container{
	      text-align:left;
	      padding-left:40px;
	      top: 50%;
	    .designer-banner-text {
	      color: $gray !important;
	      font-size: 68.6px;
	      line-height: 52.8px;
	      letter-spacing: -4.1px;
	      text-transform: uppercase;
	      font-family: $SimonCircularBold;
	      margin: 0;
	    }
	    .shopnow {
	      padding-top: 20px;
	      display: inline-block;
	      > span {
	        padding-left: 5px;
	      }
	    }
	   }
	  }
  .cart-order-summary {
    padding-top:0;
    .btn {
      @include breakpoint(mobile) {
        display: none;
      }
    }
    .bag-summary{
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      padding-bottom: 22px;
      font-family: $SimonCircularBold;
      color: $black;
      > a{
        img{
          height: 12px;
        }
      }
    }
    .view-bag-summary{
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 14.4px;
        letter-spacing: -0.1px;
        cursor: pointer;
        font-family: $SimonCircularBook;
        color: $text-link;
        padding: 26px 0;  
        &:after{
          @include simonicon($icon-arrordion-plus);
          font-size: 10.5px;
          float: right;
        }
        &.minus-icon {
          &:after{
            @include simonicon($icon-arrordion-minus);
          }
          color: $black;
          font-family: $SimonCircularBook;
        }
      }
    }
    .border-btm{
      @include breakpoint(mobile) {
        border-bottom: solid 1px $gray;
        margin-left: -25px;
        margin-right: -25px;
      }
    }
    .summary-border-top{
      @include breakpoint(mobile) {
        border-bottom: solid 1px $gray;
        margin-left: -25px;
        margin-right: -25px;
      }
    }
  }
  .confirmation-heading {
    padding-bottom: 30px;

    @include breakpoint(desktop) {
      margin-right: 49px;
    }
    .thank-you {
      span{
        text-transform : capitalize;
      } 
      color: $plum;
      font-size: 27.6px;
      line-height: 27.6px;
      letter-spacing: -0.8px;
      font-family: $SimonCircularBold;
      @include breakpoint(mobile){
        font-size: 24.9px;
        line-height: 24.9px;
        padding-top: 40px;
      }
    }
    .order-number {
      font-size: 19.1px;
      line-height: 19.1px;
      letter-spacing: -0.2px;
      padding-top: 30px;
      font-family: $SimonCircularBold;
      @include breakpoint(mobile){
        font-size: 17.3px;
        line-height: 17.3px;
      }
    }
    .order-receipt{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      padding-top: 10px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
  }
  .account-created-heading{
    padding-bottom: 30px;
    @include breakpoint(desktop) {
      margin-right: 49px;
    }
    .account-success-text {
      font-size: 19.1px;
      line-height: 19.1px;
      letter-spacing: -0.2px;
      font-family: $SimonCircularBold;
      @include breakpoint(mobile){
        font-size: 17.3px;
        line-height: 17.3px;
      }
    }
    .account-success-confirm{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      padding-top: 10px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
  }
  .account-already-exist{
    padding-bottom: 30px;
    @include breakpoint(desktop) {
      margin-right: 49px;
    }
    .already-exist-text {
      font-size: 19.1px;
      line-height: 19.1px;
      letter-spacing: -0.2px;
      font-family: $SimonCircularBold;
      @include breakpoint(mobile){
        font-size: 17.3px;
        line-height: 17.3px;
      }
    }
    .already-exist-msg{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      padding-top: 10px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
      >a{
        color: $black;
        text-decoration: underline;
      }
    }

  }

  .account-created-error{
    padding-bottom: 30px;
    @include breakpoint(desktop) {
      margin-right: 49px;
    }
    .already-exist-text {
      font-size: 19.1px;
      line-height: 19.1px;
      letter-spacing: -0.2px;
      font-family: $SimonCircularBold;
      @include breakpoint(mobile){
        font-size: 17.3px;
        line-height: 17.3px;
      }
    }
    .already-exist-msg{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      padding-top: 10px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
      >a{
        color: $black;
        text-decoration: underline;
      }
    }

  }

  .confirmation-create-account{
    padding-bottom: 30px;
    @include breakpoint(desktop) {
      margin-right: 49px;
    }
    .create-account-heading {
      font-size: 19.1px;
      line-height: 19.1px;
      letter-spacing: -0.2px;
      font-family: $SimonCircularBold;
      @include breakpoint(mobile){
        font-size: 17.3px;
        line-height: 17.3px;
      }
    }
    .create-account-msg{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      padding-top: 10px;
      padding-bottom: 30px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .btn-create-account {
      margin-top: 15px;
    }
    .btn-size{
      @include breakpoint(mobile){
        width: 100%;
      }
    }
  }
  .shipping-payment-method{
    border-top: 1px solid $gray;
    @include breakpoint(desktop) {
      margin-right: 52px;
    }
    padding: 30px 0;
    @include breakpoint(mobile){
      margin-right: 0;
    }
    .shipping-heading {
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      font-family: $SimonCircularBold;
      padding-bottom: 20px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 14.4px;
        letter-spacing: -0.1px;
      }
    }
    .payment-heading{
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      font-family: $SimonCircularBold;
      padding-bottom: 20px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 14.4px;
        letter-spacing: -0.1px;
        padding-top: 40px;
      }
    }
    .shipping-address{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .payment-method{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      text-transform: uppercase;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
  }
  .cart-checkout-items-order-details{
    @include breakpoint(desktop){
      margin-right: 52px;
    }
    .strike{
	  text-decoration: line-through;
	}
	
    .cart-checkout-items {
      border-top: 1px solid $gray;
      .row-pad-btm{
        padding-bottom: 40px;
        .imgContainer{
          @include breakpoint(mobile){
            width: 84px;
          }
          @include breakpoint(desktop){
            width: 105px;
          }
          img{
            max-width:100%;
          }
        }
        .row-pad-l{
          @include breakpoint(desktop){
          padding-left: 25px;
          }
        }
      }
	}
    .item-qty{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      color:$black;
    }
    .item-promotion-spacing{
      color: $plum;
      padding-bottom: 12px;
    }
    .item-color{
      font-size: 16px;
      line-height: 20px;
      font-family: $SimonCircularBook;
      color:$black;
    }
    .item-price{
      font-size: 16px;
      line-height: 16px;
      font-family: $SimonCircularBook;
      color:$black;
    }
    .item-revised-price{
      font-size: 16px;
      line-height: 16px;
      font-family: $SimonCircularBold;
      color:$plum;
    }

    .item-discount{
      font-size: 16px;
      line-height: 16px;
      font-family: $SimonCircularBook;
      color:$black;
    }
    .item-description{
      padding-bottom:7px;
      a{
        color:$black;
        font-family: $SimonCircularBold;
        padding-bottom:12px;
        font-size : 16px;
      }
    }
    .price-container-left {
      margin-bottom: 5px;
      border-top: 1px solid $gray;
      padding: 30px 0 ;
      .retailer-promotion-spacing{
      	color: $plum;
      }
    }

    .order-summary-bottom{
      border-top: 1px solid $gray;
      padding-top:30px;
    }
    .return-information{
      a{
        font-size: 16px;
        line-height: 20px;
        font-family: $SimonCircularBook;
        color:$text-link;
      }
    }
  	
  	
  }
  .checkout-item-heading{
    padding-bottom: 20px;
    .item-heading{
      font-size: 13.3px;
      line-height: 16.6px;
      font-family: $SimonCircularBook;
      color:$text-link;
      padding-top:20px;
    }
    .price-heading{
      font-size: 13.3px;
      line-height: 16.6px;
      font-family: $SimonCircularBook;
      color:$text-link;
      padding-top:20px;
    }
    .total-heading{
      font-size: 13.3px;
      line-height: 16.6px;
      font-family: $SimonCircularBook;
      color:$text-link;
      float: right;
      padding-top:20px;
    }
  }
  .row-pad-l{
    @include breakpoint(mobile){
      padding-left: 70px;
    }
  }
  .subtotal{
    float: right;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.2px;
    font-family: $SimonCircularBold;
    @include breakpoint(mobile){
      padding-top: 45px;
    }
  }
  .price-container-left{
    @include breakpoint(mobile) {
      padding-left: 0;
    }
  }
  .order-summary-right{
    margin-top: 0;
    @include breakpoint(mobile){
      margin-top: -27px;
    }
    @include breakpoint(desktop){
      float: right;
      background: $white;
	  position: relative;
      z-index: 1;
    }
  }
  .order-summary-bottom{
    padding-bottom: 0;
    @include breakpoint(mobile){
      padding-bottom: 30px;
    }
    .btn {
      @include breakpoint(mobile) {
        display: none;
      }
    }
  }
  .checkout-banner-bottom{
    margin: 40px 0 100px 0;
    position: relative;
    > a {
      display: block;
    }
    .content-container {
      text-align: left;
      @include breakpoint(desktop) {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-left: 40px;
      }

      @include breakpoint(mobile) {
        text-align: left;
        top: 0;
        transform: inherit;
        padding: 37px 0 0 25px;
        position: absolute;
      }
      .display-medium {
        color: $black;
      }
      .shopnow {
        color: $black;
        font-size: 19.1px;
        line-height: 19.1px;
        letter-spacing: -0.2px;
        font-family: $SimonCircularBold;
        padding-top: 26px;
        display: inline-block;
        > span {
          height: 23px;
          overflow: hidden;
          display: inline-block;
          font-size: 27.6px;
          line-height: 27.6px;
          padding-left: 10px;

        }
      }
    }
  }
  
  .cart-help-container {
    .help-info {
      font-size: 13.3px;
      line-height: 16.6px;
      font-family: $SimonCircularBold;
      color: $black;
      padding-top: 30px;
      @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    .information {
      font-size: 13.3px;
      line-height: 16.6px;
      font-family: $SimonCircularBook;
      color: $black;
      padding-top: 5px;
      @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    .question {
      font-size: 13.3px;
      line-height: 16.6px;
      font-family: $SimonCircularBook;
      color: $black;
      padding-top: 20px;
      @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 15px;
      }
      > a {
        font-size: 13.3px;
        line-height: 16.6px;
        text-decoration: underline;
        padding-left: 3px;
        color: $black;
      }
    }
    .more-details {
      padding-top: 20px;
      @include breakpoint(mobile) {
        font-size: 12px;
        line-height: 15px;
      }
      > a {
        font-size: 13.3px;
        line-height: 16.6px;
        text-decoration: underline;
        color: $black;
      }
    }
  }
  .order-summary-price-container {
    &.collapse {
      display: block;
      visibility: visible;
    }
    }
    .item-revised-price{
      img{
        height:10px;
      }
    }
    .estimated-subtotal {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .estimated-sub-price {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      float: right;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .ship-top-spacing {
      padding-top: 6px;
    }
    .estimated-shipping {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .estimated-shipping-price {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      float: right;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .choose-method {
      > a {
        font-size: 13.3px;
        line-height: 16.6px;
        font-family: $SimonCircularBook;
        cursor: pointer;
        @include breakpoint(mobile) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
    .tax-top-spacing {
      padding-top: 10px;
    }
    .estimated-tax {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      >a {
        img {
          height: 12px;
          margin-bottom: 2px;
        }
      }
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }

    .estimated-tax-price {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      float: right;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .tax-calculation {
      > a {
        font-size: 13.3px;
        line-height: 16.6px;
        font-family: $SimonCircularBook;
        cursor: pointer;
        @include breakpoint(mobile) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
    .last-call-spacing {
      padding-top: 15px;
      .last-call-retailer{
        font-family: $SimonCircularBold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.2px;
        @include breakpoint(mobile) {
          letter-spacing: -1.2px;
        }
      }
    }
    .last-call {
      font-family: $SimonCircularBold;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      color: $black;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 14.4px;
        letter-spacing: -0.1px;
      }
    }
    .last-call-price {
      font-family: $SimonCircularBold;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      float: right;
      color: $plum;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 14.4px;
        letter-spacing: -0.1px;
      }
    }
    .you-save-spacing {
      padding-top: 6px;
      @include breakpoint(mobile) {
        padding-bottom: 26px;
      }
    }
    .you-save {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .you-save-price {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      float: right;
      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
  
	 //----address book modal
	.orderSummaryHelpModal {
	  .modal-body {
	    padding: 30px;
	  }
	  .modal-dialog{
	   @include breakpoint(desktop){
	    	width: 453px;
	    }
	  }
	  .close-wdt{
	    @include breakpoint(desktop) {
	      width: 83px !important;
	    }
	  }
	  .tax-message{
	    font-family: $SimonCircularBook;
	    font-size: 16px;
	    line-height: 20px;
	    padding-bottom: 15px;
	    @include breakpoint(mobile){
	      font-size: 14.4px;
	      line-height: 18px;
	    }
	  }
	}
}