@import "../variables/_all";
@import "../utils/_all";
@import "../vendor/bootstrap/_mixins";

.payment-method {
  .add-new-payment-method {
    margin-bottom: 100px;
  }
  .btn {
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  .myaccount-banner {
    .payment-method-text {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 20px;
      padding-top: 6px;

      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .not-saved-payment-text {
      font-family: $SimonCircularBold;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 25px;

      @include breakpoint(mobile) {
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .security-reason{
      font-family: $SimonCircularBook;
      font-size: 13.3px;
      line-height: 16.6px;
      padding-bottom: 25px;
      color: $text-link;
    }
  }
  .payment-method-box {
	>div{		
		div:nth-of-type(3n+1) {
			clear: left;
		}
	}
    .payment-method-border {
      border: solid 1px $gray;
      
        margin-bottom: 30px;
      
    }
    .card-details{
      font-family: $SimonCircularBold;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      margin-bottom: 5px;
      span{
      	text-transform: uppercase;
      }
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .card-exp{
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 15px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .preferred-card-address {
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
	.sm-input-group { 
		padding-bottom: 10px;
		input[type="radio"] {
			vertical-align: middle;
			margin: 0 8px 0 0;
		}
	}
    .payment-method-box-margin {
      margin: 30px;
    }
    .custom-radio {
      padding: 15px 0;
    }
  }
  .payment-method-modal{
   @include breakpoint(desktop){
     .modal-dialog{
      @include modal-880;
     }
   }
    .modal-body {
      padding: 0 30px;
    }
	.sm-input-group{
		.spf-field-group{
			iframe{
				height: 53px;
        
			}
      #spreedly-number-frame-1001{
        width: 467px;       
        @include breakpoint(mobile) {
        	width: 315px;
        }
      }
		}
	}
	.cvv-tooltip{
		position: absolute;
		top: 15px;
		right: 22px;
		@include breakpoint(desktop) {
			right: 158px;
      		width: 10px;
     		height: 10px;
     		top:21px;
		}
	}
    .card-details{
      font-family: $SimonCircularBold;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.2px;
      margin: 30px 0 20px 0;
      text-transform: uppercase;
    }
    .cards-container{
      margin-bottom: 20px;
      .cards {
        img {
          margin-right: 5px;
        }
      }
      .secure-info{
        position: relative;
        color: $text-link;
        @include breakpoint(desktop){
          margin-top: 10px;
        }
        &:before {
          @include simonicon('\e920');
          position: absolute;
          left: -23px;
          font-size: 18px;
          top: -2px;
        }
        img {
          height: 10px;
          margin-left: 3px;
          margin-top: -2px;
        }
      }
    }
    .optional-fields{
      font-family: $SimonCircularBook;
      font-size: 13.3px;
      line-height: 16.6px;
      margin-bottom: 30px;
      color: $text-link;
    }
    .payment-method-fields{
      .antivirus-icon{
        @include breakpoint(desktop) {
          position: absolute;
          right: 40px;
          margin-top: -40px;
        }
      }
      .billing-add{
        font-family: $SimonCircularBold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.2px;
        margin-bottom: 20px;
        margin-top: 15px;
      }
      .payment-method-buttons {
        margin-bottom: 30px;
        .btn {
          margin-right: 5px;
        }
        .btn-add{
          @include breakpoint(mobile){
            margin-bottom: 15px;
          }
        }
      }
      .checkboxes {
        margin-bottom: 0;
      }
      .custom-checkbox {
        padding-top: 0;
        margin-top: 2px;
        margin-right: 10px;
      }
      .list-dropdown {
        position: relative;
        select {
          border: solid 1px $gray;
          border-radius: 0;
          padding: 15px 20px;
          width: 100%;
          height: 52.9px;
          font-family: $SimonCircularBook;
          text-transform: uppercase;
          color: $text-link;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        &:after {
          @include simonicon($icon-arrow-dark-large);
          font-size: 10px;
          color: $text-link;
          right: 21px;
          top: 0;
          padding: 15px 0px 0px 8px;
          position: absolute;
          pointer-events: none;
        }
        select::-ms-expand {
          display: none;
        }

        option[disabled] {
          color: $gray;
        }
      }
      .margin-btm{
        margin-bottom: 25px;
        margin-top: 0;
      }
      .secure-info{
        position: relative;
        color: $text-link;
        @include breakpoint(mobile){
          margin-left: 35px;
        }
        &:before {
          @include simonicon('\e920');
          position: absolute;
          left: -20px;
          font-size: 18px;
        }
        img {
          height: 12px;
          margin-left: 3px;
        }
      }
	  .spf-field-cc {		
		line-height: 12px;
	  }
    }
    .cvv{
      margin-top: -38px;
      @include breakpoint(desktop) {
        margin-left: 70px;
      }
      @include breakpoint(mobile){
        margin-left: 85%;
      }
      height: 10px;
    }
  }
  .payment-method-delete-modal{
    .modal-body{
      margin: 0 30px;
    }
    .delete-modal-width{
      @include breakpoint(desktop) {
        width: 535px !important;
      }
    }
    .confirm-msg{
      font-family: $SimonCircularBook;
      font-size: 16px;
      line-height: 20px;
      padding-top: 25px;
      padding-bottom: 15px;
      @include breakpoint(mobile){
        font-size: 14.4px;
        line-height: 18px;
      }
    }
    .payment-method-buttons {
      margin-bottom: 30px;
      .btn {
        margin-right: 5px;
      }
      .btn-add{
        @include breakpoint(mobile){
          margin-bottom: 15px;
        }
      }
    }
    .btn-add{
      @include breakpoint(mobile) {
        margin-bottom: 15px;
      }
    }
  }
  .my-account{
    margin: 30px 0;
  }
}