#sizeGuideModal {
	z-index: 9999;
	.modal-dialog {
		width: 724px;
		@include breakpoint(mobile) {
			width: inherit;
		}
		
		.modal-footer {
			.btn {
				@include breakpoint(mobile) {
					width: 100%;
				}
			}
		}
	}
}

.size-guide {
	padding: 30px 10px 0 30px;
	@include breakpoint(mobile) {
		padding: 30px 5px 0 25px;
	}
	
	.scroll-container {
		overflow: auto;
		margin-top: 30px;
    	@include breakpoint(mobile) {
			height: 373px;
		}
	}

	.subheading{
		padding-left: 10px;
	}

	.list-dropdown{
		margin-right: 20px;
	}
}
#sizeGuideModalContent{
	.modal-footer {
		padding: 0 0 30px 30px;
	}
}