#justAddedModal {
	.modal-dialog {
		width: 535px;
		@include breakpoint(mobile) {
			width: inherit;
		}
	}
}

.just-added {
	.just-added-items {
		padding: 30px;
		.tooltip{
			top: 20px !important;
			left: 55px !important;
			.tooltip-inner{
				width: 105px;
			}
		}

		.redirecttocheckout{
			 margin: 15px 0;
		}
		.thumbnail {
			width: inherit;
			.imgContainer{
				@include breakpoint(mobile) {
					width: 84px;
				}
				@include breakpoint(desktop) {
					width: 105px;
				}
			}
			& + .col-xs-8 {
			    top: -3px;
			    padding-left: 10px;
			}
			img {
				max-width:100%;
			}
			.add-to-favorites {
		    	a.fav-icon {
			    	width: 20px;
			    	height: 20px;
					position: absolute;
					top: 0;
					right: 15px;
		    	}
			}
		}
		.price-container {
			.heading {

			}
			.price-off {
				font-family: $SimonCircularBook;
				color: $plum;
				margin-top: 4px;
			}

			.inner-price-container {
				margin: 7px 0;
				.actual-price {
					font-family: $SimonCircularBold;
					color: $plum;
					.tooltip-icon {
						width: 13px;
						height: 13px;
						display: inline-block;
						&:before {
							@include simonicon('\e91d');
							font-size: 13px;
							color: $gray;
						}
					}
				}
				.off{
					margin-bottom: 10px;
				}
				.off,
				.product-variant{
					text-transform: capitalize;
				}
				
				.strike{
		          text-decoration: line-through;
		        }
			}
			.select-quantity {
			    margin-top: 10px;
				.plus-minus {
					img {
						width: 25px;
					}
					.quantity {
						width: 36px;
						height: 25px;
						line-height: 20px;
					}
					a {
						width: 25px;
						height: 25px;
						line-height: 24px;
    					font-size: 14px;
					}
				}

				h6{
					font-family: $SimonCircularBook;
				}
			}
		}

		.conditions {
			margin: 20px 0 10px;
			p {
				margin: 0;
				color: $text-link;
			}
		}
		.item-total-container {
			margin-top: 28px;
			margin-bottom: 30px;
			.total-amount {
				color: $plum;
			}
		}
		.btn-container  {
			>button {
				width: 100%;
				margin: 0;
				&.plum{
					margin-top: 15px;
				}
			}
			.view-my-bag {
				margin-top: 20px;
				a {
					text-decoration: underline;
				}
			}
		}
	}
}

.share-via-email {
	padding: 30px;
	
	p {
		margin-bottom: 28px;
	}
	.email-info{
		font-size: 13.3px;
		line-height: 16.6px;
		color: $text-link;
	}
	.toEmail {
		input {
			text-transform: lowercase;
		}
	}
	p.sub-title {
		font-family: $SimonCircularBold;
		margin-bottom: 10px;
	}
	.message-row {
		padding-bottom: 25px;
		label {
			color: $text-link; 
			text-transform: uppercase;
			font-size: 11.1px;
		}
		textarea.form-control {
			color: #000;
		}
		textarea::placeholder {
			text-transform: initial;
			color: $black;
		}
	}
	.msg {
		font-size: 13.3px;
		color: $text-link; 
		display: inline-block;
		margin-top: 10px;
	}
	.custom-checkbox {
		margin-bottom: 28px;
		.link{
			color: $black;
			text-decoration: underline;
		}
	}
	.sm-input-group {
		p {
			margin-bottom: 0;
		}
		&.toEmail {
			padding-bottom: 13px;
		}
	}
}
