.product-list{    
    margin: 5px 0 20px;
}

.load-more-btn-wrapper{
    @include breakpoint(desktop) {
		min-height: 100px;
		#loadMore {
	    	margin-bottom: 100px;
	    }
    }
    @include breakpoint(mobile) {
		margin-bottom: 20px;
		margin-top: 20px;
    }
}

.plp-top-banner {
	.container {
		width: 100%;
	}
}

.content-spot {
	margin-bottom: 40px;
	@include breakpoint(mobile) {
		margin: 40px 0 0;
	}
	h4 {
		margin-top: 20px;
		@include breakpoint(mobile) {
			margin-bottom: 20px;
		}
	}
	img {
		width: 100%;
	}
}

.designer-deals {
	@include breakpoint(mobile) {
		margin-top: 0;
	}
}

.designer-deals-info {
	padding-left: 0 !important;
}

.style-deals {
	margin-bottom: 60px;
	
	@include breakpoint(mobile) {
		margin-bottom: 35px;
	}
}