.plp-filters{
    
    .sortby{
        padding-bottom: 4px;
        color: #757575;
        font-size: 11.1px;
        line-height: 13.9px;
        text-transform: uppercase;
        margin-top: 13px;
    }
    .dynamic-listing-filters{
        ul{
            padding-left: 0;
            li{
                list-style: none;
                label{
                    margin-bottom: 14px;
                }
            }
        }
    }
	
    .custom-dropdown {
    	@include breakpoint(desktop){
    		padding: 0 15px 0 0;    	
    		width: 225px;
    		float: right;	
    		.dropdown-menu {
    			width: 93.5%;
    			margin: 0; 		
    		}
    	}
       ul {
            li {
                @include breakpoint(desktop){
                    border-top: solid 1px $gray;
                }
                
                font-family: $SimonCircularBold;
                color: $text-link;
                @include breakpoint(mobile){
                    border-bottom: solid 1px $gray;
                }
                > a {
                   @include breakpoint(desktop){
                        padding: 23px;
                    }
                    @include breakpoint(mobile){
                        padding: 18px 23px 23px 23px
                    }
                    color: $text-link;
                    &:hover {
                        background: none;
                    }
                }
            }
       }
    }
    .filters{
        padding: 10px 0;
        @include breakpoint(mobile){
            .col-xs-6:first-of-type{
                padding-right: 5px;
            }

            .col-xs-6 + .col-xs-6{
                padding-left: 5px;
            }

            .product-count{
                padding-top: 10px;
            }
        }

        @include breakpoint(desktop){
            .product-count{
                padding-bottom: 10px;
            }
        }
    }
    .clear-all{
        line-height: 3.25;
        .clearAllFilter, #clearAllFilter{
            @include breakpoint(desktop){
                margin-top: 45px;
                display: inline-block;
            }
        }
        @include breakpoint(mobile){
			padding-top: 13px;
            padding: 0 0 10px 14px;        
		}
    }
    .browse-categories{
        @include breakpoint(mobile){
            margin-bottom: 5px;
        }
    }


    // Filter
    .dropdown-accordion {
        ul.dropdown-menu {
            .panel-group {
                margin: 0;
                .panel {
                    box-shadow: inherit;
                    @include breakpoint(desktop){
                        border-top: solid 1px $gray;
                    }
                    @include breakpoint(mobile){
                        margin-left: 10px;
    					margin-right: 10px;
    					border-bottom: solid 1px $gray;
                    }
                    
                    border-radius: 0;
                    margin: 0;
                    .panel-heading {
                        padding: 0;
                        position:relative;
                        .clear-facets {
                        	position:absolute;
                        	top:22px;
                        	right:50px;
                        }
                        .plp-clear {
                            position: absolute;
                            margin: 23px 0 0 100px;
                            font-size: 16px;
                            color: $text-link;
                        }
                        .panel-title {
                            @include breakpoint(desktop){
                                 padding: 23px;
                            }
                            @include breakpoint(mobile){
                                padding: 22px 0 23px 0;
                            }
                           
                            display: block;                            
                            color: $text-link;
                            outline: 0;
                            &:not(.collapsed){
                                font-family: $SimonCircularBold;
                            }
                            &:after {
                                color: $text-link;
                                @include simonicon($icon-arrordion-plus);
                                font-size: 10px;
                                float: right;
                                line-height: 22px;
                                color: $text-link;
                            }
                            &[aria-expanded="true"] {
                                color: $black;
                                &:after {
                                    content: $icon-arrordion-minus;
                                    color: $black;
                                }
                            }
                            
                        }
                    }
                    .panel-collapse {
                        .panel-body {
                            border: 0;
                            padding: 0 23px 23px;
                            
                            ul{
                            	list-style-type:none;
                            	li{
                            		list-style-type:none;
                            	}
                            }

                            .designers-listing-container {
                                .designers-listing {
                                    .scroll-container {
                                        height: inherit;
                                    }
                                }
                            }
                            
                            .clear-facets{
                            	position: relative;
    							top: -15px;
                            }

                            .size-palette{                           
                                > a {
                                    border: solid 1px $gray;
                                    display: inline-block;
                                    text-align: center;
                                    margin: 0 15px 18px 0; 
                                    line-height: 36px;
                                    position: relative;
                                    overflow: hidden;
                                    text-transform: capitalize;
                                    float: left;
                                    font-size: 13.3px;
                                    width: 53px;
                                    height: 37px;
                                    text-align: center;
                                    color: $black;

                                    &:hover:not(.crossed) {
                                        background-color: $black;
                                        color: $white !important;
                                        border-color: $black !important;
                                    }
                                    &.active {
                                        background-color: $black;
                                        color: $white !important;
                                        border-color: $black !important;
                                    }
                                    &.auto-size{
                                        margin-right: 15px;
                                        padding: 10px 18px;                                        
                                        line-height: 16.6px;
                                        width: auto;
                                        height: auto;                                        
                                    }                                   
                                }
                            }
                            
                            .apply-btn {
                                width: 100%;
                                margin-top: 10px;
                            }

                            .size-type {
                                > a {
                                    width: inherit;
                                    height: inherit;
                                    padding: 0 15px;
                                }
                            }

                            .select-color {        
                                .color-palette-item {
                                    width: 53px;
                                    display: inline-block;
                                    margin:0 16px 11px 0;
                                    cursor: pointer;
                                    border-bottom: 4px solid transparent;
                                    font-size: 12px;
                                    text-transform: capitalize;
                                    &:hover, &.active {
                                       border-bottom: 4px solid $black;
                                    }
                                    .color-switches {
                                       height: 37px;
                                       display: block;                         
                                    }
                                    &:nth-child(4n){
                                        margin-right: 0
                                    }
                                }
                            }

                            .designers-container {
                                .plp-login {
                                    margin-top: 15px;
                                    color: $black;
                                    a {
                                        color: $black;
                                        text-decoration: underline;
                                    }
                                }
                                .checkboxes-container {
                                    margin-top: 15px;
                                    .checkboxes {
                                        clear: both;
                                        font-size: 16px;
                                        input {
                                            &[type="checkbox"] {
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                }
                            }

                            .line-item{
                                display: block;
                                padding-bottom: 16px;
                                &:last-of-type{
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include breakpoint(mobile) {
        padding: 0;
    }
           
}

// TODO: transfer to global-select-box.scss
.select-box{
    position: relative;
    &.open{
        .caret-icon:before{
            transform: rotateX(180deg);
            transition: transform 150ms;
        }
        .dropdown-toggle{
            //border: 2px solid $black;
            border-bottom: 0;
            border-color: $gray;
            @include breakpoint(mobile) {
                background-color: $gray-bg1;
            }
        }
    }

    // List dropdown
    .dropdown-toggle{
        border: solid 1px $gray;
        padding: 16px 20px 15px;
        width: 100%;
        text-transform: capitalize;
        color: $text-link;
        background-color: $white;
        display: inline-block;
        text-align: left;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 20px;
        .label-text{
            color: $black;
            text-transform: capitalize;
        }
    }

    .dropdown-menu{
        border-radius: 0;
        box-shadow: none;
        width: calc(100% - 30px);
        margin: 0 15px;
        border-color: $gray;
        border-top: 0;
        padding: 5px 0 0;
        background-color: $white;
        @include breakpoint(mobile) {
            display: block;
            border:none;
        }
    }
    .caret-icon:before {
        color: $text-link;
        @include simonicon($icon-arrow-dark-large);
        font-size: 10px;
        float: right;
        line-height: 20px;
    }
}