
.level-0{
    margin-top: -8px;
    @include breakpoint(mobile){
        margin: 0 10px 0 10px;
    }
    .active>a:not(.accordion-menu){
        color: $plum !important;
    }
    ul{
        list-style: none;
        &.level-1{
            padding-left: 0;
            margin-top: -3px;
            >li:last-of-type{
                padding-bottom: 2px;
            }
        }

        &.level-2{
            padding-left: 30px;
            margin-top: 3px;
            >li:last-of-type{
                padding-bottom: 0;
            }
        }
        &.level-1,
        &.level-2{
            a{
                font-size: 13.3px;
                line-height: 13.3px;
                color: $black;
                display: inline-block;
                width: calc(100% - 35px);
                @include breakpoint(mobile){
                    padding-left: 22px;
                    padding-bottom: 20px;
                }
                
            }

            >li{
                padding: 3px 0 4px;
            }
        }
    }
    >li{
        padding-bottom: 10px;
        @include breakpoint(mobile){
            border-bottom: solid 1px $gray;
            padding-bottom: 0px;
        }
        >a{
        	 @include breakpoint(desktop){
        	 	font-family: $SimonCircularBold;
        	 }
             @include breakpoint(mobile){
        	 	font-family: $SimonCircularBook;
        	 }
            text-transform: uppercase;
            font-size: 13.3px;
            color: $black;
            line-height: 30px;
            display: inline-block;
            width: calc(100% - 35px);
            @include breakpoint(mobile){
                padding:20px 20px 20px 0;
            }
            >span{
              display: inline-block;
              &:after{
                 @include simonicon($icon-lock);
              }
            }
        }
    }

    .has-level-1, .has-level-2{
        > a.accordion-menu{
            //width: 30px;
            &:after {
                color: $text-link;
                @include simonicon($icon-arrordion-minus);
                font-size: 10px;
                line-height: 30px;
                color: $black;
				position: absolute;
				right: 35px;
	            
	            @include breakpoint(mobile){
	                right: 25px;
	            }
								
            }
            &.collapsed:after {                
                content: $icon-arrordion-plus;
            }
         }
    }

    .has-level-2{
        > a.accordion-menu{
            &:after {
                line-height: inherit;
                content: "" !important;
            }
         }
    }
}

.left-menu-heading{
	margin-bottom: 20px;
}
