.privacy-wall{
	padding-bottom: 100px;
	@include breakpoint(desktop) {
		padding-bottom: 60px;
	}
	.terms-conditions {
	    padding-top: 25px;
		color: $text-link;
		position: relative;
		text-align: right;
		@include breakpoint(mobile) {
			padding-left: 40px;
			text-align: left;
		}
		&:before {
			@include simonicon('\e920');
		    position: absolute;
		    margin-left: -25px;
		    font-size: 20px;
		    bottom: 2px;
		}
	} 
	.submit-btn{
		display: inline-block;
		@include breakpoint(mobile) {
			.btn{
				width: 100%;
			}
		}
	}
	.captchaContainer{
		padding-top: 0;
	}
}