.product-container{
	&.product-recomandation{
		margin-bottom: 65px;
		@include breakpoint(mobile){
			margin-bottom: 40px;
		}
		
		.global-tile-carousel .nav-tabs li:nth-child(1){
			border-right: 0;
		}
		.item{		
			max-width: 100%;		
		}
		.item-tile:nth-of-type(3n+1){
			clear: none;
		}
		.recommendation-heading {
			margin-bottom: 10px;
			@include breakpoint(mobile){
				margin-bottom: 0;
				margin-left: 0 !important;
				margin-right: 0 !important;
				padding-bottom: 12px;
			}
		}
		
		.slick-list {
			@include breakpoint(mobile){
				margin-bottom: 0;
			}
		}
	}
}