.search-result {
  @include breakpoint(desktop) {
    padding-bottom: 20px;
  }
  @include breakpoint(mobile) {
    padding-top: 32px;
    padding-bottom: 26px;
  }
  .result-for {
    display: inline-block;
    font-family: $SimonCircularBook;
    font-size: 33.1px;
    line-height: 33.1px;
    letter-spacing: -1px;
    @include breakpoint(mobile) {
      font-size: 29.9px;
      line-height: 29.9px;
      letter-spacing: -0.9px;
    }
  }
  .search-term {
    padding-left: 5px;
    display: inline-block;
    font-family: $SimonCircularBold;
    font-size: 33.1px;
    line-height: 33.1px;
    letter-spacing: -1px;
    @include breakpoint(mobile) {
      font-size: 29.9px;
      line-height: 29.9px;
      letter-spacing: -0.9px;
    }
    &:before{
    	content: "\201C";    
    }
    &:after{
    	content: "\201D";    
    }
  }
}
.plp-filters {
  .filters {
    padding-bottom: 10px;
  }
}