.shippingnreturns-desc a {
	text-decoration: underline;
    color: #000;
}

.shipping-and-returns {
	padding-bottom: 80px;
	
	select {
			color: #000;
			text-transform: capitalize;
			height: 52.9px;
			width: 71%;
			@include breakpoint(mobile) {
				width: 100%;
			}
		}	
		
	.selected-store-container {		
		h6 {
			padding-bottom: 10px;
			line-height: 16px;
		}
		p {
			padding-bottom: 20px;
		}		
		.content-divider {
			border-top: 1px solid $gray;
			padding-top: 30px;
    		margin-top: 30px;    		    		
		}
		.return-policy {
			@extend .content-divider
		}
		.privacy-policy {
			@extend .content-divider
		}
		.shipping-copy {
			font-size: 13.3px;			
			color: $text-link;
		}
		.shipping-msg {
			font-size: 13.3px;			
			color: $black;
		}
		.sm-input-group {
			padding-bottom: 38px;
		}
	
	}
}

