.shipping-return-page{
    .pad-top{
        padding-top: 15px;
    }
    .option-color{
        color: $black !important;
    }
    .shippingnreturns-desc{
        font-size: 16px;
        line-height: 20px;
        font-family: $SimonCircularBook;
        margin-bottom: 25px;
        a{
            font-size: 16px;
            line-height: 20px;
            font-family: $SimonCircularBook;
            margin-bottom: 25px;
            color: $black;
            text-decoration: underline;
            &:hover{
                color: $gray;
            }
            @include breakpoint(mobile) {
                font-size: 14px;
            }
        }
        .more-text{
            display: none;
        }
        .ellipsis-text{
            @include breakpoint(mobile) {
                font-size: 14px;
            }
           
        }
        .truncated{
            a{
                @include breakpoint(mobile) {
                    text-decoration: none;
                    color: $text-link;
                }
            }
        }
    }
    .shipping-and-returns{
        .no-store-selected{
            .privacy-info{
                font-size: 16px;
                line-height: 20px;
                font-family: $SimonCircularBook;
                margin-bottom: 100px;
                margin-top: 25px;
            }
            .customerBtn{
                @include breakpoint(mobile){
                    width: 315px;
                    padding-bottom: 30px;
                }
            }
            
            .selected-store-container {	
            padding-top: 35px;
            padding-bottom: 75px;	
		h6 {
			padding-bottom: 10px;
			line-height: 16px;
		}
		p {
			padding-bottom: 20px;
		}		
		.content-divider {
			border-top: 1px solid $gray;
			padding-top: 30px;
    		margin-top: 30px;    		    		
		}
		.return-policy {
			@extend .content-divider
		}
		.privacy-policy {
			@extend .content-divider
		}
		.shipping-copy {
			font-size: 13.3px;			
			color: $text-link;
		}
		.shipping-msg {
			font-size: 13.3px;			
			color: $black;
		}
		.sm-input-group {
			padding-bottom: 38px;
		}
	
	}
            
            .open{
                button{
                    border: 2px solid $black !important;
                }
            }
            .btn-group{
                width: 280px;
                @include breakpoint(mobile) {
                    width: 315px;
                }
                button{
                    background-color: $white;
                    border: 1px solid $gray;
                    box-shadow: none;
                    &:focus{
                        outline: 0 !important;
                    }
                    .filter-option{
                        color: $text-link;
                        font-size: 13.3px;
                        font-family: $SimonCircularBook;
                        letter-spacing: 0;
                    }
                    .bs-caret{
                        &:before{
                            color: $text-link;
                            @include simonicon($icon-arrow-dark-large);
                            font-size: 10px;
                            float: right;
                            line-height: 20px;
                            position: absolute;
                            top: 35%;
                            right: 21px;
                            margin-top: -2px;
                        }
                        .caret{
                            display: none;
                        }
                    }
                }
                .dropdown-menu{
                    width: 280px;
                    top: 51px;                   
                    ul{
                        background-color: $white;
                        .dropdown-header{
                            color: $black;
                        }
                        li{
                            span{
                                font-size: 13.3px;
                                line-height: 16.6px;
                                font-family: $SimonCircularBold;
                            }
                            a{
                                span{
                                    color: $text-link;
                                    font-size: 13.3px;
                                    line-height: 16.6px;
                                    font-family: $SimonCircularBook;
                                }
                            }
                        }
                        .active{
                            a{
                                background-color: $gray;
                            }
                        }
                    }
                    .bs-searchbox{
                        .form-control{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}