//Static page style
.static-page {
		p, span, a, li {
			font-family: $SimonCircularBold;
		}
		
		.static-page-container {			
			
			.privacy-policy-container {				
				a {
					color: $black;
					text-decoration: underline;
				}
				h5 {
					padding: 20px 0 10px 0;
					&:first-child {
						padding-top: 0;
					}
				}
				
			}
			
			.about-banner-container {
				background: $gray-light;
				padding: 75px 0;
				margin: 40px 0;
				text-align: center;
							
				h2 {
					font-size: 47.7px;
					line-height: 36.7px;
					letter-spacing: -2.9px;
				}
				p {
					font-size: 19.1px;
					line-height: 23.9px;
					letter-spacing: -0.2px;
					padding:0;
					margin: 10px 0 0 0;
				}
				
				@include breakpoint(mobile) {
					text-align: left;
					padding: 90px 30px;
					margin: 40px -25px;
					h2 {
						font-size: 35.8px;
						line-height: 27.6px;
						letter-spacing: -2.2px;
					}
					p {
						font-size: 17.3px;
						line-height: 21.6px;
						margin-top: 15px;						
					}
				}	
				
			}
			.static-hero-container {
				position: relative;
				margin: 0 0 40px 0;
					.content-container {
						position: absolute;
						left: 6%;
						top: 25%;
						width: 94%;
						h1 {
							font-size: 57.2px;
							line-height: 44px;
							letter-spacing: -3.4px;
							margin-bottom: 18px;
							width: 60%;
							@include breakpoint(mobile) {
								width: 85%;
							}
						}
						h5 {
							width: 50%;
							@include breakpoint(mobile) {
								width: 85%;
							}
						}						
					}
				
				@include breakpoint(mobile) {
					margin: 40px -25px;
					.content-container {
						width: 70%;
						h1 {
							font-size: 43px;
							line-height: 33.1px;
							letter-spacing: -2.6px;						
						}
					}
				}
			}
			.trend-shop {
				margin-top: 30px;
				h4 {
					padding: 7px 0 0 0;
					margin-bottom: 0;
				}
			}			
			h4 {
				padding: 0 0 10px 0;
				line-height: 23px;
			}
			p {
				padding-bottom: 10px;
			}	
			
		
	}		
}

//Contact Us styles
.contact-us-container {
	margin-bottom: 100px;
	h6 {		
		margin-bottom: 10px;
	}
	p a {		
		display: inline-block;		
		&:first-child {
			margin-bottom: 10px;
		}
	}	
	.address-container {
		padding-bottom: 20px;		
	}
	.btn-contact p {
		margin-bottom: 20px;
	}
	@include breakpoint(desktop) {
		h6 {
			line-height: 16px;
		}
	}
	@include breakpoint(mobile) {
		margin-bottom: 50px;
		h6 {
			line-height: 14.4px;
		}
		.btn-contact a {
			width: 100%;
		}
		.address-container {
			div:nth-child(1), div:nth-child(2) {
				margin-bottom: 20px;
			}
		}
	}
}

.browse-categories {
	margin-bottom: 30px;
} 
