.storefront{
	.img-container{
		
		a{	
		
		@include breakpoint(desktop){
			width: 252px;
			height: 252px;
		}
			
			img{
				width: 100%;
			}
		}
	}
	.carousel-content{
		width: 404px !important;
		padding-top: 8px;
		left: 0 !important;
    	transform: translate(0, -50%) !important;
	}
	.mystore-list{
		margin-bottom: 48px;
	}
}
.storefront-heading {
  .mark-favorite{
	  &:before{
		  margin-right: 10px;
		  margin-top: 5px;
	  }
  }
}
.page-context-links{
    margin-bottom: 40px;
    @include breakpoint(mobile) {
        margin-bottom: 30px;
    }
    .more-text {
        display: none;
    }
    .color-black {
        color: $black;
    }
}

#storeListingCarousel{
	&.owl-carousel {
		.item{
			position: relative;
		}
		
		&.slick-initialized {
			margin-bottom: 91px;
		}
		.carousel-content {
			
			h1 {
				&.display-large {
					font-size: 57.2px;
					line-height: 44px;
					letter-spacing: -3.4px;
					padding-left: 35px;
					margin-bottom: 20px;
					width: 45%;
					@include breakpoint(mobile) {
						font-size: 43px;
						line-height: 33.1px;
						letter-spacing: -2.6px;
						padding-left: 0;
					}
				}
			}
			
		}

		h5 {
			padding-left: 40px;
			font-size: 19.1px;
			line-height: 19.1px;
			letter-spacing: -0.2px;
			width: 55%;
			@include breakpoint(mobile) {
				font-size: 17.3px;
				line-height: 17.3px;
				letter-spacing: -0.2px;
				padding-left: 0;
			}
		}
	}
}