	.my-store.list {
	.current-trends{
		margin-top: 30px;
		margin-bottom: 20px;
		&.stores{
			margin-top: 0;
		}
	}
}

.my-store{
	.my-stores h1.page-heading{
		@include breakpoint(mobile) {
			padding-top: 32px;
		}
		&:before{
			content:"";
		}
		.info-text {
			@include breakpoint(mobile) {
				padding-bottom: 10px;
			}
		}
	}
	.page-sub-heading{
		padding-top: 60px;
		font-family: $SimonCircularBold;
		font-size: 28px;
		line-height: 1;
		letter-spacing: -0.8px;
		text-align: left;
		color: $black;
		border-bottom: solid 1px $gray;
		padding-bottom:10px;
		margin-bottom:20px;
		text-transform: uppercase;
		&:before{
			@include simonicon($icon-fav-filled);
			color: $plum;
			font-size: 20px;
			margin-right: 10px;
		}
	}
}

.store-listing{

	.custom-component {		
		h4 {
			line-height: 23px;
			margin-top: 20px;
			@include breakpoint(mobile){
				margin-bottom:40px;
			}
			
		}
	}
	
	.page-heading{
		@include breakpoint(mobile) {
			width: 90%;
    		padding-top: 10px;
    		padding-left:30px;
		}
	}
	
	
	.openLoginModal.fav-icon {
		cursor: pointer;
		@include breakpoint(mobile) {
			display:inline-block;
			&:before{
				position: absolute;
				top: -7px;
    			left: -19px;
			}
		}	
	}
	
	.fav-icon {
		cursor: pointer;
		&:before{
			margin-top: 4px;
			@include breakpoint(mobile) {
				margin-top: 5px;
			}
		}
		&.marked{
			&:before{
				content: $icon-fav-filled !important;
				color:$plum !important;
				margin-right: 10px;
    			margin-top: 5px;
			}
		}
		&.header-heart{
			&:before{
				@include breakpoint(mobile) {
					top: 16px ;
					left:15px;
				}
				
			}
		}
	}
}