.myorder-details-container {
	.trackorder-tooltip{
    	width: 13px;
    	height: 13px;
	}
	
	.tooltip-container {
		background-color: #fff;
	    padding-left: 5px;
	    position: absolute;
	    right: 14px;
	    top: 15px;
	    @include breakpoint(mobile) {
			top: 16px;
		}
	}
	
padding-bottom: 80px;
padding-top: 0;
	@include breakpoint(mobile) {
		padding: 0 0 60px 0;
	}
	@include breakpoint(desktop) {
		.padd-left {
			padding-left: 47px !important;
			padding-right: 0;
			>img {
				margin-left: 1px;
			}
		}
	}
	.haveanaccount {
		border-bottom: 1px solid $gray;
	    padding-bottom: 20px;
	    margin: 30px 0;
	    @include breakpoint(mobile) {
			padding-bottom: 30px;
	    }
	    >.col-md-7 {	    	
	    	padding: 0;
	    	 @include breakpoint(desktop) {
	    	 	padding-right: 50px;
	    	 }
	    	a {
	    		color: $black;
	    		text-decoration: underline;
	    	}
	    }
	    >.haveacc {
	    	font-family: $SimonCircularBold;
	    	line-height: 50px;	    	
	    	padding: 0;
	    	@include breakpoint(desktop) {
				text-align: right;
				padding-left: 15px;
	    	}
	    }
	    .btn-style{
	    	padding: 0;
	    	text-align: right;
	    }
	    .btn {
	    	@include breakpoint(mobile) {
				width: 100%;
				margin-top: 10px;
			}
	    }
	}
	
	h5 {
		@include breakpoint(mobile) {
			font-size: 20.7px;
		}
		margin-bottom: 20px;
		word-wrap: break-word;
	}
	.submit-btn {
    	padding: 20px 0 0 0;    	
	}

	.track-order-form {
		>p {
			margin-bottom: 20px;
		}
		.submit-btn {
			padding-top: 0;
			padding-right: 0;
		}
		
		.track-order-section {
			@include breakpoint(mobile) {
				padding-top: 10px;
			}
		}
	}
	.error-heading {
		padding: 0 15px;
		h5 {
			font-size: 23px;
			font-family: $SimonCircularBook;
			>b {
				font-family: $SimonCircularBold;
				&:before{
			    	content: "\201C";    
			    }
			    &:after{
			    	content: "\201D";    
			    }
			}
		}
	}
	.customercare {
		padding: 30px 0 0 15px;
	}
	.track-order-listing-btns {
		display: none;
		padding: 0 30px;
		.customercare {
			padding-left: 0;
		}
	}
	.track-order-listing {
		padding: 0 15px;
		.myorder-details {
			.order-detail-row .order-detail-com{
				&:last-child {
					padding-bottom: 0;
				}
			}
			@include breakpoint(desktop) {
				padding: 0 15px;
			}
		}
		h5 {
			font-size: 23px;
			font-family: $SimonCircularBook;
			>b {
				font-family: $SimonCircularBold;
				&:before{
			    	content: "\201C";    
			    }
			    &:after{
			    	content: "\201D";    
			    }
			}
		}
		.capitalize{
			text-transform: capitalize;
		}
		.status{
			padding-top: 5px;
			position: relative;
			padding-left: 15px;
			@include breakpoint(mobile) {
			    padding-top: 14px;
			}
			&:before{
				content: "";
				position: absolute;
				border-radius: 50%;
				left: -1px;
				width: 12px;
				height: 12px;
				top: 8px;
				@include breakpoint(mobile) {
				    top: 16px;
				}
			}
			&.shipped, &.completed{
				&:before{
					border: 1px solid $plum;
					background-color: $plum;
				}
			}
			&.cancel, &.cancelling{
				&:before{
					border: 1px solid $red;
					background-color: $red;
				}
			}
			&.processing{
				&:before{
					border: 1px solid $forum-yellow;
					background-color: $forum-yellow;
				}
			}
		}
		.submit-btn {
	    	padding-left: 15px;
		}
	}

	.track-order-error  {
		display: none;
		padding: 15px;
		.submit-btn {
	    	padding-left: 15px;
		}
	}
}



.left-menu-container {
	&.show-desktop {
		.left-menu-container {
			width: 100% !important;
			padding: 0;
		}
	}
}
