
.trends-listing-new-season { 
	@include breakpoint(mobile){
		margin-left: -25px;
		margin-right: -25px;
	}
	.the-designer-shop {
		margin: 30px 0 40px 0;
		@include breakpoint(mobile){
			margin: 5px 0 0 0;
			picture{
				display: inline-block;
			}
		}
		.designer-banner-text {
			font-family: $SimonCircularLight;
		}
		@include breakpoint(desktop) {
			.content-container {			
				padding-left: 50px;
				h1 {
					font-size: 47.7px;
					line-height: 37.8px;
					letter-spacing: -2.9px;
				}
				
			}
			
		}
		
		@include breakpoint(mobile) {
			height: auto;
			background: none;
			.content-container {								
				position: relative;
				padding: 28px 25px 0 25px;
				width: auto;
				text-align: center;
				transform: initial;
				
				h1 {
					color: $black;
					font-size: 35.8px;
					line-height: 27.6px;
					letter-spacing: -2.2px;
				}
				.designer-banner-text {
					color: $black;
				}
				
			}
		}
		
	}
}

.plp-filters.trends-listing-filters {
		.col-md-3 {
			padding: 0;
		}
	
	}

	
.trends-landing-page {
	.myfavorites-container .btn {
		margin-top: 0;
	}
	#homepageCarousel.slick-initialized {
		margin-top: 30px;
		@include breakpoint(mobile) {
			margin-left: -25px;
			margin-right: -25px;
			
			.slick-list {
				margin-bottom: 40px;
			}
		}
	}
	.owl-carousel {		
		.carousel-content {				
			h1 {
				font-size: 57.2px;
				line-height: 44px;
				margin-bottom: 15px;
			}
			
			@include breakpoint(desktop) {
				padding-left: 50px;							
			}
			
			@include breakpoint(mobile) {
				position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    width: 200px;
			    padding-left: 25px;
			    text-align: left;
			}	
			
		}
	}
	
}