{{#if globalFlashMsg}}
    {{#each globalFlashMsg}}
        {{#ifCond messageType "===" "OOS"}}
            <div class="item-out-stock">
                <span class="icon-out-stock"></span>
                <span class="out-stock-desc">{{{message}}}</span>
            </div>
        {{/ifCond}}
        {{#ifCond messageType "===" "UPDATE"}}
            <div class="item-updated">
                    <span class="icon-updated"></span>
                    <span class="remove-desc">{{{message}}} </span>
                </div>
        {{/ifCond}}
        {{#ifCond messageType "===" "REMOVE"}}
            <div class="item-removed">
                    <span class="icon-removed"></span>
                    <span class="remove-desc">{{{message}}}</span>
                </div>
        {{/ifCond}}
  {{/each}}
{{/if}}