{{#if isCheckout}}
	<div class="bag-summary hide-mobile">
		{{messageLabels.bagSummaryLabel}}
		<span class="view-bag" ><a href="/cart" class="analytics-genericLink" data-analytics-eventtype="view_bag|checkout" data-analytics-eventsubtype="checkout" data-analytics-linkplacement="ordersummary|checkout" data-analytics-linkname="view_bag">{{messageLabels.viewShoppingBagLabel}} ({{cartData.totalUnitCount}})</a></span>
	</div>
	<div class="view-bag-summary hide-desktop pad-r-mobile pad-l-mobile">{{messageLabels.viewShoppingBagLabel}} </div>
{{else}}
	<div class="bag-summary hide-mobile">
		<span class="order_summaryBottom">{{messageLabels.bagSummaryLabel}}</span>
	</div>
	<div class="view-bag-summary hide-desktop pad-r-mobile pad-l-mobile minus-icon">{{messageLabels.viewBagSummaryLabel}}</div>
{{/if}}
<div class="order-summary-price-container pad-r-mobile pad-l-mobile collapse in">
	<div class="price-top-spacing">
		<span class="estimated-subtotal">{{messageLabels.estimatedOrderSubtotalLabel}}</span>
		{{#if isCheckout}}
			<span class="estimated-sub-price">
				{{#if cartData.subTotal.formattedValue}}{{cartData.subTotal.formattedValue}}{{else}}--{{/if}}
			</span>
		{{else}}
			<span class="estimated-sub-price">{{#if subTotal.formattedValue}}{{subTotal.formattedValue}}{{else}}--{{/if}}</span>
		{{/if}}
	</div>
	<div class="ship-top-spacing">
		{{#if isCheckout}}
			<span class="estimated-shipping">{{messageLabels.estimatedOrderShippingLabel}}</span>
			<span class="estimated-shipping-price">
				{{#if cartData.deliveryCost.formattedValue}}{{cartData.deliveryCost.formattedValue}}{{else}}--{{/if}}
			</span>
		{{else}}
			<span class="estimated-shipping">{{messageLabels.estimateCombinedShippingLabel}}</span>
			<span class="estimated-shipping-price">
				{{#if deliveryCost.value}}{{deliveryCost.formattedValue}}{{else}}--{{/if}}
			</span>
		{{/if}}
	</div>
	{{#unless isCheckout}}
		<div class="choose-method">
			<a>{{messageLabels.chooseMethodInCheckoutLabel}}</a>
		</div>
	{{/unless}}
	<div class="tax-top-spacing">
		{{#if isCheckout}}
			<span class="estimated-tax">
				{{messageLabels.estimatedOrderTaxLabel}}
				<a href="#" data-toggle="modal" data-target="#orderSummaryHelpModal">
					<img src="/_ui/responsive/simon-theme/icons/black-question.svg" class="tooltip-init simon-logo" alt="black-question.svg">
				</a>
			</span>
			<span class="estimated-tax-price">
				{{#if cartData.totalTax.formattedValue}}{{cartData.totalTax.formattedValue}}{{else}}--{{/if}}
			</span>
		{{else}}
			<span class="estimated-tax">{{messageLabels.estimateCombinedTaxLabel}}</span>
			<span class="estimated-tax-price">
				{{#if totalTax.formattedValue}}{{totalTax.formattedValue}}{{else}}--{{/if}}
			</span>
		{{/if}}
	</div>
	{{#unless isCheckout}}
		<div class="tax-calculation">
			<a>{{messageLabels.taxCalucatedDuringCheckoutLabel}}</a>
		</div>
	{{/unless}}
	<div class="last-call-spacing">
		{{#if isCheckout}}
			<span class="last-call">{{messageLabels.estimatedOrderTotalLabel}}</span>
			<span class="last-call-price">
				{{#if cartData.totalPrice.formattedValue}}{{cartData.totalPrice.formattedValue}}{{else}}--{{/if}}
			</span>
		{{else}}
			<span class="last-call">{{messageLabels.estimateBagTotalLabel}}</span>
			<span class="last-call-price">
				{{#if totalPrice.formattedValue}}{{totalPrice.formattedValue}}{{else}}--{{/if}}</span>
		{{/if}}
	</div>
	<div class="you-save-spacing">
		<span class="you-save">{{messageLabels.youSavedLabel}}</span>
		{{#if isCheckout}}
			<span class="you-save-price">
				{{#if cartData.totalDiscounts.formattedValue}}{{cartData.totalDiscounts.formattedValue}}{{else}}--{{/if}}
			</span>
		{{else}}
			<span class="you-save-price">
				{{#if totalDiscounts.formattedValue}}{{totalDiscounts.formattedValue}}{{else}}--{{/if}}
			</span>
		{{/if}}
	</div>
</div>
<div class="btn-border-top"></div>

