{{#if retailerInfoData}}
	<div class="cart-with-items">
		{{#each retailerInfoData}}
		<input type="hidden" value="{{promotionalDiscount.value}}" class="retailerDiscount"/>
			<div class="cart-items">
				<div class="last-call major">{{retailerName}} ({{totalUnitCount}})</div>
				<div class="cart-items-container collapse in">
					<div class="return-information">
						<a class="viewReturnPolicy" data-href="{{retailerPolicyUrl}}">{{../messageLabels.RetailerShippingPrivacyLabel}}</a>
					</div>
					{{#each productDetails}}
						<div class="row clearfix row-pad-btm">
							<div class="col-md-2 col-xs-3">
								{{#ifCond product.stock.stockLevelStatus.code "===" "outOfStock"}}
									<span class="icon-out-stock"></span>
								{{/ifCond}}
							<div class="imgContainer">
								<a href="{{product.url}}">
									{{#if product.images.[0]}}
										{{#each product.images}}
											{{#ifCond format "===" "thumbnail"}}
												<img class="img-width"  alt="{{altText}}" src="{{url}}">
											{{/ifCond}}
										{{/each}}
									{{else}}
										<source media="(min-width: 768px) and (max-width: 991px)" srcset="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
										<img class="img-responsive" alt="" style="" src="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
									{{/if}}
								</a>
							</div>
							</div>
							<div class="col-md-10 col-xs-9 productWrapper">
								<div class="col-md-7 col-xs-12 no-pad-r">
									<div class="item-description">
										<a href="{{product.url}}">{{product.name}}</a>
									</div>
									<div class="itempromotion">
										{{#each ../../appliedProductPromotions}} 
											{{#each consumedEntries}} 
												{{var "basePrice" ../../basePrice.value}}
												{{#ifCond orderEntryNumber "===" ../../entryNumber}}
													{{#ifCond basePrice  "gtf"  adjustedUnitPrice}}
													 {{../../../description}}</br>													 
													{{/ifCond}}
												{{/ifCond}}
											{{/each}}
										{{/each}}
									</div>
									{{#ifCond product.stock.stockLevelStatus.code "===" "outOfStock"}}
										<div class="out-stock-description">{{../../../messageLabels.outofStockLabel}}</div>
									{{/ifCond}}
									<div>
										{{#if msrpValue.value}}
											<span class="item-price strike">{{msrpValue.formattedValue}}</span>
										{{else}}
											{{#if saleValue.value}}
												<span class="item-price strike">{{listValue.formattedValue}}</span>
											{{/if}}
										{{/if}}
										{{#if promotionApplicable}}
											<span class="item-revised-price">{{yourPrice.formattedValue}}</span>
											{{#if msrpValue.value}}
												{{#if saleValue.value}}
													<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" 
														class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.MSRPLabel}}  {{msrpValue.formattedValue}}<br>
																													{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}}<br>
																													{{../../../../../messageLabels.salePriceLabel}} {{yourPrice.formattedValue}}<br>
																													{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="Question" />
												{{/if}}
											{{else}}
												<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" 
													class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.yourPriceLabel}} {{yourPrice.formattedValue}}<br>
																												{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="Question" />
											{{/if}}
										{{else}}
											<span class="item-revised-price">
												{{#if saleValue.value}}
													{{saleValue.formattedValue}}
												{{else}}
													{{listValue.formattedValue}}
												{{/if}}
												{{#if msrpValue.value}}
													{{#if saleValue.value}}
														<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" 
															class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.MSRPLabel}} {{msrpValue.formattedValue}}<br>
																														{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}}<br>
																														{{../../../../../messageLabels.salePriceLabel}} {{saleValue.formattedValue}}<br>
																														{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="Question" />
													{{/if}}
												{{/if}}
											</span>
										{{/if}}
									</div>
									{{#if savingsMessage}}
										<div class="item-discount">{{savingsMessage}}</div>
									{{/if}}
									{{#if quantity}}
										<div class="item-qty">{{../../../../messageLabels.quantityLabel}} <span>{{quantity}}</span></div>
									{{/if}}
									{{#each product.variantValues}}
										<div class="item-color">{{@key}}: {{this}}</div>
									{{/each}}
									{{#ifCond product.stock.stockLevelStatus.code "!==" "outOfStock"}}
										<div class="qty-section">
											<input type="number" min="1" max="99" title="qty" class="txt-qty" value="{{quantity}}" 
													data-entrynumber="{{entryNumber}}" data-productname="{{product.name}}" data-productcode="{{product.code}}" />
										</div>
									{{/ifCond}}
				
									<div class="item-price-qty-wise">{{totalPrice.formattedValue}}</div><br />
									<div class="errortext">{{../../../messageLabels.inputNotValidLabel}}</div>
								</div>
								<div class="col-md-5 col-xs-12 no-pad-r">
								
									<div class="edit-remove-container">
										{{#ifCond product.stock.stockLevelStatus.code "!==" "outOfStock"}}
											<a class="item-remove" href="javaScript:void(0)" data-action="remove" data-entrynumber="{{entryNumber}}" 
												data-productcode="{{product.code}}">{{../../../messageLabels.removeLabel}}</a>
										{{/ifCond}}
										<div class="analytics-addtoFavorite" data-analytics-pagetype="shipping_bag" data-analytics-eventsubtype="shipping_bag" data-analytics-linkplacement="shipping_bag" data-analytics-component="product" data-analytics-productcode="{{product.code}}">
										<div class="add-to-favorites add-to-my-fav addfavs">
											<input type="hidden" value="{{product.baseProduct}}" class="base-code" />
											<input type="hidden" value="{{product.baseProductName}}" class="base-name" />
											{{anonymousUser}}
											{{#unless ../../anonymousUser}}
												{{#if product.favorite}}
													<a href="javascript:void(0);" class="icon-fav-blank mark-favorite fav-icon marked" data-add-to-fav="Add to My Favorites" 
														data-added-to-fav="Added">
													
														{{#if product.favorite}}
															<span class="favorite-text">{{../../../../../messageLabels.addedLabel}}</span>
														{{else}}
															<span class="favorite-text">{{../../../../../messageLabels.addToFavoritesLabel}}</span>
														{{/if}}
													</a>
												{{else}}
													<a href="javascript:void(0);" class="icon-fav-blank icon-fav-blank mark-favorite fav-icon" data-add-to-fav="Add to My Favorites" 
														data-added-to-fav="Added">
														{{#if product.favorite}}
															<span class="favorite-text">{{../../../../../messageLabels.addedLabel}}</span>
														{{else}}
															<span class="favorite-text">{{../../../../../messageLabels.addToFavoritesLabel}}</span>
														{{/if}}
													</a>
												{{/if}}
											{{/unless}}
											
											{{#if ../../anonymousUser}}
												<a href="javascript:void(0);">
													<span class="icon-fav-blank fav-icon login-modal openLoginModal" data-fav-product-code="{{product.baseProduct}}" data-fav-name="{{product.baseProductName}}"
															data-add-to-fav="Add to My Favorites" data-fav-type="PRODUCTS" data-added-to-fav="Added"></span>
													{{#if product.favorite}}
														<span class="favorite-text">{{../../../../../messageLabels.addedToFavoritesLabel}}</span>
													{{else}}
														<span class="favorite-text">{{../../../../../messageLabels.addToFavoritesLabel}}</span>
													{{/if}}
												</a>
											{{/if}}
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{{/each}}
					<div class="row">
						<div class="col-md-offset-2 col-md-10 col-xs-offset-3 col-xs-9">
							<div class="price-container-left">
								<div class="price-calculation-container">
									<div class="price-top-spacing">
										<span class="estimated-subtotal">{{../messageLabels.estimatedSubtotalLabel}}</span>
										<span class="estimated-sub-price">{{#if estimatedSubtotal.value}}{{estimatedSubtotal.formattedValue}}{{else}}--{{/if}}</span>
									</div>
									<div class="ship-top-spacing">
										<span class="estimated-shipping">{{../messageLabels.estimatedShippingLabel}}</span>
										<span class="estimated-shipping-price">{{#if estimatedShipping.formattedValue}}{{estimatedShipping.formattedValue}}{{else}}--{{/if}}</span>
									</div>
									<div class="choose-method">
										<a>{{../messageLabels.chooseMethodInCheckoutLabel}}</a>
									</div>
									<div class="tax-top-spacing">
										<span class="estimated-tax">{{../messageLabels.estimatedTaxLabel}}</span>
										<span class="estimated-tax-price">{{#if estimatedTax.value}}{{estimatedTax.formattedValue}}{{else}}--{{/if}}</span>
									</div>
									<div class="tax-calculation">
										<a>{{../messageLabels.taxCalucatedDuringCheckoutLabel}}</a>
									</div>
									<div class="last-call-spacing">
										<span class="last-call-retailer">{{retailerName}} {{../messageLabels.estimatedTotal}}</span>
										<span class="last-call-price">{{#if estimatedTotal.value}}{{estimatedTotal.formattedValue}}{{else}}--{{/if}}</span>
									</div>
									<div class="you-save-spacing">
										<span class="you-save">{{../messageLabels.youSavedLabel}}</span>
										<span class="you-save-price">{{#if saving}}{{saving.formattedValue}}{{else}}--{{/if}}</span>
									</div>
									{{#if promoMessages}}
										{{#each promoMessages}}
											<div class="float-left">
												<span class="promoMessages">{{this}}</span>
											</div>
										{{/each}}
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
{{/if}}
