<div class="panel panel-default" data-analytic-checkouttab="shipping-address">
<h5 class="panel-title major">
1. {{messageLabels.shippingInfoLabel}} <span class="pull-right statement small-text hide-mobile">{{messageLabels.weDontLabel}}</span>
</h5>
<div id="panel1" data-role="shipping-address" class="panel-collapse collapse in">
<div class="collapsed-content" id="loggedUserShippingContainer">
  <div id="checkoutMsgContainer">
    <div class="shipping-error-msg hide">
        <span class="icon-verify"></span>
        <span class="error-desc"> </span>
    </div>
</div>
{{#if userloggedin}}
   
  {{#if shippingAddresses}}
   <form>
    <div class="shipping-fields shippingaddressForm" id="loggedshippingFormFields" data-url="/checkout/multi/delivery-address/add">
        <div class="shipping-address">
          <div class="shipping-method">
            <div class="mandatory-text small-text hide-desktop loggedinUser disclaimer-msg">
           {{messageLabels.weDontLabel}}
        </div>
            <div class="major small-text tag">
              {{messageLabels.shippingAddressLabel}}
            </div>
              <div class="row">
                <div class="col-xs-12 col-md-12 list-dropdown">
                <div class="sm-input-group">
                <select class="form-control" id="shippingFormAddress">
                    {{#each shippingAddresses}}
                        <option value="{{id}}">{{line1}} {{line2}} {{town}} {{region.isocodeShort}} {{postalCode}}</option>
                    {{/each}}
                        <option value="addNewAddr" {{#if cartData.deliveryAddress.visibleInAddressBook }} {{else}} selected {{/if}}> {{messageLabels.addNewAddress}} </option>
                </select>
                </div>
                </div>
              </div>
          </div>
        <button type="button" class="btn loggedUserSaveShipping">{{messageLabels.saveAndContinue}}</button>
        </div>
    </div>
  </form>

  {{else}}

    <form class="sm-form-validation shippingaddressForm bt-flabels js-flabels sm-form-validation" id="guestUserAddressForm"  data-parsley-validate="validate">
     <div class="shipping-fields shippingformContainer" id="guestshippingFormFields">
        <div class="mandatory-text small-text">
          {{messageLabels.indicateOptionalLabel}}
        </div>
        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="firstName">{{messageLabels.firstNameLabel}}<span class="field-error" id="error-firstName"></span></label>
                 <input type = "text" id="firstName" name="firstName" class = "form-control" data-parsley-errors-container="#error-firstName"
                  data-parsley-error-message="{{messageLabels.firstNameErrorMsgLabel}}" 
                   required placeholder = "{{messageLabels.firstNameLabel}}" {{#if returnedUser}} value="{{#if suggestedAddressFlag}}{{suggestedAddress.firstName}}{{else}}{{userAddress.firstName}}{{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.firstName}}"{{/if}}>
              </div>
           </div>

           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
                <label class="field-label" for="lastName">{{messageLabels.lastNameLabel}}<span class="field-error" id="error-lastName"></span></label>
                 <input type = "text" id="lastName" name="lastName" data-parsley-errors-container="#error-lastName"
                 data-parsley-error-message="{{messageLabels.lastNameErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}}{{suggestedAddress.lastName}}{{else}}  {{userAddress.lastName}}{{/if}}"{{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.lastName}}"{{/if}} class = "form-control" placeholder = "{{messageLabels.lastNameLabel}}"/>
              </div>
           </div>
        </div>

        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="address1">{{messageLabels.address1Label}}<span class="field-error" id="error-address1"></span></label>
                 <input type = "text" id="address1" name="address1" data-parsley-errors-container="#error-address1"
                 data-parsley-error-message="{{messageLabels.addressErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.line1}}  {{else}}  {{userAddress.line1}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.line1}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.address1Label}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
              <label class="field-label" for="address2">{{messageLabels.address2Label}}
                <span class="field-error" id="error-address2"></span>
              </label>
                 <input type = "text" id="address2" name="address2" data-parsley-errors-container="#error-address2" {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.line2}}  {{else}}  {{userAddress.line2}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.line2}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.address2Label}}">
              </div>
           </div>
        </div>

       <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="city">{{messageLabels.cityLabel}}<span class="field-error" id="error-city"></span></label>
                 <input type = "text" id="city" name="city" data-parsley-errors-container="#error-city"
                 data-parsley-error-message="{{messageLabels.cityErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.town}}  {{else}}  {{userAddress.town}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.town}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.cityLabel}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
            <div class="row">
           <div class="col-xs-12 col-md-6 list-dropdown">
              <div class = "sm-input-group">
                  <label class="field-label" for="state">{{messageLabels.stateLabel}}<span class="field-error" id="error-j_guestState"></span></label>

                              {{var "stateISO" cartData.deliveryAddress.region.isocode}}

                              {{#if returnedUser}}

                                {{#if suggestedAddressFlag}}
                                    {{var "stateISO" suggestedAddress.region.isocode}}
                                {{else}}
                                   {{var "stateISO" userAddress.region.isocode}}
                                {{/if}}

                              {{/if}}

                                <select class = "form-control" id="state" data-parsley-errors-container="#error-j_guestState" required>
                                    <option value="">{{messageLabels.stateLabel}}</option>

                                    {{#each statesMap}}
                                    {{#excludeState @root.exculdeStateList stateCode}}
                                      <option value="{{stateCode}}" {{#ifCond stateCode  "===" ../../stateISO}} selected {{/ifCond}} >{{isocodeShort}} </option>
                                    {{/excludeState}}

                                    {{/each}}
                                </select>
              </div>
           </div>

           <div class="col-xs-6 col-md-6">
              <div class = "sm-input-group zipcodecontainer">
                <label class="field-label" for="zipcode">{{messageLabels.zipcodeLabel}}<span class="field-error" id="error-ZipCode"></span></label>
                {{#if returnedUser}} 
                  {{#if suggestedAddressFlag}}
                    {{var "zipcode" suggestedAddress.postalCode}} 
                  {{else}}
                     {{var "zipcode" userAddress.postalCode}} 
                  {{/if}}
                  {{else}}
                    {{#if cartData.deliveryAddress}} 
                      {{var "zipcode" cartData.deliveryAddress.postalCode}} 
                    {{/if}}
                {{/if}}
                <input type = "text" id="zipcode" name="ZipCode" 
                 data-parsley-errors-container="#error-ZipCode"
                 data-parsley-zipstrength-message="Required"
								 data-parsley-zipstrength
                 required value="{{zipcode}}" class = "form-control" placeholder = "{{messageLabels.zipcodeLabel}}">
              </div>
           </div>
         </div>
         </div>
        </div>

        <div class="row">

           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                 <label class="field-label" for="phoneNumber">{{messageLabels.phoneNumberLabel}}<span class="field-error" id="error-phoneNumber"></span></label>
                 {{#if returnedUser}} 
                  {{#if suggestedAddressFlag}}
                    {{var "phone" suggestedAddress.phone}} 
                  {{else}}
                     {{var "phone" userAddress.phone}} 
                  {{/if}}
                  {{else}}
                    {{#if cartData.deliveryAddress}} 
                      {{var "phone" cartData.deliveryAddress.phone}} 
                    {{/if}}
                {{/if}}
                 <input type="tel" data-role="phoneNumberValidation" id="phoneNumber" name="phoneNumber"
                 data-parsley-errors-container="#error-phoneNumber"
                 data-parsley-phonestrength-message="{{messageLabels.phoneErrorMsgLabel}}"
                 data-parsley-error-message="{{messageLabels.phoneErrorMsgLabel}}"
				 data-parsley-phonestrength  
                 required  value="{{phone}}" class="form-control" placeholder="{{messageLabels.phoneNumberLabel}}">
              </div>
           </div>
        </div>

        <div class="clearfix pull-left disclaimer-copy">

           <div class="checkboxes">
              <div class="sm-input-group pull-left">
                 <input type="checkbox" name="confirm" class="isBillingAddress" id="shippingAddress"  {{#if suggestedAddress.billingAddress}} checked {{/if}} {{#if cartData.deliveryAddress.billingAddress}} checked {{/if}} />
                <label class="checkbox-label" for="shippingAddress">{{messageLabels.useShippingASBilling}}</label>
              </div>
           </div>
			<!-- Commenting this code because we will use this code in the next beta-2 release and wokr on the story -->
           <!--  <div class="checkboxes">
              <div class="sm-input-group pull-left">
                <input type="checkbox" name="confirm" id="shippingConfirm">
                <label class="checkbox-label" for="shippingConfirm">{{messageLabels.subscribeLabel}}</label>
              </div>

           </div> -->

           <div class="checkboxes">
              <div class="sm-input-group pull-left policybottom">
                 <input type="checkbox" name="confirm" id="saveInAddressBook" {{#if suggestedAddress.visibleInAddressBook}} checked {{/if}} >
                <label class="checkbox-label" for="saveInAddressBook">{{messageLabels.saveThisAddress}}</label>
              </div>
              
           </div>

        </div>
        <button type="submit" class="btn guestUserSaveShipping" >{{messageLabels.saveAndContinue}}</button>

     </div>



    </form>

  {{/if}}
{{else}}

       
    <form class="sm-form-validation shippingaddressForm bt-flabels js-flabels sm-form-validation" id="guestUserAddressForm"  data-parsley-validate="validate">
     <div class="shipping-fields shippingformContainer" id="guestshippingFormFields" data-url="/checkout/multi/delivery-address/add">
        <div class="mandatory-text small-text">
           <span class="pull-right statement mobile-form-msg desktop-mobile">{{messageLabels.donotShipMsgLabel}}</span>
           {{messageLabels.indicateOptionalLabel}}
        </div>
        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="firstName">{{messageLabels.firstNameLabel}}<span class="field-error" id="error-firstName"></span></label>
                 <input type = "text" id="firstName" name="firstName" class = "form-control" 
                 data-parsley-errors-container="#error-firstName"
                 data-parsley-error-message="{{messageLabels.firstNameErrorMsgLabel}}" 
                 required placeholder = "{{messageLabels.firstNameLabel}}" {{#if returnedUser}} value="{{#if suggestedAddressFlag}}  {{suggestedAddress.firstName}}  {{else}}  {{userAddress.firstName}}  {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.firstName}}" {{/if}}  >
              </div>
           </div>
           
           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
                <label class="field-label" for="lastName">{{messageLabels.lastNameLabel}}<span class="field-error" id="error-lastName"></span></label>
                 <input type = "text" id="lastName" name="lastName" data-parsley-errors-container="#error-lastName"
                 data-parsley-error-message="{{messageLabels.lastNameErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.lastName}}  {{else}}  {{userAddress.lastName}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.lastName}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.lastNameLabel}}"/>
              </div>
           </div>
        </div>

        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="address1">{{messageLabels.address1Label}}<span class="field-error" id="error-address1"></span></label>
                 <input type = "text" id="address1" name="address1" data-parsley-errors-container="#error-address1"
                 data-parsley-error-message="{{messageLabels.addressErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.line1}}  {{else}}  {{userAddress.line1}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.line1}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.address1Label}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
                <label class="field-label" for="address2">{{messageLabels.address2Label}}
                  <span class="field-error" id="error-address2"></span>
                </label>
                 <input type = "text" id="address2" name="address2" data-parsley-errors-container="#error-address2" {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.line2}}  {{else}}  {{userAddress.line2}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.line2}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.address2Label}}">
              </div>
           </div>
        </div>

        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="city">{{messageLabels.cityLabel}}<span class="field-error" id="error-city"></span></label>
                 <input type = "text" id="city" name="city" data-parsley-errors-container="#error-city"
                 data-parsley-error-message="{{messageLabels.cityErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.town}}  {{else}}  {{userAddress.town}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.town}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.cityLabel}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
            <div class="row">
           <div class="col-xs-6 col-md-6 list-dropdown">
              <div class = "sm-input-group">
                  <label class="field-label" for="state">{{messageLabels.stateLabel}}<span class="field-error" id="error-j_guestState"></span></label>

                              {{var "stateISO" cartData.deliveryAddress.region.isocode}} 
                              
                              {{#if returnedUser}}  
                                
                                {{#if suggestedAddressFlag}}
                                    {{var "stateISO" suggestedAddress.region.isocode}}
                                {{else}} 
                                   {{var "stateISO" userAddress.region.isocode}}
                                {{/if}}

                              {{/if}}
                                   
                                <select class = "form-control" id="state" data-parsley-errors-container="#error-j_guestState" required>
                                    <option value="">{{messageLabels.stateLabel}}</option>

                                    {{#each statesMap}}
                                    
                                    {{#excludeState @root.exculdeStateList stateCode}}
                                      <option value="{{stateCode}}" {{#ifCond stateCode  "===" ../../stateISO}} selected {{/ifCond}} >{{isocodeShort}} </option>
                                    {{/excludeState}}

                                    {{/each}}
                                </select>
              </div>
           </div>

           <div class="col-xs-12 col-md-6">
              <div class = "sm-input-group zipcodecontainer">
                <label class="field-label" for="zipcode">{{messageLabels.zipcodeLabel}}<span class="field-error" id="error-ZipCode"></span></label>
               {{#if returnedUser}} 
                  {{#if suggestedAddressFlag}}
                    {{var "zipcode" suggestedAddress.postalCode}} 
                  {{else}}
                     {{var "zipcode" userAddress.postalCode}} 
                  {{/if}}
                  {{else}}
                    {{#if cartData.deliveryAddress}} 
                      {{var "zipcode" cartData.deliveryAddress.postalCode}} 
                    {{/if}}
                {{/if}}
                
                 <input required type = "text" id="zipcode" name="ZipCode" 
                  data-parsley-errors-container="#error-ZipCode"
                  data-parsley-zipstrength-message="Required"
								  data-parsley-zipstrength 
                  required value="{{zipcode}}" class = "form-control" placeholder = "{{messageLabels.zipcodeLabel}}">
              </div>
           </div>
         </div>
         </div>
        </div>

        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                 <label class="field-label" for="emailId">{{messageLabels.emailIdLabel}}<span class="field-error" id="error-email"></span></label>
                 <input type = "email" id="emailId" name="email" data-parsley-errors-container="#error-email"
                 data-parsley-error-message="{{messageLabels.emailErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.email}}  {{else}}  {{userAddress.email}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} value="{{cartData.deliveryAddress.email}}" {{/if}} class = "form-control" placeholder = "{{messageLabels.emailIdLabel}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
                <label class="field-label" for="phoneNumber">{{messageLabels.phoneNumberLabel}}<span class="field-error" id="error-phoneNumber"></span></label>
                {{#if returnedUser}} 
                  {{#if suggestedAddressFlag}}
                    {{var "phone" suggestedAddress.phone}} 
                  {{else}}
                     {{var "phone" userAddress.phone}} 
                  {{/if}}
                  {{else}}
                    {{#if cartData.deliveryAddress}} 
                      {{var "phone" cartData.deliveryAddress.phone}} 
                    {{/if}}
                {{/if}}
                 <input type="tel" id="phoneNumber" data-role="phoneNumberValidation" name="phoneNumber"
                 data-parsley-errors-container="#error-phoneNumber"
                 data-parsley-error-message="{{messageLabels.phoneErrorMsgLabel}}"
                 data-parsley-phonestrength-message="{{messageLabels.phoneErrorMsgLabel}}"
                 data-parsley-phonestrength
                 data-parsley-errors-container="#error-phoneNumber" required value="{{phone}}" class="form-control" placeholder="{{messageLabels.phoneNumberLabel}}">
              </div>
           </div>
        </div>

        <div class="clearfix pull-left disclaimer-copy">
           
           <div class="checkboxes">
              <div class="sm-input-group pull-left">
                 <input type="checkbox" name="confirm" class="isBillingAddress" id="shippingAddress" {{#if suggestedAddress.billingAddress}} checked {{/if}} {{#if cartData.deliveryAddress.billingAddress}} checked {{/if}} / >
                <label class="checkbox-label" for="shippingAddress">{{messageLabels.useShippingASBilling}}</label>
              </div>
           </div>
           
           <div class="checkboxes">
              <!-- <div class="sm-input-group pull-left policybottom">
                <input type="checkbox" name="confirm" id="shippingConfirm">
                <label class="checkbox-label" for="shippingConfirm">{{messageLabels.subscribeLabel}}</label>
              </div> -->
           </div>
           
        </div>
        <button type="submit" class="btn guestUserSaveShipping" >{{messageLabels.saveAndContinue}}</button>

     </div>



    </form>

{{/if}}

  
</div>
</div>
</div>
<div style="clear:both;"></div>