
   <div class="row">
       {{#if userloggedin}}
            <div class="col-xs-12">
                  {{messageLabels.welcomeback}} {{messageLabels.name}}
            </div>
         {{else}}
            <div class="col-xs-12 col-md-6 mid-align">
               <p class="mid-align-content">{{messageLabels.checkoutASGuest}}</p>
            </div>
            <div class="col-xs-12 col-md-3 mid-align">
             <span>{{messageLabels.haveAnAccount}}</span>
            </div>
            <div class="col-xs-12 col-md-3 checkout-signin">
            <a  href="/cart/checkout/" class="btn secondary-btn black block analytics-genericLink checkout-signin" data-analytics-eventsubtype="checkout_signin" data-analytics-linkplacement="checkout_signin" data-analytics-linkname="signin">
                  {{messageLabels.signInLabel}}
            </a>
            
            </div>
         {{/if}}
      
   </div>
