<div class="panel panel-default" id="saveInfo" data-analytic-checkouttab="saveInfo">
	<h5 class="panel-title major">
		{{messageLabels.saveInfoLabel}}<span class="optional">{{messageLabels.optionalLabel}}</span>
		<span class="tick hide" id="saveInfoTick"></span>
	</h5>
	<div id="panel3" class="panel-collapse collapse">
		<div class="collapsed-content">
			<div class="save-information-container">
				<form class="sm-form-validation saveInfoForm" id="saveInfoForm" data-parsley-validate="validate">
					<div class="row">
						<div class="col-xs-12 col-md-6 pull-right msg-txt">
							<p>
								{{messageLabels.createVipMsgLabel}}
								<ul>
									<li>{{messageLabels.uppercaseCharLabel}}</li>
									<li>{{messageLabels.lowercaseCharLabel}}</li>
									<li>{{messageLabels.numericMsgLabel}}</li>
									<li>{{messageLabels.alphanumericMsgLabel}}</li>
								</ul>
							</p>
						</div>
						<div class="col-xs-12 col-md-6 pull-left no-pad-right">
							<div class="sm-input-group">
								<label class="field-label" for="password">{{messageLabels.passwordLabel}}<span class="field-error" id="error-password"></span></label>
								<input type="password" id="password" name="password" class="form-control" data-parsley-errors-container="#error-password" required
									data-parsley-pwdstrength-message="{{messageLabels.passwordErrorMsgLabel}}" data-parsley-pwdstrength placeholder="{{messageLabels.passwordMinErrorMsgLabel}}">
							</div>
							<div class="sm-input-group">
								<label class="field-label" for="confirmPassword">{{messageLabels.confirmPasswordLabel}}<span class="field-error" id="error-confirmPassword"></span></label>
								<input type="Password" id="confirmPassword" name="confirmPassword" class="form-control" data-parsley-equalto-message="{{messageLabels.confirmPwdErrorMsgLabel}}"
									data-parsley-equalto="#password" data-parsley-errors-container="#error-confirmPassword" required placeholder="{{messageLabels.confirmPasswordLabel}}">
							</div>
							<div class="saveskip-btn">
								<button type="button" class="btn saveBtn">{{messageLabels.saveAndContinue}}</button>
								<button class="btn secondary-btn black skipBtn">{{messageLabels.skipLabel}}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="saveinforendered hide">
				{{messageLabels.createAccountSkipMessageText1}} <a href="/join-now">{{messageLabels.createAccountSkipMessageText2}}</a>
			</div>
		</div>
	</div>
</div>