<div class="panel panel-default" data-analytic-checkouttab="shipping-address">
	<h5 class="panel-title major">
		1. {{messageLabels.shippingInfoLabel}} <span class="tick "></span>
	</h5>
	<div id="panel1" class="panel-collapse collapse in">
		<div class="collapsed-content" id="loggedUserShippingContainer">
			<div id="checkoutMsgContainer">
				<div class="shipping-error-msg">
					<span class="icon-verify"></span>
					<span class="error-desc">{{messageLabels.shippingErrorMessage}}</span>
				</div>
			</div>
			{{#if addressAdded}}
			<form class="sm-form-validation" id="guestUserAddressForm">
				<div class="shipping-fields-edit">
					<h6>
						{{messageLabels.shipToLabel}} <a href="javascript:void(0);" id="editShippingAddress">{{messageLabels.editLabel}}</a>
					</h6>
					<p class="editable-text">
						{{cartData.deliveryAddress.firstName}} {{cartData.deliveryAddress.lastName}}<br />
						{{cartData.deliveryAddress.line1}} {{cartData.deliveryAddress.line2}} <br />
						{{cartData.deliveryAddress.town}}, {{cartData.deliveryAddress.region.isocodeShort}} {{cartData.deliveryAddress.postalCode}}<br /><br /><br />
						{{cartData.deliveryAddress.email}}<br />
					</p>
					<p id="phonemask">{{cartData.deliveryAddress.phone}}</p>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
<div style="clear: both;"></div>