
<div class="panel panel-default review-order" id="revieworder" data-analytic-checkouttab="revieworder">
		<h5 class="panel-title major">
			{{messageLabels.reviewOrderShipLabel}}
			{{#if showTicker}}
				<span class="tick"></span>
			{{/if}}
		</h5>
		<div id="panel2" class="panel-collapse collapse panel-items">
			{{#if openReviewPanel}}
			<div class="collapsed-content">
				<div class="cart-checkout-items-order-details">
					{{#each cartData.retailerInfoData}}
					<input type="hidden" value="{{promotionalDiscount.value}}" class="retailerDiscount"/>
					<div class="cart-checkout-items">
						<div class="confirm-retailer major">{{retailerName}} ({{totalUnitCount}})</div>
						<div class="cart-items-container checkout-accordian">
							<div class="return-information hide-mobile">{{../messageLabels.itemsLabel}}</div>
							<div class="return-information show-mobile">
								<span>{{../messageLabels.itemsLabel}}</span>
								<span class="subtotal-head">{{../messageLabels.subtotalLabel}}</span>
							</div>
							<div class="checkout-item-heading hide-mobile">
								<div class="row">
									<div class="col-md-offset-8 col-md-2 col-xs-offset-6 col-xs-2">
										<div class="price-heading hide-mobile">{{../messageLabels.itemPriceLabel}}</div>
									</div>
									<div class="col-md-2 col-xs-2">
										<div class="total-heading">{{../messageLabels.subtotalLabel}}</div>
									</div>
								</div>
							</div>
							{{#each productDetails}}
							<div class="row clearfix row-pad-btm">
								<div class="col-md-2 col-xs-4">									
									<div class="imgContainer">
								<a href="#">
									{{#if product.images.[0]}}
										{{#each product.images}}
											{{#ifCond format "===" "thumbnail"}}
													<img  alt="{{#if product.baseOptions.[0].selected.baseProductDesignerName}}{{product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if product.variantValues.Color}}{{product.variantValues.Color}} {{/if}}{{#if product.name}}{{product.name}}{{/if}}" src="{{url}}">
											{{/ifCond}}
										{{/each}}
									{{else}}
										<source media="(min-width: 768px) and (max-width: 991px)" srcset="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
											<img class="img-responsive" alt="{{#if product.baseOptions.[0].selected.baseProductDesignerName}}{{product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if product.variantValues.Color}}{{product.variantValues.Color}} {{/if}}{{#if product.name}}{{product.name}}{{/if}}" style="" src="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
									{{/if}}
								</a>
							</div>
								</div>
								<div class="col-md-6 col-xs-8 row-pad-l">
									<div class="item-description">
										<a href="#">{{{product.name}}}</a>
									</div>
									{{#if promotionMessage}}
										{{#each promotionMessage}}
											<div class="itempromotion">{{this}}</div>
										{{/each}}
									{{/if}}
									<div class="hide-desktop">
										{{#if msrpValue.value}}
											<div class="item-price">{{msrpValue.formattedValue}}</div>
										{{/if}}
										<span class="item-revised-price">
											{{#if saleValue.value}}
												{{saleValue.formattedValue}}
												{{#if msrpValue.value}} 
													<img src="/_ui/responsive/simon-theme/icons/black-question.svg"
														data-placement="top" data-html="true" class="tooltip-init simon-logo" data-toggle="tooltip"
														title="{{../../../../../messageLabels.MSRPLabel}} {{msrpValue.formattedValue}}<br>
																{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}}<br>
																{{../../../../../messageLabels.salePriceLabel}} {{saleValue.formattedValue}} " alt="question">
												{{/if}}
											{{else}}
												{{listValue.formattedValue}}
											{{/if}}
										</span>
										{{#if totalPrice}}
											<span class="item-subtotal-price">{{totalPrice.formattedValue}}</span>
										{{/if}}
										{{#if savingsMessage}}
											<div class="item-discount">{{savingsMessage}}</div>
										{{/if}}
									</div>
									{{#if quantity}}
										<div class="item-qty">{{../../../messageLabels.quantityLabel}} {{quantity}}</div>
									{{/if}}
									{{#each product.variantValues}}
										<div class="item-color">{{@key}}: {{this}}</div>
									{{/each}}
									<div class="edit-item-bag"></div>
								</div>
								<div class="col-md-2 col-xs-2">
								
									<div class="hide-mobile">
										{{#if msrpValue.value}}
											<span class="item-price strike">{{msrpValue.formattedValue}}</span>
										{{else}}
											{{#if saleValue.value}}
												<span class="item-price strike">{{listValue.formattedValue}}</span>
											{{/if}}
										{{/if}}
										<div class="item-revised-price">
											{{#if promotionApplicable}}
												{{#if msrpValue.value}}
													{{#if saleValue.value}}
														<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true"
															class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.MSRPLabel}} {{msrpValue.formattedValue}} <br> 
																														{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}} <br> 
																														{{../../../../../messageLabels.yourPriceLabel}} {{yourPrice.formattedValue}} <br> 
																														{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="question">
													{{/if}}
												{{else}}
													{{#if saleValue.value}}
														<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true"
															class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}} <br> 
																														{{../../../../../messageLabels.yourPriceLabel}} {{yourPrice.formattedValue}} <br> 
																														{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="question">
													{{else}}
														<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true"
															class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.yourPriceLabel}} {{yourPrice.formattedValue}} <br> 
																														{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="question">
													{{/if}}
												{{/if}}
												{{listValue.formattedValue}}
											{{else}}
												<!-- if promotion is not applicable -->
												{{#if saleValue.value}}
													{{saleValue.formattedValue}}
													{{#if msrpValue.value}}
														<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true"
															class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.MSRPLabel}} {{msrpValue.formattedValue}} <br> 
																														{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}} <br> 
																														{{../../../../../messageLabels.yourPriceLabel}} {{saleValue.formattedValue}} <br> 
																														{{../../../../../messageLabels.youSavedLabel}} {{youSave.formattedValue}}" alt="question">
													{{/if}}
												{{else}}
													{{listValue.formattedValue}}
												{{/if}}
												<!-- end of promotion -->
											{{/if}}
										</div>
										{{#if savingsMessage}}
											<div class="item-discount">{{savingsMessage}}</div>
										{{/if}}
									</div>
								</div>
								<div class="col-md-2 col-xs-2 hide-mobile">
									{{#if totalPrice}}
										<div class="subtotal">{{totalPrice.formattedValue}}</div>
									{{/if}}
								</div>
							</div>
							{{/each}}
							<div class="row">
								<div class="col-md-offset-2 col-md-10 col-xs-12">
									<div class="price-container-left">
										<div class="price-calculation-container">
											<div class="price-top-spacing">
												<span class="estimated-subtotal">{{../messageLabels.estimatedSubtotalLabel}}</span>
												{{#if estimatedSubtotal}}
													<span class="estimated-sub-price">{{estimatedSubtotal.formattedValue}}</span>
												{{/if}}
											</div>
											<div class="ship-top-spacing">
												<span class="estimated-shipping">{{../messageLabels.estimatedShippingLabel}}</span>
												{{#if estimatedShipping}}
													<span class="estimated-shipping-price">{{estimatedShipping.formattedValue}}</span>
												{{else}}
													<span class="estimated-shipping-price">--</span>
												{{/if}}
											</div>
											{{#each supportedShippingMethods}}
												{{#if isSelected}}
													<div class="choose-method">{{name}}</div>
												{{/if}}
											{{/each}}
											<div class="tax-top-spacing">
												<span class="estimated-tax">{{../messageLabels.estimatedTaxLabel}}</span>
												<a href="#" data-toggle="modal" data-target="#orderSummaryHelpModal">
												<img src="/_ui/responsive/simon-theme/icons/black-question.svg" class="tooltip-init simon-logo" alt="">
											</a>
												{{#if estimatedTax}}
													<span class="estimated-tax-price">{{estimatedTax.formattedValue}}</span>
												{{else}}
													<span class="estimated-tax-price">--</span>
												{{/if}}
											</div>
											<div class="last-call-spacing">
												<span class="last-call-retailer">{{retailerName}} {{../messageLabels.estimatedTotal}}</span>
												{{#if estimatedTotal}}
													<span class="last-call-price">{{estimatedTotal.formattedValue}}</span>
												{{/if}}
											</div>
											<div class="you-save-spacing">
												<span class="you-save">{{../messageLabels.youSavedLabel}}</span>
												{{#if saving}}
													<span class="you-save-price">{{saving.formattedValue}}</span>
												{{else}}
													<span class="you-save-price">--</span>
												{{/if}}
											</div>
											{{#if promoMessages}}
												{{#each promoMessages}}
													<div class="float-left">
														<span class="promoMessages">{{this}}</span>
													</div>
												{{/each}}
											{{/if}}
											<div class="shipping-method shipping-fields">
												<div class="major small-text tag">{{../messageLabels.selectShipLabel}} {{retailerName}}</div>
												<div class="sm-input-group list-dropdown select-menu">
													<select class="form-control" id="shippingMethod" data-retailerid="{{retailerId}}">
														{{#each supportedShippingMethods}}
															<option value="{{code}}" {{#if isSelected}}selected{{/if}}>
																{{name}} - {{deliveryCost.formattedValue}}
															</option>
														{{/each}}
													</select>
												</div>
											<a class="viewReturnPolicy checkoutReviewOrder" data-href="{{retailerPolicyUrl}}">{{labelTextViewShippingAndReturns}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					<div class="cart-checkout-allitems">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<div class="price-container-left cart-checkout-items">
									<div class="price-calculation-container">
										<div class="price-top-spacing">
											<span class="estimated-subtotal">{{messageLabels.estimatedOrderSubtotalLabel}}</span>
											{{#if cartData.subTotal}}
												<span class="estimated-sub-price">{{cartData.subTotal.formattedValue}}</span>
											{{/if}}
										</div>
										<div class="ship-top-spacing">
											<span class="estimated-shipping">{{messageLabels.estimatedOrderShippingLabel}}</span>
											{{#if cartData.deliveryCost}}
												<span class="estimated-shipping-price">{{cartData.deliveryCost.formattedValue}}</span>
											{{else}}
												<span class="estimated-shipping-price">--</span>
											{{/if}}
										</div>
										<div class="tax-top-spacing">
											<span class="estimated-tax">{{messageLabels.estimatedOrderTaxLabel}}</span>
											<a href="#" data-toggle="modal" data-target="#orderSummaryHelpModal">
												<img src="/_ui/responsive/simon-theme/icons/black-question.svg" class="tooltip-init simon-logo" alt="">
											</a>
											{{#if cartData.totalTax}}
												<span class="estimated-tax-price">{{cartData.totalTax.formattedValue}}</span>
												
											{{else}}
												<span class="estimated-tax-price">--</span>
											{{/if}}
										</div>
										<div class="last-call-spacing">
											<span class="last-call-retailer">{{messageLabels.estimatedOrderTotalLabel}}</span>
											{{#if cartData.totalPrice}}
												<span class="last-call-price">{{cartData.totalPrice.formattedValue}}</span>
											{{else}}
												<span class="last-call-price">--</span>
											{{/if}}
										</div>
										<div class="you-save-spacing">
											<span class="you-save">{{messageLabels.youSavedLabel}}</span>
											{{#if cartData.totalDiscounts}}
												<span class="you-save-price">{{cartData.totalDiscounts.formattedValue}}</span>
											{{else}}
												<span class="you-save-price">--</span>
											{{/if}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn reviewOrder">{{messageLabels.saveAndContinue}}</button>
				</div>
			</div>
			{{else}}
			<div class="review-bottom-order-summary">
				<div class="cart-checkout-items-order-details">
					<div class="view-items">
						<span class="view-tab">{{messageLabels.viewItemLabel}}</span>
						<span class="close-tab">{{messageLabels.closeItemLabel}}</span>
					</div>
					<div class="collapse">
					{{#each cartData.retailerInfoData}}
					<div class="cart-checkout-items">
						<div class="confirm-retailer major">{{retailerName}} ({{totalUnitCount}})</div>
						<div class="cart-items-container checkout-accordian">
							<div class="return-information hide-mobile">{{../messageLabels.itemsLabel}}</div>
							<div class="return-information show-mobile">
								<span>{{messageLabels.itemsLabel}}</span>
								<span class="subtotal-head">{{../messageLabels.subtotalLabel}}</span>
							</div>
							<div class="checkout-item-heading hide-mobile">
								<div class="row">
									<div class="col-md-offset-8 col-md-2 col-xs-offset-6 col-xs-2">
										<div class="price-heading hide-mobile">{{../messageLabels.itemPriceLabel}}</div>
									</div>
									<div class="col-md-2 col-xs-2">
										<div class="total-heading">{{../messageLabels.subtotalLabel}}</div>
									</div>
								</div>
							</div>
							{{#each productDetails}}
							<div class="row clearfix row-pad-btm">
								<div class="col-md-2 col-xs-4">
									<a href="#">
										{{#if product.images.[0]}}
											{{#each product.images}}
												{{#ifCond format "===" "thumbnail"}}
												<img width="105" alt="{{#if product.baseOptions.[0].selected.baseProductDesignerName}}{{product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if product.variantValues.Color}}{{product.variantValues.Color}} {{/if}}{{#if product.name}}{{product.name}}{{/if}}" src="{{url}}">
												{{/ifCond}}
											{{/each}}
										{{else}}
											<source media="(min-width: 768px) and (max-width: 991px)" srcset="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
										<img class="img-responsive" alt="{{#if product.baseOptions.[0].selected.baseProductDesignerName}}{{product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if product.variantValues.Color}}{{product.variantValues.Color}} {{/if}}{{#if product.name}}{{product.name}}{{/if}}" style="" src="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
										{{/if}}
									</a>
								</div>
								<div class="col-md-6 col-xs-8 row-pad-l">
									<div class="item-description">
										<a href="#">{{product.name}}</a>
									</div>
									<div class="hide-desktop">
										{{#if msrpValue.value}}
											<div class="item-price">{{msrpValue.formattedValue}}</div>
										{{/if}}
										<span class="item-revised-price">
											{{#if saleValue.value}}
												{{saleValue.formattedValue}}
												{{#if msrpValue.value}}
													<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true"
														class="tooltip-init simon-logo" data-toggle="tooltip" title="{{../../../../../messageLabels.MSRPLabel}} {{msrpValue.formattedValue}} <br> 
																													{{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}} <br> 
																													{{../../../../../messageLabels.salePriceLabel}} {{saleValue.formattedValue}}" alt="question">
												{{/if}}
											{{else}}
												{{listValue.formattedValue}}
											{{/if}}
										</span>
										{{#if totalPrice}}
										<span class="item-subtotal-price">{{totalPrice.formattedValue}}</span>
										{{/if}}
										{{#if savingsMessage}}
											<div class="item-discount">{{savingsMessage}}</div>
										{{/if}}
									</div>
									{{#if quantity}}
										<div class="item-qty">{{../../../messageLabels.quantityLabel}}  {{quantity}}</div>
									{{/if}}
									{{#each product.variantValues}}
										<div class="item-color">{{@key}}: {{this}}</div>
									{{/each}}
									<div class="edit-item-bag">
									</div>
								</div>
								<div class="col-md-2 col-xs-2">
									<div class="hide-mobile">
										{{#if msrpValue.value}}
											<div class="item-price">{{msrpValue.formattedValue}}</div>
										{{/if}}
										<div class="item-revised-price">
											 {{#if
											msrpValue.value}} <img
												src="/_ui/responsive/simon-theme/icons/black-question.svg"
												data-placement="top" data-html="true"
												class="tooltip-init simon-logo" data-toggle="tooltip"
												title="{{../../../../../messageLabels.MSRPLabel}}  {{msrpValue.formattedValue}} <br> {{../../../../../messageLabels.listPriceLabel}} {{listValue.formattedValue}} <br> {{../../../../../messageLabels.salePriceLabel}} {{saleValue.formattedValue}}"
												alt="question"> {{/if}} {{#if saleValue.value}} {{saleValue.formattedValue}} {{else}} {{listValue.formattedValue}}
											{{/if}}
										</div>
										{{#if savingsMessage}}
										<div class="item-discount">{{savingsMessage}}</div>
										{{/if}}
									</div>
								</div>
								<div class="col-md-2 col-xs-2">
									{{#if totalPrice}}
									<div class="subtotal hide-mobile">{{totalPrice.formattedValue}}</div>
									{{/if}}
								</div>
							</div>
							{{/each}}
							<div class="row">
								<div class="col-md-offset-2 col-md-10 col-xs-12">
									<div class="price-container-left">
										<div class="price-calculation-container">
											<div class="price-top-spacing">
												<span class="estimated-subtotal">{{../messageLabels.estimatedSubtotalLabel}}</span>
												{{#if estimatedSubtotal}} <span class="estimated-sub-price">{{estimatedSubtotal.formattedValue}}</span>
												{{/if}}
											</div>
											<div class="ship-top-spacing">
												<span class="estimated-shipping">{{../messageLabels.estimatedShippingLabel}}</span>
												{{#if estimatedShipping}} <span
													class="estimated-shipping-price">{{estimatedShipping.formattedValue}}</span>
												{{else}} <span class="estimated-shipping-price">--</span>
												{{/if}}
											</div>
											{{#each supportedShippingMethods}} {{#if isSelected}}
											<div class="choose-method">{{name}}</div>
											{{/if}} {{/each}}
											<div class="tax-top-spacing">
												<span class="estimated-tax">{{../../messageLabels.estimatedTaxLabel}}</span> <a href="#" data-toggle="modal" data-target="#orderSummaryHelpModal">
												<img src="/_ui/responsive/simon-theme/icons/black-question.svg" class="tooltip-init simon-logo" alt="">
											</a>{{#if
												estimatedTax}} <span class="estimated-tax-price">{{estimatedTax.formattedValue}}</span>
												{{else}} <span class="estimated-tax-price">--</span> {{/if}}
											</div>
											<div class="last-call-spacing">
												<span class="last-call-retailer">{{retailerName}}
													{{../../messageLabels.estimatedTotal}}</span> {{#if estimatedTotal}} <span
													class="last-call-price">{{estimatedTotal.formattedValue}}</span>
												{{/if}}
											</div>
											<div class="you-save-spacing">
												<span class="you-save">{{../../messageLabels.youSavedLabel}} </span> {{#if saving}} <span
													class="you-save-price">{{saving.formattedValue}}</span>
												{{else}} <span class="you-save-price">--</span> {{/if}}
											</div>
											{{#if promoMessages}} {{#each promoMessages}}
											<div class="float-left">
												<span class="promoMessages"> {{this}} </span>
											</div>
											{{/each}} {{/if}}
											<div class="shipping-method">
												<div class="major small-text tag">{{../messageLabels.selectShipLabel}}  {{retailerName}}</div>
												<div class="sm-input-group list-dropdown select-menu">
													<select class="form-control" id="shippingMethod"
														data-retailerid="{{retailerId}}"> {{#each
														supportedShippingMethods}}
														<option value="{{code}}" {{#if isSelected}}selected{{/if}}>{{name}}
															- {{deliveryCost.formattedValue}}</option> {{/each}}
													</select>
												</div>
												<a class="viewReturnPolicy checkoutReviewOrder" data-href="{{retailerPolicyUrl}}">{{labelTextViewShippingAndReturns}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
					</div>
					<div class="item-padding-btm"></div>
					<div class="cart-checkout-allitems">
						<div class="row">
							<div class="col-md-12 col-xs-12">
								<div class="price-container-left cart-checkout-items">
									<div class="price-calculation-container">
										<div class="price-top-spacing">
											<span class="estimated-subtotal">{{messageLabels.estimatedOrderSubtotalLabel}}</span> 
											{{#if cartData.subTotal}} <span
												class="estimated-sub-price">{{cartData.subTotal.formattedValue}}</span>
											{{/if}}
										</div>
										<div class="ship-top-spacing">
											<span class="estimated-shipping">{{messageLabels.estimatedOrderShippingLabel}}
												</span> {{#if cartData.deliveryCost}} <span
												class="estimated-shipping-price">{{cartData.deliveryCost.formattedValue}}</span>
											{{else}} <span class="estimated-shipping-price"> --</span>
											{{/if}}
										</div>
										<div class="tax-top-spacing">
											<span class="estimated-tax">{{messageLabels.estimatedOrderTaxLabel}}<a href="#"
												data-toggle="modal" data-target="#orderSummaryHelpModal">
													<img
													src="/_ui/responsive/simon-theme/icons/black-question.svg"
													class="tooltip-init simon-logo" alt="question">
											</a>
											</span> {{#if cartData.totalTax}} <span class="estimated-tax-price">{{cartData.totalTax.formattedValue}}</span>
											{{else}} <span class="estimated-tax-price">--</span> {{/if}}
										</div>
										<div class="last-call-spacing">
											<span class="last-call-retailer">{{messageLabels.estimatedOrderTotalLabel}} </span>
											{{#if cartData.totalPrice}} <span class="last-call-price">{{cartData.totalPrice.formattedValue}}</span>
											{{else}} <span class="last-call-price">--</span> {{/if}}
										</div>
										<div class="you-save-spacing">
											<span class="you-save">{{messageLabels.youSavedLabel}}</span> {{#if
											cartData.totalDiscounts}} <span class="you-save-price">{{cartData.totalDiscounts.formattedValue}}</span>
											{{else}} <span class="you-save-price">--</span> {{/if}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
</div>

<!--Shipping, Return and Policy modal start-->
       <div class="modal fade" id="shippingReturnModal" role="dialog">
             <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Shipping, Returns & Privacy Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="privacy-content scrollablediv scroll-container">
                               
                        </div>
             		</div>
      		 </div>
       </div>
    <!--Shipping, Return and Policy modal ends-->