<div class="panel panel-default" id="payment" data-analytic-checkouttab="payment">
            <h5 class="panel-title major">
                {{#if userloggedin}}3 {{else}}4 {{/if}}. {{messageLabels.paymentLabel}}
            </h5>
           <div id="panel4" class="panel-collapse collapse">
           	<div id="checkoutPaymentMsgContainer" class="hide">
			    <div class="shipping-error-msg">
			        <span class="icon-verify"></span>
			        <span class="error-desc"> </span>
			    </div>
			</div>
               <div class="collapsed-content">
                    <form id="payment-form" accept-charset="UTF-8" class="bt-flabels js-flabels sm-form-validation spf-form" method="POST" data-parsley-validate="validate" >
                     <input type="hidden" name="payment_method_token" id="payment_method_token" value="" />
                     
                     <input type="hidden" name="cardType" id="cardType" value="" />
                     <input type="hidden" name="cardNumber" id="cardNumber" value="" />
                     <input type="hidden" name="lastFourDigitCard" id="lastFourDigitCard" value="" />
                     <div class="shipping-fields payment-container">
                      
					  						
                        {{#if userloggedin}}
                       
                           {{#if paymentInfos}}
						   
						   <div class="cards-container clearfix hide">
								<div class="cards pull-left">
									<img src="/_ui/responsive/simon-theme/icons/visa.svg" class="simon-logo" alt="visa"/>
									<img src="/_ui/responsive/simon-theme/icons/mastercard.svg" class="simon-logo" alt="mastercard"/>
									<img src="/_ui/responsive/simon-theme/icons/amex.svg" class="simon-logo" alt="amex"/>
								</div>
								<div class="secure-info small-text pull-right hide-mobile">
									 {{../../messageLabels.infoSecureLabel}} 
								</div>
							</div>						   
						    <div class="shipping-method">
							  <div class="major small-text tag">
								{{../../messageLabels.paymentMethodLabel}}
							   </div>
							</div>
                          <div class="row">
							   <div class="col-xs-12 list-dropdown">
								  <div class = "sm-input-group select-menu">
									 <select class = "form-control" id="paymentDropdown">
									  {{#each paymentInfos}}
										<option value="{{id}}" rel="{{paymentToken}}" data-cardtype="{{creditCardTypeInVault}}">{{cardType}} {{../../../messageLabels.endingInLabel}} {{lastFourDigits}}</option>
									  {{/each}}
										<option value="addNewPayment">{{cardType}} {{../../messageLabels.addNewPayentMethodLabel}}</option>
									 </select>
								  </div>
							   </div>
                          </div>
                          <div class="row existingCVV">
                           <div class="col-xs-6 col-md-3">
                              <div class="sm-input-group">
                                 <div hidden id="spreedly-number-test" class="spf-field-group spf-number spf-field-cc">
                                 <img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" class="tooltip-init simon-logo cvv-tooltip" data-toggle="tooltip" title="" alt="Info" data-original-title="">
        					</div>
        					<div id="spreedly-cvv-test" class="spf-field-group spf-verification_value spf-field-cc">
        					</div>
                                 <!-- <input type="text" class="form-control" placeholder="CVV" id="existingCVV">
                                 <img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" class="tooltip-init simon-logo cvv-tooltip" data-toggle="tooltip" title="" alt="" data-original-title=""> -->
                              
                              </div>
                           </div>
                          </div>
                          
                           	
                          
                          
                          
                          
                          <div class="nosavedPaymentmethod hide">
                            <div class="row">
                               <div class="col-xs-12 col-md-7">
                                  <div class = "sm-input-group">
                                     <label class="field-label" for="first_name">{{../../messageLabels.firstNameLabel}}<span class="field-error" id="error-paymentfirstName"></span></label>
                                   <input 
                                    type="text" 
                                    class="form-control  spf-input-text" 
                                    placeholder="{{../../messageLabels.firstNameLabel}}" 
                                    id="first_name" 
                                    name="firstName"
                                    data-parsley-errors-container="#error-paymentfirstName" 
                                    data-parsley-error-message="{{../../messageLabels.firstNameErrorMsgLabel}}"  
                                    required />
                                 
                                  </div>
                               </div>
          
                               <div class="col-xs-12 col-md-5">
                                  <div class = "sm-input-group">
                                    <label class="field-label" for="last_name">{{../../messageLabels.lastNameLabel}}<span class="field-error" id="error-paymentlastName"></span></label>
                                     <input 
                                      type = "text" 
                                      class = "form-control spf-input-text" 
                                      name="lastName"
                                      id="last_name" 
                                      placeholder = "{{../../messageLabels.lastNameLabel}}" 
                                      data-parsley-errors-container="#error-paymentlastName" 
                                      data-parsley-error-message="{{../../messageLabels.lastNameErrorMsgLabel}}"  
                                      required />
                                  </div>
                               </div>
                            </div>

                            <div class="row">
                               <div class="col-xs-12 col-md-7 row-height">
                                  <div class = "sm-input-group">
                                     
                                     <div id="spreedly-number-test" class="spf-field-group spf-number spf-field-cc">
                                                    </div>
                                  </div>
                               </div>
                            </div>

                            <div class="row">
								<div class="col-xs-12 col-md-7"> 
									<div class="row">
									   <div class="col-xs-12 col-md-6 list-dropdown">
										  <div class = "sm-input-group">
                        <label class="field-label" for="month">{{../../messageLabels.expmMonthLabel}}<span class="field-error" id="error-expmonth"></span></label>
											  <select id="month" data-parsley-errors-container="#error-expmonth" required>
											  <option value="" selected="" hidden="">{{../../messageLabels.expmMonthLabel}}</option>
											  <option value="01">01</option>
											  <option value="02">02</option>
											  <option value="03">03</option>
											  <option value="04">04</option>
											  <option value="05">05</option>
											  <option value="06">06</option>
											  <option value="07">07</option>
											  <option value="08">08</option>
											  <option value="09">09</option>
											  <option value="10">10</option>
											  <option value="11">11</option>
											  <option value="12">12</option>
											  </select>
										  </div>
									   </div>
									   <div class="col-xs-6 col-md-6 list-dropdown clear">
										  <div class = "sm-input-group">
                        <label class="field-label" for="year">{{../../messageLabels.expYearLabel}}<span class="field-error" id="error-expyear"></span></label>
											  <select id="year" data-parsley-errors-container="#error-expyear" required>
											  <option value="" selected="">{{../../messageLabels.expYearLabel}}</option>
											  {{#each expyear}}
											  	<option value="{{this}}">{{this}}</option>
											  {{/each}}
											  										  </select>
										  </div>
									   </div>
									</div>
							    </div>
							    <div class="col-xs-7 col-md-4">
                                  <div class = "sm-input-group">
                                     
                                     <div id="spreedly-cvv-test" class="spf-field-group spf-verification_value spf-field-cc">
                                                    </div>
                                     <img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" class="tooltip-init simon-logo cvv-tooltip" data-toggle="tooltip" title="" alt="Info" data-original-title="">
                                  </div>
                                </div>
                            
							</div>
                        </div>
                        {{else}}
						
						<div class="cards-container clearfix">
							<div class="cards pull-left">
								<img src="/_ui/responsive/simon-theme/icons/visa.svg" class="simon-logo" alt="visa"/>
								<img src="/_ui/responsive/simon-theme/icons/mastercard.svg" class="simon-logo" alt="mastercard"/>
								<img src="/_ui/responsive/simon-theme/icons/amex.svg" class="simon-logo" alt="amex"/>
							</div>
							<div class="secure-info small-text pull-right hide-mobile">
								{{../../messageLabels.infoSecureLabel}}
							</div>
						</div>
                        <div class="nosavedPaymentmethod">
                            <div class="row">
                               <div class="col-xs-12 col-md-7">
                                  <div class = "sm-input-group">
                                    <label class="field-label" for="firstName">{{../../messageLabels.firstNameLabel}}<span class="field-error" id="error-firstName"></span></label>
                                   <input 
                                    type="text" 
                                    class="form-control  spf-input-text" 
                                    placeholder="{{../../messageLabels.firstNameLabel}}" 
                                    id="first_name" 
                                    name="firstName"
                                    data-parsley-errors-container="#error-firstName" 
                                    data-parsley-error-message="{{../../messageLabels.firstNameErrorMsgLabel}}" 
                                    required />
                                  
                                  </div>
                               </div>
          
                               <div class="col-xs-12 col-md-5">
                                  <div class = "sm-input-group">
                                 	<label class="field-label" for="last_name">{{../../messageLabels.lastNameLabel}}<span class="field-error" id="error-lastName"></span></label>
                                     <input 
                                      type = "text" 
                                      class = "form-control spf-input-text" 
                                      name="lastName"
                                      id="last_name" 
                                      placeholder = "{{../../messageLabels.lastNameLabel}}" 
                                      data-parsley-errors-container="#error-lastName" 
                                      data-parsley-error-message="{{../../messageLabels.lastNameErrorMsgLabel}}" 
                                      required />
                                  </div>
                               </div>
                            </div>

                            <div class="row">
                               <div class="col-xs-12 col-md-7 row-height">
                                  <div class = "sm-input-group">
                                     
                                     <div id="spreedly-number-test" class="spf-field-group spf-number spf-field-cc">
                                                    </div>
                                  </div>
                               </div>
                            </div>

                            <div class="row">
								<div class="col-xs-12 col-md-7"> 
									<div class="row">
									   <div class="col-xs-6 col-md-6 list-dropdown">
										  <div class = "sm-input-group">
                        <label class="field-label" for="month">{{../../messageLabels.expmMonthLabel}}<span class="field-error" id="error-expmonth"></span></label>
											  <select id="month" data-parsley-errors-container="#error-expmonth" required>
											  <option value="" selected="" hidden="">{{../../messageLabels.expmMonthLabel}}</option>
											  <option value="01">01</option>
											  <option value="02">02</option>
											  <option value="03">03</option>
											  <option value="04">04</option>
											  <option value="05">05</option>
											  <option value="06">06</option>
											  <option value="07">07</option>
											  <option value="08">08</option>
											  <option value="09">09</option>
											  <option value="10">10</option>
											  <option value="11">11</option>
											  <option value="12">12</option>
											  </select>
										  </div>
									   </div>
									   <div class="col-xs-12 col-md-6 list-dropdown">
										   <div class = "sm-input-group">
                        <label class="field-label" for="year">{{../../messageLabels.expYearLabel}}<span class="field-error" id="error-expyear"></span></label>
											  <select id="year" data-parsley-errors-container="#error-expyear" required>
											  <option value="" selected="">{{../../messageLabels.expYearLabel}}</option>
											  {{#each expyear}}
											  	<option value="{{this}}">{{this}}</option>
											  {{/each}}
											  </select>
										  </div>
										</div>
									</div>
							   </div>
							   
							   <div class="col-xs-6 col-md-4">
                                  <div class = "sm-input-group">
                                     
                                     <div id="spreedly-cvv-test" class="spf-field-group spf-verification_value spf-field-cc">
                                                    </div>
                                     <img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" class="tooltip-init simon-logo cvv-tooltip" data-toggle="tooltip" title="" alt="Info" data-original-title="">
                                  </div>
                               </div>
                            </div>
                        </div>
                        {{/if}}
                        {{else}}
						<div class="cards-container clearfix">
							<div class="cards pull-left">
								<img src="/_ui/responsive/simon-theme/icons/visa.svg" class="simon-logo" alt="visa"/>
								<img src="/_ui/responsive/simon-theme/icons/mastercard.svg" class="simon-logo" alt="mastercard"/>
								<img src="/_ui/responsive/simon-theme/icons/amex.svg" class="simon-logo" alt="amex"/>
							</div>
							<div class="secure-info small-text pull-right hide-mobile">
								{{../messageLabels.infoSecureLabel}} 
							</div>
						</div>
                        <div class="nosavedPaymentmethod" id="nosavedPaymentmethod">
                            <div class="row">
                               <div class="col-xs-12 col-md-7">
                                  <div class = "sm-input-group">
                                   <label class="field-label" for="first_name">{{../messageLabels.firstNameLabel}}<span class="field-error" id="error-firstName"></span></label>
                                   <input 
                                    type="text" 
                                    class="form-control  spf-input-text" 
                                    placeholder="{{../messageLabels.firstNameLabel}}" 
                                    id="first_name" 
                                    name="first Name"
                                    data-parsley-errors-container="#error-firstName" 
                                    data-parsley-error-message="{{../messageLabels.firstNameErrorMsgLabel}}" 
                                    required />
                                  </div>
                               </div>
          
                               <div class="col-xs-12 col-md-5">
                                  <div class = "sm-input-group">
                                     <label class="field-label" for="last_name">{{../messageLabels.lastNameLabel}}<span class="field-error" id="error-lastName"></span></label>
                                     <input 
                                      type = "text" 
                                      class = "form-control spf-input-text" 
                                      name="last Name"
                                      id="last_name" 
                                      placeholder = "{{../messageLabels.lastNameLabel}}" 
                                      data-parsley-errors-container="#error-lastName" 
                                      data-parsley-error-message="{{../messageLabels.lastNameErrorMsgLabel}}" 
                                      required />
                                  </div>
                               </div>
                            </div>

                            <div class="row">
                               <div class="col-xs-12 col-md-7 row-height">
                                  <div class = "sm-input-group">                                     
                                    <div id="spreedly-number-test" class="spf-field-group spf-number spf-field-cc">
                                    </div>
                                  </div>
                               </div>
                            </div>

              <div class="row">
								<div class="col-xs-12 col-md-7"> 
									<div class="row">
									   <div class="col-xs-6 col-md-6 list-dropdown">
										  <div class = "sm-input-group ">
                        <label class="field-label" for="month">{{../messageLabels.expmMonthLabel}}<span class="field-error" id="error-expmonth"></span></label>
											  <select id="month" data-parsley-errors-container="#error-expmonth" required>
											  <option value="" selected="" hidden="">{{../messageLabels.expmMonthLabel}}</option>
											  <option value="01">01</option>
											  <option value="02">02</option>
											  <option value="03">03</option>
											  <option value="04">04</option>
											  <option value="05">05</option>
											  <option value="06">06</option>
											  <option value="07">07</option>
											  <option value="08">08</option>
											  <option value="09">09</option>
											  <option value="10">10</option>
											  <option value="11">11</option>
											  <option value="12">12</option>
											  </select>
										  </div>
									   </div>
									   <div class="col-xs-6 col-md-6 list-dropdown clear">
										  <div class = "sm-input-group">
                        <label class="field-label" for="year">{{../messageLabels.expYearLabel}}<span class="field-error" id="error-expyear"></span></label>
											  <select id="year" data-parsley-errors-container="#error-expyear" required>
											  <option value="" selected="">{{../messageLabels.expYearLabel}}</option>
											  {{#each expyear}}
											  	<option value="{{this}}"> {{this}} </option>
											  {{/each}}
											  </select>
										  </div>
									   </div>
									</div> 
								</div>
                               <div class="col-xs-6 col-md-4 payment-cvv">
                                  <div class = "sm-input-group">
                                     
                                     <div id="spreedly-cvv-test" class="spf-field-group spf-verification_value spf-field-cc">
                                                    </div>
                                     <img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" class="tooltip-init simon-logo cvv-tooltip" data-toggle="tooltip" title="" alt="Info" data-original-title="">
                                  </div>
                               </div>
                            </div>
                        </div>
                        {{/if}}
                        
                        
                        <div class="row hide-desktop mobile-mcafee"> 
							<div class="col-xs-8 "> 
								<div class="secure-info small-text ">
								{{../messageLabels.infoSecureLabel}}<img src="/_ui/responsive/simon-theme/icons/black-question.svg" data-placement="top" data-html="true" class="tooltip-init simon-logo" data-toggle="tooltip" title="" alt="" data-original-title="MSRP: $234.00 <br> List Price: $200.00 <br> Sale Price: $122.00" style="
    width: 10px;
    margin-left: 3px;
">
    							</div>
    						</div>
    						<div class="col-xs-4 clearfix">  
    							<div class="antivirus-icon">
                          			<img title="" alt="" src="/_ui/responsive/simon-theme/icons/mc-afee-fpo.png">
        						</div>
        					</div>

						</div>
                        
                        
                        <div class="clearfix disclaimer-copy {{#if paymentInfos}} hide {{/if}}">
                          <div class="antivirus-icon">
                          <img title="" alt="Info"
                          src="/_ui/responsive/simon-theme/icons/mc-afee-fpo.png">
                        </div> 
                          {{#if userloggedin}}
                           <div class="checkboxes">
                              <div class="sm-input-group pull-left">
                                 <input type="checkbox" name="confirm" id="saveCard" />
                                 <label for="saveCard">{{../messageLabels.saveCardBillingLabel}}</label>
                              </div>
                              
                           </div>
                           <div class="checkboxes">
                              <div class="sm-input-group pull-left">
                                 <input type="checkbox" name="confirm" id="defaultCard" />
                                 <label for="defaultCard">{{../messageLabels.makeDefaultLabel}}</label>
                              </div>
                              
                           </div>
                           {{/if}}
                           <div class="checkboxes useBillingCheckboxContainer">
                              <div class="sm-input-group pull-left">
                                 <input type="checkbox" name="confirm" id="useShipping" {{#if paymentInfos}} {{else}} {{#if cartData.deliveryAddress.billingAddress}} checked {{/if}} {{/if}}>
                                 <label for="useShipping">{{messageLabels.useShippingASBilling}}</label> 
                              </div>
                           </div>
                        </div>
                          {{#if userloggedin}}
                           {{#if billingAddresses}}
                           <div class="heading_container {{#if paymentInfos}} display-none {{/if}}">
                             <h6 class="major payment-subheading">{{../../messageLabels.billingAddress}}</h6>
                             	
                                  <div class="row">
                             <div class="col-xs-12 list-dropdown">
                                <div class = "sm-input-group select-menu">
                                   <select class = "form-control" id="billingDropdown">
                                    {{#each billingAddresses}}
                                      <option value="{{id}}">{{line1}} {{line2}} {{town}} {{region.isocodeShort}} {{postalCode}}</option>
                                    {{/each}}
                                    <option value="addNewBilling">{{../../messageLabels.addNewBillingLabel}} </option>
                                    
                                   </select>
                                </div>
                             </div>
                            </div>
                        </div>
                          <div class="billingContainer display-none">
                                <div class="row">
                                   <div class="col-xs-12 col-md-7">
                                      <div class = "sm-input-group">
                                        <label class="field-label" for="billingAddress1"> {{../../messageLabels.address1Label}} <span class="field-error" id="error-line1"></span></label>
                                        <input 
                                          type = "text" 
                                          id="billingAddress1" 
                                          class = "form-control" 
                                          placeholder = "{{../../messageLabels.address1Label}}" 
                                          data-parsley-error-message="{{../../messageLabels.addressErrorMsgLabel}}" 
                                          data-parsley-errors-container="#error-line1" required />
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-md-5">
                                      <div class = "sm-input-group">
										<label class="field-label hide" for="billingAddress2">{{../../messageLabels.address2ndLabel}}<span class="field-error"></span></label>
                                         <input 
                                          type = "text" 
                                          id="billingAddress2" 
                                          class = "form-control" 
                                          placeholder = "{{../../messageLabels.address2Label}}"> 
                                      </div>
                                   </div>
                                </div>

                                <div class="row">
                                   <div class="col-xs-12 col-md-7">
                                      <div class = "sm-input-group">
                                        <label class="field-label" for="billingCity"> {{../../messageLabels.cityLabel}} <span class="field-error" id="error-townCity"></span></label>
                                        <input
                                          type = "text" 
                                          id="billingCity" 
                                          class = "form-control" 
                                          placeholder = "{{../../messageLabels.cityLabel}}"
                                          data-parsley-error-message="{{../../messageLabels.cityErrorMsgLabel}}" 
                                          data-parsley-errors-container="#error-townCity" required />
                                      </div>
                                   </div>
								    <div class="col-xs-12 col-md-5">
										<div class="row">
									    <div class="col-xs-6 col-md-6 list-dropdown states">
										    <div class = "sm-input-group select-menu">
                        <label class="field-label" for="billingState">{{../../messageLabels.regionLabel}}<span class="field-error" id="error-regioniso"></span></label>
												<select class = "form-control" id="billingState" data-parsley-errors-container="#error-regioniso" required>
                          <option value="">{{../../messageLabels.stateLabel}}</option>
													{{#each statesMap}}
													   <option value="{{stateCode}}">{{isocodeShort}}</option>
													{{/each}}
												</select>
										    </div>
									    </div>
									    <div class="col-xs-6 col-md-6 zipcode">
											<div class = "sm-input-group">
                        <label class="field-label" for="zipCode">{{../../messageLabels.zipcodeLabel}}<span class="field-error" id="error-postcode"></span></label>
                        <input 
                          type="text" 
                          id="zipCode"
                          name="postcode" 
                          class="form-control" 
                          data-parsley-min-message="Min 5" 
                          data-parsley-min="5"	
                          data-parsley-errors-container="#error-postcode" 
                          required 
                          placeholder="{{../../messageLabels.zipcodeLabel}}" />
											</div>
									    </div>
										</div>
                                   </div>
								   
								   
                                </div>
                              </div>
                            {{else}}
                            
                            <div class="billingContainer {{#if cartData.deliveryAddress.billingAddress}} display-none {{/if}}">
                              <h6 class="major payment-subheading">{{messageLabels.billingAddress}}  </h6>
                              <div class="mandatory-text small-text">
						   		{{messageLabels.indicateOptionalLabel}}
								</div>
                                <div class="row">
                                   <div class="col-xs-12 col-md-7">
                                      <div class = "sm-input-group">
                                          <label class="field-label" for="billingAddress1">{{messageLabels.address1Label}}<span class="field-error" id="error-line1"></span></label>
                                          <input 
                                            type = "text" 
                                            id="billingAddress1" 
                                            class = "form-control" 
                                            placeholder = "{{messageLabels.address1Label}}"
                                            data-parsley-error-message="{{messageLabels.addressErrorMsgLabel}}"
                                            data-parsley-errors-container="#error-line1" required />
                                        
                                      </div>
                                   </div>
                                   <div class="col-xs-12 col-md-5">
                                      <div class = "sm-input-group">
										<label class="field-label hide" for="billingAddress2">{{messageLabels.address2ndLabel}}<span class="field-error"></span></label>
                                         <input type = "text" id="billingAddress2" class = "form-control" placeholder = "{{messageLabels.address2Label}}">
                                      </div>
                                   </div>
                                </div>

                                <div class="row">
                                   <div class="col-xs-12 col-md-7">
                                      <div class = "sm-input-group">
                                          <label class="field-label" for="billingCity">{{messageLabels.cityLabel}}<span class="field-error" id="error-townCity"></span></label>
                                        <input
                                          type = "text" 
                                          id="billingCity" 
                                          class = "form-control" 
                                          placeholder = "{{messageLabels.cityLabel}}"
                                          data-parsley-error-message="{{messageLabels.cityErrorMsgLabel}}"
                                          data-parsley-errors-container="#error-townCity" required>
                                     
                                      </div>
                                   </div>
								   <div class="col-xs-12 col-md-5">
									   <div class="row">
											<div class="col-xs-6 col-md-6 list-dropdown">
											  <div class = "sm-input-group select-menu">
                        <label class="field-label" for="billingState">{{messageLabels.regionLabel}}<span class="field-error" id="error-regioniso"></span></label>
                        <select class = "form-control" id="billingState" data-parsley-errors-container="#error-regioniso" required>
                          
													<option value="">{{messageLabels.stateLabel}}</option>
													{{#each statesMap}}
													   <option value="{{stateCode}}">{{isocodeShort}}</option>
													{{/each}}
												 </select>
											  </div>
											</div>   
										   <div class="col-xs-6 col-md-6">
											  <div class = "sm-input-group">
                          <label class="field-label">{{messageLabels.zipcodeLabel}}<span class="field-error" id="error-postcode"></span></label>
                          <input 
                            type="text" 
                            id="zipCode"
                            name="postcode" 
                            class="form-control" 
                            data-parsley-min-message="Min 5" 
                            data-parsley-min="5"	
                            data-parsley-errors-container="#error-postcode" 
                            required 
                            placeholder="{{messageLabels.zipcodeLabel}}" />
											  </div>
										   </div>											
										</div>
								    </div>
                                </div>
                              </div>
                              {{/if}}
                              {{else}}
                              <div class="billingContainer {{#if cartData.deliveryAddress.billingAddress}} display-none {{/if}}">
                                <h6 class="major payment-subheading">{{../messageLabels.billingAddress}}  </h6>
                                <div class="row">
                                   <div class="col-xs-12 col-md-7">
                                      <div class = "sm-input-group">                                         
                                         <label class="field-label" for="billingAddress1">{{../messageLabels.address1Label}}<span class="field-error" id="error-line1"></span></label>
                                         <input 
                                           type = "text" 
                                           id="billingAddress1" 
                                           class = "form-control" 
                                           placeholder = "{{../messageLabels.address1Label}}"
                                           data-parsley-error-message="{{../messageLabels.addressErrorMsgLabel}}"
                                           data-parsley-errors-container="#error-line1" required />
                                       </div>
                                     
                                   </div>
                                   <div class="col-xs-12 col-md-5">
                                      <div class = "sm-input-group">
										<label class="field-label hide" for="billingAddress2">{{../messageLabels.address2ndLabel}}<span class="field-error"></span></label>
                                         <input type = "text" id="billingAddress2" class = "form-control" placeholder = "{{../messageLabels.address2Label}}">
                                      </div>
                                   </div>
                                </div>

                                <div class="row">
                                   <div class="col-xs-12 col-md-7">
                                      <div class = "sm-input-group">
                                          <label class="field-label" for="billingCity">{{../messageLabels.cityLabel}}<span class="field-error" id="error-townCity"></span></label>
                                          <input
                                            type = "text" 
                                            id="billingCity" 
                                            class = "form-control" 
                                            placeholder = "{{../messageLabels.cityLabel}}"
                                            data-parsley-error-message="{{../messageLabels.cityErrorMsgLabel}}"
                                            data-parsley-errors-container="#error-townCity" required />                                       
                                      </div>
                                   </div>
								   <div class="col-xs-12 col-md-5">
										<div class="row">
										   <div class="col-xs-6 col-md-6 list-dropdown">
											  <div class = "sm-input-group select-menu">
                        <label class="field-label" for="billingState">{{../messageLabels.regionLabel}}<span class="field-error" id="error-regioniso"></span></label>
                        <select class = "form-control" id="billingState" data-parsley-errors-container="#error-regioniso" required>
                          <option value="">{{../messageLabels.stateLabel}}</option>
													{{#each statesMap}}
													   <option value="{{stateCode}}">{{isocodeShort}}</option>
													{{/each}}
												 </select>
											  </div>
										   </div>
										   <div class="col-xs-6 col-md-6 billing-address-zip clear">
											  <div class = "sm-input-group">
                         <label class="field-label" for="zipCode">{{../messageLabels.zipcodeLabel}}<span class="field-error" id="error-postcode"></span></label>
                         <input 
                          type="text" 
                          id="zipCode"
                          name="postcode" 
                          class="form-control" 
                          data-parsley-min-message="Min 5" 
                          data-parsley-min="5"	
                          data-parsley-errors-container="#error-postcode" 
                          required 
                          placeholder="{{messageLabels.zipcodeLabel}}" />
											  </div>
										   </div>
										</div>
								    </div>
                                </div>
                              </div>
                            {{/if}}  
                        
                          <div class="order-summary-right cart-order-summary">
                              <div class="btn-border-top">
     <div class="error-and-msg">
     <button type="submit" class="btn plum placeOrderBtn" id="token_init">{{messageLabels.placeOrder}}</button>

     <div id="message"></div>
      
      
      
     </div>
</div>

<div class="terms-conditions small-text">
      {{messageLabels.policyMsgLabel}} <a href="#"> {{messageLabels.termofUseLabel}}</a> {{messageLabels.andLabel}} <a href="#">{{messageLabels.policyLabel}}</a>.
</div>

<div class="cart-help-container">
       <div class="help-info"> {{messageLabels.helpFulInformation}}</div>
              <div class="information">{{messageLabels.helpfulMsgLabel}}
              </div>
              <div class="question">{{messageLabels.helpfulQuestionLabel}}<a href="#">{{messageLabels.contactUsLabel}}</a></div>
       <div class="more-details">
              <a href="#" class="analytics-genericLink" data-analytics-eventtype="link_click|policy_links" data-analytics-eventsubtype="view_shipping_method" data-analytics-linkplacement="checkoutpayment" data-analytics-linkname="policy_links" data-analytics-satellitetrack="link_track"> {{messageLabels.shippingMethodCharges}}</a>
       </div>
</div>
                          </div>
                  
                     </div>
                  </form>
                  <script
      id="spreedly-iframe"
      data-environment-key="{{spreedlyEnvKey}}"
      data-number-id="spreedly-number-test"
      data-cvv-id="spreedly-cvv-test">
    </script>
               
               </div>
           </div>
       </div>
