<div class="modal fade addressBookModal confirmationModal" id="confirmDeleteModal" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{data.deleteConfirmationModalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body clearfix">
				<p class="confirm-msg">Are you sure you want to delete this address</p>
				<div class="address-buttons">
					<form action="{{data.deleteAddressURL}}" method="post">
						<input type="hidden" name="addressid" value="{{addressId}}">
						<input type="hidden" name="CSRFToken" value="{{CSRFToken}}">
						
						<button class="btn btn-add delete-address analytics-genericLink" data-analytics-eventtype="address-book"  data-analytics-eventsubtype="delete-address" data-analytics-linkplacement="address-book" data-analytics-linkname="delete-address" type="submit">{{data.deleteConfirmationModalDeleteBtnLabel}}</button>
						<button class="btn secondary-btn black" data-dismiss="modal">{{data.deleteConfirmationModalCancelBtnLabel}}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>