<div class="analytics-miniBag">
{{#if retailerInfoData}}
    <div class="scrollablediv scroll-container">
       {{#if topBannerUrl}}
       <div class="freeshipping">
            <a href="{{topBannerRedirectUrl}}">
                <img src="{{topBannerUrl}}" class="img-responsive" alt="Free Shipping">
            </a>
        </div>
        {{/if}}
        {{#each retailerInfoData}}
            <div class="clearfix">
            <div class="itemcount">{{retailerName}} ({{totalUnitCount}}) <span></span></div>
            <div class="product-container collapse in"> 
                {{#each productDetails}}
                    <div class="itemproduct clearfix">
                        <div class="leftprodarea addfavs add-to-favorites pdppagefavContainer">
							<input type="hidden" value="{{product.baseProduct}}" class="base-code" />
							<input type="hidden" value="{{product.baseProductName}}" class="base-name" />
							<div class="analytics-addtoFavorite" data-analytics-pagetype="sub_bag" data-analytics-productid="{{product.code}}" data-analytics-eventsubtype="mini_bag" data-analytics-linkplacement="mini_bag" data-analytics-component="product">
							{{#unless ../../anonymousUser}}
								{{#if product.favorite}}
								
									<a href="javascript:void(0);" class="mark-favorite fav-icon marked tooltip-init" data-fav-type="PRODUCTS" data-add-to-fav="Add to My Favorites" data-added-to-fav="Added to My Favorites" title="Added to My Favorites" data-placement="bottom" data-toggle="tooltip"> <span class="hide"> fav</span> </a>
									{{else}}
										<a href="#" class="icon-fav-blank mark-favorite fav-icon"><span class="hide"> fav</span></a>
								{{/if}}
							{{/unless}} 
							</div>
							{{#if ../../anonymousUser}}
								<a href="javascript:void(0);" data-fav-type="PRODUCTS"  data-fav-product-code="{{product.baseProduct}}" data-fav-name="{{product.baseProductName}}" class="fav-icon login-modal openLoginModal" data-add-to-fav="Add to My Favorites" data-added-to-fav="Added to My Favorites"><span class="hide"> fav</span></a>
							{{/if}}
					
					{{#ifCond product.stock.stockLevelStatus.code  "===" "outOfStock"}}
                                <span class="oos-icon"></span>   
                            {{/ifCond}}
                            {{#if product.images.[0]}}
                            {{#each product.images}}
                                {{#ifCond format "===" "thumbnail"}}
                                    <a href="{{../../product.url}}" class="product-img">
                                        <img width="105" alt="{{#if product.baseOptions.[0].selected.baseProductDesignerName}}{{product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if product.variantValues.Color}}{{product.variantValues.Color}} {{/if}}{{#if product.baseProductName}}{{product.baseProductName}}{{/if}}" src="{{url}}">
                                    </a>
                               {{/ifCond}}
                            {{/each}}
                            {{else}}
                                    <a href="{{product.url}}" class="product-img">
                                        <source media="(min-width: 768px) and (max-width: 991px)" srcset="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
                                        <img class="img-responsive" alt="{{#if product.baseOptions.[0].selected.baseProductDesignerName}}{{product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if product.variantValues.Color}}{{product.variantValues.Color}} {{/if}}{{#if product.baseProductName}}{{product.baseProductName}}{{/if}}" style="" src="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
                                    </a>
                             {{/if}} 
                        </div>
                        <div class="rightprodarea">
                            <div class="prod-name"><a href="{{product.url}}">{{{product.name}}}</a></div>
                            
                            <div class="itempromotion">
										{{#each ../../appliedProductPromotions}} 
											{{#each consumedEntries}} 
												{{var "basePrice" ../../basePrice.value}}
												{{#ifCond orderEntryNumber "===" ../../entryNumber}}
													{{#ifCond basePrice  "gtf"  adjustedUnitPrice}}
													 {{../../../description}}</br>													 
													{{/ifCond}}
												{{/ifCond}}
											{{/each}}
										{{/each}}
									</div>

                            {{#ifCond product.stock.stockLevelStatus.code  "===" "outOfStock"}}
                                <div class="oos-msg">Out of Stock</div>
                            {{/ifCond}}
                            {{#if msrpValue.value}}
                                   <div class="old-price {{#if msrpValue.strikeOff}}strike{{/if}}">{{msrpValue.formattedValue}}</div>
                                {{else}}
                                
                                {{#if listValue.strikeOff}}
                                	<div class="old-price {{#if listValue.strikeOff}}strike{{/if}}">{{listValue.formattedValue}} </div>
                                {{/if}}
                                    
                            {{/if}}
                           	<div class="new-price">
                            {{#if saleValue.value}}
                            	{{saleValue.formattedValue}} 
                                {{#if msrpValue.value}}
                                    {{#if listValue.value}}
                                        <span class="tooltip-init tooltip-icon" data-placement="top" data-html="true" data-toggle="tooltip" title="" data-original-title="MSRP: {{msrpValue.formattedValue}} <br> List Price: {{listValue.formattedValue}} <br> Sale Price: {{saleValue.formattedValue}} <br> You Save: {{youSave.formattedValue}}"></span>
                                    {{/if}}
                                {{/if}}
                                {{else}}
                                {{listValue.formattedValue}}
                            {{/if}}
                            </div>
                            {{#if savingsMessage}}
                            <div class="discount"> {{savingsMessage}} </div>
                            {{/if}}
                            <div class="quantity">Quantity: {{quantity}}</div>
                                {{#each product.variantValues}}
                                    <div class="color-text"> {{@key}}: {{this}} </div>
                                {{/each}}

                        </div>
                    </div>
                {{/each}}
            </div>
            </div>
        {{/each}}
    </div>
    <div class="totalitem">
        <div class="bagtotal"> {{messageLabels.totalunitCountLabel}} ({{totalUnitCount}} {{trim messageLabels.itemLabel}}): </div>
        <div class="amounttotal"> {{totalPrice.formattedValue}} </div>
        <div class="clearfix"> </div>
    </div>
    <form action="/cart/checkout/" method="get">
        <button class="checkoutbtn btn plum analytics-checkOutBtn" data-analytics-eventtype="proceed_checkout" data-analytics-eventsubtype="mini_bag" data-analytics-ecommercetype="mini_bag" data-analytics-linkplacement="mini_bag" data-analytics-linkname="proceed_checkout" data-satellitetrack="link_track"> {{messageLabels.checkoutLabel}} </button>
    </form>
    <a href="/cart" class="viewbag analytics-genericLink" data-analytics-eventtype="view_bag" data-analytics-eventsubtype="mini_bag" data-analytics-linkplacement="mini_bag" data-analytics-linkname="view_bag" data-analytics-satellitetrack="link_track"> {{messageLabels.viewMyBagLabel}}({{totalUnitCount}})</a>
	
{{else}}
	<div class="analytics-miniBagEmpty" data-analytics='{"placement": "empty_bag", "name": "{{messageLabels.emptybagPromotionalLabel}}"}'>
		<div class="heading-minibag">{{messageLabels.emptybagLabel}}</div>
		<form action="{{messageLabels.emptybagPromotionalLabelUrl}}">
		<button class="seeWhat trending-now-btn clearfix analytics-genericLink" data-url="{{messageLabels.emptybagPromotionalLabelUrl}}" data-analytics-eventtype="mini_bag|link_click" data-analytics-eventsubtype="{{messageLabels.emptybagPromotionalLabel}}" data-analytics-linkplacement="placeholder" data-analytics-linkname="designer_shop" data-satellitetrack="link_track">{{messageLabels.emptybagPromotionalLabel}}</button>
		</form>
		
		<a href="/cart" class="viewbag analytics-genericLink" data-analytics-eventtype="view_bag" data-analytics-eventsubtype="mini_bag" data-analytics-linkplacement="mini_bag" data-analytics-linkname="view_bag" data-analytics-satellitetrack="link_track">{{messageLabels.viewMyBagLabel}} (0)</a>
	</div>
{{/if}}
<div>