<div class="modal fade modal-fullscreen force-fullscreen {{modalClass}}" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<section class="modal-dialog">
		<div class="modal-content" id="{{modalId}}Content">
		</div>
	</section>
</div>