<div class="modal-header">
	<h5 class="modal-title">{{addressLabel}}</h5>
	<button type="button" class="close" data-dismiss="modal"
		aria-label="Close"></button>
</div>
<div class="modal-body clearfix">
	<p class="optional-fields">{{optionalfieldsLabel}}</p>
	<form id="addressForm" modelAttribute="addressForm" data-parsley-validate="validate" class="bt-flabels js-flabels sm-form-validation analytics-formValidation" data-analytics-type="registration" data-analytics-eventtype="my_account" data-analytics-eventsubtype="add_new_address" data-analytics-formtype="add_new_address" data-analytics-formname="add_new_address" data-satellitetrack="registration">
		<input type="hidden" name="CSRFToken" value="{{CSRFToken}}">
		<input type="hidden" name="countryIso" value="{{countryISO}}">
		<input type="hidden" name="addressId" value="{{addressId}}">
		<div class="address-fields">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="sm-input-group">
						<label class="field-label">{{firstNameLabel}}<span class="field-error" id="error-firstName"></span></label>
						<input type="text" id="firstName" value="{{firstName}}" name="firstName" required class="form-control" data-parsley-errors-container="#error-firstName" data-parsley-error-message="First Name Is Required" required
							placeholder="{{firstNameLabel}}">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="sm-input-group">
						<label class="field-label">{{lastNameLabel}}<span class="field-error" id="error-lastName"></span></label>
						<input type="text" name="lastName" id="lastName" value="{{lastName}}" class="form-control" data-parsley-errors-container="#error-lastName" data-parsley-error-message="Last Name Is Required" required 
							placeholder="{{lastNameLabel}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="sm-input-group">
						<label class="field-label">{{defaultAddressLabel}}<span class="field-error" id="error-line1"></span></label>
						<input type="text" name="line1" id="line1" value="{{line1}}" class="form-control" data-parsley-errors-container="#error-line1" data-parsley-error-message="Address Is Required" required
							placeholder="{{defaultAddressLabel}}">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="sm-input-group">
						<input type="text" name="line2" id="line2" value="{{line2}}" class="form-control"
							placeholder="APT / FLOOR / SUITE*">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="sm-input-group">
						<label class="field-label">{{cityLabel}}<span class="field-error" id="error-townCity"></span></label>
						<input type="text" name="townCity" id="townCity" value="{{town}}" class="form-control" data-parsley-errors-container="#error-townCity" data-parsley-error-message="City Is Required" required 
							placeholder="{{cityLabel}}">
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-7 col-md-6">
							<div class="sm-input-group list-dropdown">
								<label class="field-label">{{stateLabel}}<span class="field-error" id="error-regioniso"></span></label>
								
								<select name="regionIso" id="regionIso" value="{{region.isocode}}" class="form-control" data-parsley-errors-container="#error-regioniso" required>
									<option value="">{{stateLabel}}</option>
									
									<!-- <option value="US-NY" {{#ifCond region.isocode "===" "US-NY"}}selected{{/ifCond}}>New York</option> -->
									 {{var "stateISO" region.isocode}} 
									  
									  
															{{#each stateList}}
									<option value="{{isocode}}" {{#ifCond isocode  "===" ../stateISO}}  selected {{/ifCond}}>{{isocodeShort}}</option>
										
									{{/each}}

								</select>
							</div>
						</div>
						
						<div class="col-xs-7 col-md-6">
					<div class="sm-input-group">
						<label class="field-label">{{zipLabel}}<span class="field-error" id="error-postcode"></span></label>
						<input type="text" name="postcode" id="postcode" value="{{postalCode}}" class="form-control" data-parsley-min-message="Min 5" data-parsley-min="5"	data-parsley-errors-container="#error-postcode" required 
							placeholder="{{zipLabel}}">
					</div>
				</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="sm-input-group">
						<label class="field-label">{{phoneLabel}}<span class="field-error" id="error-phone"></span></label>
						<input type="text" id="us-phoneno-validation" id="phone" name="phone" value="{{phone}}" class="form-control" data-parsley-errors-container="#error-phone" data-parsley-error-message="Phone Number Is Required" required
							placeholder="{{phoneLabel}}*">
					</div>
				</div>
			</div>

			<div class="clearfix">
				<label class="checkboxes">
					<div class="sm-input-group pull-left">
						<input type="checkbox" class="custom-checkbox defaultAddressCheckbox" {{#if defaultAddress}} checked {{/if}} />
					</div> <span class="make-default-text">{{makedefaultaddressLabel}}</span>
				</label>
				<input type="hidden" name="defaultAddress" value="false">
			</div>

			<div class="address-buttons submit-btn">
				<input type="submit" class="btn btn-add add-address-btn" id="addAddress" value="{{buttonLabel}}">
				<button class="btn secondary-btn black" data-dismiss="modal">{{cancelButtonText}}</button>
			</div>
		</div>
	 </form>
</div>