<h6>Select Color: <span id="colorName">{{defaultColor.colorName}}</span></h6>
<div class="color-palette clearfix" data-key="color" data-selectedVal="">
    {{#each data.baseColors}}
        <span 
            class="color-switches {{#ifCond @root.data/selectedColorName "===" colorId}}active{{/ifCond}} {{#isColorOutOfStock @root.data.colordetails colorId}}not-available{{/isColorOutOfStock}}"
            data-color-id="{{colorId}}" 
            data-color-name="{{colorName}}" 
			data-pricerange="{{priceRange}}"
			style="background: url('{{swatchImageUrl}}{{#unless swatchImageUrl}}{{@root.unknowColorUrl}}{{/unless}}');"></span>
    {{/each}}
</div>

