{{#each defaultColor}} 
    {{#ifCond @key "===" "variantData"}}
        {{#each this}}
            {{#ifCond @index "<" 4}}
             {{#ifCond controlType "!==" "dropDown"}}
           <div class="select-size-container {{#ifCond @index '!==' 0}} hoverdisabled {{/ifCond}} variant-selection-{{@index}} switch-chest" data-key="{{@key}}">
                {{#ifCond @key "===" "size"}}
                    {{#if @root.isMobile}}
                        <button 
                            class="btn secondary-btn black major show-mobile" 
                            data-toggle="modal" 
                            data-dismiss="modal" 
                            data-target="#select{{@key}}Mobile"><span>{{title}}</span><span class='current-item-name'></span></button>
            
                        
                        <div id="select{{@key}}Mobile" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Select Size</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body clearfix">
                    {{/if}}
                {{/ifCond}}
                                      {{#ifCond controlType "===" "swatch"}}
	                                    <div class="size-links">
	                                        <h6><span>{{title}}</span><span class="current-item-name"></span>                                       
	                                        </h6>
	                                        <div class="size-palette clearfix">
	                                            {{#each swatches}}
	                                                <a  class="switch"
	                                                    href="javascript:void(0);" 
	                                                    data-swatchid="{{valueCategoryId}}"
	                                                    data-name="{{valueCategoryName}}">{{valueCategoryName}}</a>
	                                            {{/each}}
	                                        </div>
	                                    </div>
                                  {{/ifCond}}
                {{#ifCond @key "===" "size"}}
                                    <div class="size-guide-link">
                                        <a data-href="/global-size-guide-page" 
                                            id="pdpSizeChartLink"
                                            data-toggle="modal">Size Guide</a>
                                    </div>
                    {{#if @root.isMobile}}
                                    </div>{{!-- Closing: modal-body clearfix --}}
                                    <div class="modal-footer clearfix">
                                        <button class="btn pull-left" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/ifCond}}
                {{/ifCond}}
               {{#ifCond controlType "===" "dropDown"}}
                    <div class="select-length list-dropdown" data-key="{{@key}}">
                    <select>
                        <option data-is-title="true">{{title}}</option>
                        {{#each swatches}}
                            <option value="{{valueCategoryId}}">{{valueCategoryName}}</option>
                        {{/each}}
                    </select>
                </div>
                {{/ifCond}}
            </div>
            {{/ifCond}}
             
            {{#ifCond @index ">" 3}}
                <div class="select-length list-dropdown" data-key="{{@key}}">
                    <select>
                        <option data-is-title="true">{{title}}</option>
                        {{#each swatches}}
                            <option value="{{valueCategoryId}}">{{valueCategoryName}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/ifCond}}
            
        {{/each}}
    {{/ifCond}}
{{/each}}  
    
    