<div class="row">
	<div class="col-xs-4 thumbnail">
	<div class="imgContainer">
		<picture>
		{{#if entry.product.images.[0]}}
		{{#each entry.product.images}}
            {{#ifCond format "===" "thumbnail"}}
                <img class="img-width"  alt="{{#if entry.product.baseOptions.[0].selected.baseProductDesignerName}}{{entry.product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if entry.product.variantValues.colorName}}{{entry.product.variantValues.colorName}} {{/if}}{{#if entry.product.baseProductName}}{{entry.product.baseProductName}}{{/if}}" src="{{url}}">
            {{/ifCond}}
        {{/each}}
			
		 {{else}}
                <source media="(min-width: 768px) and (max-width: 991px)" srcset="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
                <img class="img-responsive" alt="{{#if entry.product.baseOptions.[0].selected.baseProductDesignerName}}{{entry.product.baseOptions.[0].selected.baseProductDesignerName}} {{/if}}{{#if entry.product.variantValues.colorName}}{{entry.product.variantValues.colorName}} {{/if}}{{#if entry.product.baseProductName}}{{entry.product.baseProductName}}{{/if}}" style="" src="/_ui/responsive/simon-theme/images/no-image-105x160.jpg">
		{{/if}}
		</picture> 
		</div>
		<div class="add-to-favorites add-to-my-fav addfavs">
              
			  <div class="analytics-addtoFavorite" data-analytics-pagetype="add_bagpdp" data-analytics-eventsubtype="sub_bag|pdp" data-analytics-linkplacement="sub_bag|pdp" data-analytics-component="product">
              <input type="hidden" value="{{entry.product.baseProduct}}" class="base-code analytics-base-code" />
              <input type="hidden" value="{{entry.product.baseProductName}}" class="base-name analytics-base-name" />
              <!-- For Logged In User -->
              {{#unless anonymousUser}}
                    {{#if entry.product.favorite}}
           				<a href="#" class="mark-favorite fav-icon marked tooltip-init" title="Added to My Favorites" data-placement="bottom" data-toggle="tooltip"><span class="hide"> fav</span></a>
                    		
                   		{{else}}
                    			<a href="#" class="mark-favorite fav-icon" > <span class="hide"> fav</span> </a>
                    {{/if}}
              {{/unless}} 
              </div>
              <!-- For Anonymous User -->
              {{#if anonymousUser}}
                    <a href="javascript:void(0);" data-fav-product-code="{{entry.product.baseProduct}}" data-fav-name="{{entry.product.baseProductName}}" data-fav-type="PRODUCTS" class="fav-icon login-modal openLoginModal"><span class="hide"> fav</span></a>
              {{/if}}
        </div>

		
	</div>
	<div class="col-xs-8">
		<div class="price-container">
			<h6 class="heading">{{{entry.product.name}}}</h6>
			<!-- <h6 class="price-off">20% off Until 12:00 AM EST Tonight</h6> -->
			<div class="inner-price-container">
				{{#if entry.msrpValue.value}}
                    <div class="crossed-price {{#if entry.msrpValue.strikeOff}}strike{{/if}}">{{entry.msrpValue.formattedValue}}</div>
                    
                    {{else}}
                    	{{#if entry.listValue.strikeOff}}
	                        <div class="crossed-price {{#if entry.listValue.strikeOff}}strike{{/if}}">{{entry.listValue.formattedValue}}</div>
	                    {{/if}}
                {{/if}}
               

				<div class="actual-price"> 
					{{#if entry.saleValue.value}}
                             {{entry.saleValue.formattedValue}}
                                 {{#if entry.msrpValue.value}}
                                    <span class="tooltip-init tooltip-icon" data-placement="top" data-html="true" data-toggle="tooltip" title="" data-original-title="MSRP: {{entry.msrpValue.formattedValue}} <br> List Price: {{entry.listValue.formattedValue}} <br> Sale Price: {{entry.saleValue.formattedValue}}"></span>
                                 {{/if}}
                             
                              {{else}}
                                {{entry.listValue.formattedValue}}
                    {{/if}} 
					
	   			</div>
				<div class="off">{{entry.savingsMessage}}</div>
				{{#each entry.product.variantValues}}
                           <div class="product-variant"> {{@key}}: {{this}} </div>
                {{/each}}
				
			</div>
			<div class="select-quantity">
				<h6>Quantity: <span>{{entry.quantity}}</span></h6>
			</div>
		</div>
	</div>
</div>

<div class="row item-total-container">
	<div class="col-xs-6">
		<h6 class="major">{{messageLabels.itemTotal}}</h6>
	</div>
	<div class="col-xs-6">
		<h6 class="total-amount pull-right">{{entry.totalPrice.formattedValue}}</h6>
	</div>
</div>
<div class="btn-container clearfix">
	
    <button class="btn secondary-btn black major block analytics-genericLink" data-analytics-eventtype="continue_shopping|sub_bag" data-analytics-eventsubtype="pdp" data-analytics-linkplacement="pdp|sub_bag|{{entry.product.name}}" data-analytics-linkname="continue_shopping" id="btnContinueShop" data-satellitetrack="link_track" data-dismiss="modal">{{messageLabels.continueShopping}}</button>
	
    <form action="/cart/checkout/" method="get">
    	<button class="btn  plum block major redirecttocheckout analytics-checkOutBtn" data-analytics-eventtype="proceed_checkout" data-analytics-eventsubtype="pdp|sub_bag" data-analytics-ecommercetype="pdp|sub_bag" data-analytics-linkplacement="pdp|{{entry.product.name}}" data-analytics-linkname="proceed_checkout" data-satellitetrack="proceed_checkout">{{messageLabels.checkoutText}}</button>
	</form>
    <h6 class="view-my-bag "><a class="analytics-genericLink" data-analytics-eventtype="view_bag|sub_bag" data-analytics-eventsubtype="pdp" data-analytics-linkplacement="pdp|sub_bag|{{entry.product.name}}" data-analytics-linkname="view_bag" data-satellitetrack="link_track"  href="/cart">{{messageLabels.viewMyBag}} ({{itemCount}})</a></h6>
</div>