{{#each images}}
    <div class="item tail-hide">
        <picture					
            data-product-img='{{#if main}} {{main}} {{else}} /_ui/responsive/simon-theme/images/no-image-580x884.jpg {{/if}}'
            data-zoom-img-src="{{#if zoom}} {{zoom}} {{else}}/_ui/responsive/simon-theme/images/no-image-1160X1768.jpg {{/if}}">
            <source media="(max-width: 991px)" srcset="{{#if mobile}} {{mobile}} {{else}} /_ui/responsive/simon-theme/images/no-image-325x495.jpg {{/if}}"/>
            <img 
                class="thumbnail img-responsive" 
                alt="{{altText}}" 
                src="{{#if thumbnail}} {{thumbnail}} {{else}} /_ui/responsive/simon-theme/images/no-image-84x128.jpg {{/if}}"/>
        </picture>
    </div>
{{/each}}

{{#unless images}}
    <div class="item " id="noImageContainer">
        <picture					
            data-product-img='/_ui/responsive/simon-theme/images/no-image-580x884.jpg'
            data-zoom-img-src="/_ui/responsive/simon-theme/images/no-image-1160X1768.jpg">
            <source 
                media="(max-width: 991px)" 
                srcset="/_ui/responsive/simon-theme/images/no-image-325x495.jpg"/>
                <source 
                media="(min-width: 991px)" 
                srcset="/_ui/responsive/simon-theme/images/no-image-84x128.jpg"/>
            <img 
                class="thumbnail img-responsive" 
                alt="{{altText}}" 
                src="/_ui/responsive/simon-theme/images/no-image-84x128.jpg"/>
        </picture>
    </div>

{{/unless}}
