<div class="pdp-retailer">
    {{#ifCond retailerName "===" designerName}}
       		 {{#ifCond retailerUrl "===" '#'}}
	     		{{retailerName}}
       		 {{else}}
       		 	<a href="{{retailerUrl}}" id="retailerName" class="no-padding">{{retailerName}}</a>
       		 {{/ifCond}}
       
       {{else}}
       		{{#if retailerName}}
	       		     {{#ifCond retailerUrl "===" '#'}}
	       		    	 {{retailerName}}
		       		 {{else}}
		       		 	 <a href="{{retailerUrl}}" id="retailerName">{{retailerName}}</a>
		       		 {{/ifCond}}
		       
		        {{#if designerName}}
		            <span>  |  </span>
		        {{/if}}
		        
		    {{/if}}
		    
		    {{#if designerName}}
		    	 {{#ifCond designerUrl "===" '#'}}
	     			 {{designerName}}
	       		 {{else}}
	       		 	<a href="{{designerUrl}}" id="designerName">{{designerName}}</a>
	       		 {{/ifCond}}
		       
		    {{/if}}
    {{/ifCond}}
</div>
    
<h1>{{productTitle}}</h1>
<div class="pdp-promo-text">
    {{additionalPromotion}}
</div>