{{#if priceRange}}

    {{#if strikeOffPriceRange}}
    	<div class="crossed-price"> {{strikeOffPriceRange}} </div>
    	{{/if}}
    	
    <div class="actual-price">
        {{priceRange}}
        <a 
            class="tooltip-init tooltip-icon" 
            data-placement = "top" 
            data-html="true" 
            data-toggle = "tooltip" 
            title = "Price Range: {{priceRange}}"></a>
    </div>
{{else}}
    
    {{#if msrpValue.value}}
            <div class="{{#if msrpValue.strikeOff}}crossed-price{{/if}}">{{msrpValue.formattedValue}}</div>
        {{else}}
            {{#if listValue.strikeOff}}
                <div class="crossed-price">{{listValue.formattedValue}} </div>
            {{/if}}
    {{/if}}
    <div class="actual-price">
        {{#if saleValue.value}}
            {{saleValue.formattedValue}} 
            {{#if msrpValue.value}}
                {{#if listValue.value}}
                    <a 
                    class="tooltip-init tooltip-icon" 
                    data-placement = "top" 
                    data-html="true" 
                    data-toggle = "tooltip" 
                    title = "MSRP: {{msrpValue.formattedValue}} <br> List Price: {{listValue.formattedValue}} <br> Sale Price: {{saleValue.formattedValue}}"></a>
                {{/if}}
            {{/if}}
        {{else}}
            {{listValue.formattedValue}}
        {{/if}}
    </div>
{{/if}}

{{#if percentOff}}
    <div class="off">{{percentOff}}</div>
{{/if}}
<div class="out-of-stock msg error hide">Out of Stock</div>