{{var "welcomemsg" favSuccessMessage}}
{{#each results}}
  <div class="item-tile item-responsive col-md-4 col-xs-6 analytics-item analytics-loadMoreData" data-satellitetrack="product_listing"  data-analytics-productposition="" data-analytics-productoutofstock="{{variantOptions.[0].inStockFlag}}" data-analytics-linkname="${fn:escapeXml({{variantOptions.[0].baseProductName}})}">
    <div class="item">
    	<input type="hidden" value="{{baseProduct}}" class="base-product-code" />
   		<input type="hidden" value="{{name}}" class="base-product-name" />
		<input type="hidden" value="{{categories}}" class="base-product-category" />
      {{#if ../loggedInUser}}
		<div class="analytics-addtoFavorite" data-analytics-pagetype="productsearch" data-analytics-pagestyle="plp" data-analytics-eventsubtype="product" data-analytics-linkplacement="product" data-analytics-component="product">
			<a href="javascript:void(0);" class="mark-favorite fav-icon {{#if favorite}}marked{{/if}}">
				<i  class="tooltip-init" 
					data-placement = "bottom" 
					data-html="true" 
					data-toggle = "tooltip"
					title = "{{../../welcomemsg}}"></i>
			 </a>
		</div>     
      {{else}}       
		 <a href="javascript:void(0);" data-fav-product-code="{{baseProduct}}"
			data-fav-name="{{name}}"
			class="fav-icon login-modal openLoginModal"><span class="hide"> fav</span></a> 								 		
		{{/if}}
      <!--simonstorefront url is hardcoded this to be fixed later  -->
      <a class="analytics-colorattribute" data-analytics-colorattribute="{{variantOptions.[0].colorID}}" href=".{{variantOptions.[0].baseProductUrl}}?colorID={{variantOptions.[0].colorID}}">
       
        <picture>
			{{#if variantOptions.[0].variantImage}}
              {{#each variantOptions.[0].variantImage}} 
                  {{#ifCond format "===" "Desktop"}}
                    <source media="(min-width: 768px) and (max-width: 991px)" srcset="{{url}}">
                      <img class="img-responsive" alt="{{altText}}" style="" src="{{url}}">
                   {{/ifCond}}
                  {{#ifCond format "===" "Mobile"}}
                      <source media="(max-width: 767px)" srcset="{{url}}">
                  {{/ifCond}}
              {{/each}}
            
              {{else}}
                <source media="(min-width: 768px) and (max-width: 991px)" srcset="/_ui/responsive/simon-theme/images/no-image-200x305.jpg">
                <img class="img-responsive" alt="{{altText}}" style="" src="/_ui/responsive/simon-theme/images/no-image-200x305.jpg">
          {{/if}}
        </picture>
       
      </a>
      {{#ifCond variantOptions.[0].baseProductRetailerName "===" variantOptions.[0].baseProductDesignerName}}
        {{#if variantOptions.[0].baseProductRetailerURL}}
          <div class="item-name analytics-retailer" data-analytics-retailer="{{variantOptions.[0].baseProductRetailerName}}">
            <a href="{{variantOptions.[0].baseProductRetailerURL}}">{{variantOptions.[0].baseProductRetailerName}}</a>
          </div>
          {{else}}
          <div class="item-name gray-color analytics-retailer">
            {{variantOptions.[0].baseProductRetailerName}}
          </div>
        {{/if}}
        {{else}}
         {{#if variantOptions.[0].baseProductDesignerName}}
		    	 {{#if variantOptions.[0].baseProductDesignerURL}}
            	<div class="item-name analytics-designer" data-analytics-designer="{{variantOptions.[0].baseProductDesignerName}}">
       			<a href="{{variantOptions.[0].baseProductDesignerURL}}">{{variantOptions.[0].baseProductDesignerName}}</a>
    		  </div>
       		 {{else}}
    		  <div class="item-name gray-color analytics-designer" data-analytics-designer="{{variantOptions.[0].baseProductDesignerName}}">
            	{{variantOptions.[0].baseProductDesignerName}}
           		</div>
       		 {{/if}}
		    {{/if}}
		    
       		{{#if variantOptions.[0].baseProductRetailerName}}
      		     {{#if variantOptions.[0].baseProductRetailerURL}}
                  <div class="item-name analytics-retailer" data-analytics-retailer="{{variantOptions.[0].baseProductRetailerName}}">
                  	<a href="{{variantOptions.[0].baseProductRetailerURL}}">{{variantOptions.[0].baseProductRetailerName}}</a>
                </div>
       			 {{else}}
                 <div class="item-name gray-color analytics-retailer">
                   {{variantOptions.[0].baseProductRetailerName}}
                 </div>
       		 {{/if}} 
		    {{/if}}
      {{/ifCond}}
      <div class="item-retailer">
        <a href="">{{variantOptions.length}} Color</a>
      </div>
      <!-- Color Owl Carousal Starts -->
      <div class="color-switches-carousal analytics-plpcolorSwatches" data-analytics-linkplacement="" data-satellitetrack="product_listing">
          
           {{#each variantOptions}}
           <div class="item">
           
            <div class="color-palette clearfix">              
              <a href=".{{baseProductUrl}}?colorID={{colorID}}" class="color-switches" data-color-name="{{colorName}}"
                style="background: url('{{#if swatchImage}}{{swatchImage}}{{else}} /_ui/responsive/simon-theme/images/question-mark.jpg {{/if}}'); background-size: cover;"></a>              
            </div>
            
          </div>
           {{/each}}
       </div>
      <!-- Color Owl Carousal Ends -->
      <div class="item-color">
        <a class="analytics-genericLink" data-analytics-eventtype="brand_link" data-analytics-eventsubtype="plp" data-analytics-linkplacement="plp|brand_link" data-analytics-linkname="{{variantOptions.[0].baseProductName}}" data-satellitetrack="link_track" href=".{{variantOptions.[0].baseProductUrl}}?colorID={{variantOptions.[0].colorID}}">{{variantOptions.[0].baseProductName}}</a>
      </div> 
      <!-- this section show single price range -->
      <div class="item-discrition">{{applicablePriceRangeList}}</div>
      <!-- this section show  price range -->
      <div class="item-price">
        <span>{{plumPriceRange}}</span>
        <a href="javascript:void(0);" data-placement="top" data-html="true" data-toggle="tooltip" data-original-title="{{msrpPriceRange}}<br/>{{listPriceRange}}<br/>{{salePriceRange}}"
          class="tooltip-init tooltip-icon"></a>
      </div>
      <!-- this section show single price range -->
      <div class="item-revised-price">{{percentageOffRange}}</div>
    </div>
  </div>
{{/each}} 