<div class="shipping-section">
       <div class="shipping-method-default">
        	<h6 class="heading">{{{retailerName}}}</h6>
        	<p>{{{shippingMessage}}}</p>
       </div> 
       
       <div class="shipping-method-1">
        	<h6 class="heading">{{{shippingMethod1}}}</h6>
        	<p class="arrival-time">{{{shippingMethod1DeliverySLA}}}</p>
       </div>
       
       <div class="shipping-method-2">
        	<h6 class="heading">{{{shippingMethod2}}}</h6>
        	<p class="arrival-time">{{{shippingMethod2DeliverySLA}}}</p>
       </div>
       
    	<p class="shipping-message margin-bottom-zero">{{{pricingMessage}}}</p>
</div>

<div class="return-section">
		 <div class="return-policy">
        	<h6 class="heading">{{{retailerName}}}</h6>
        	<p>{{{returnPolicyMessage}}}</p>
       	 </div>	
       	 
       	 <div class="margin-bottom-zero">{{{labelTextReturnPeriod}}} : <span>{{{returnPeriod}}}</span> </div>
       	 <div class="margin-bottom-zero">{{{labelTextCost}}} : <span>{{{returnCost}}} </span></div>
       	 <div class="margin-bottom-zero">{{{labelTextMethod}}} : <span>{{{returnMethod}}} </span></div>
</div>

<div class="privacy-section">
		<div class="privacy-policy">
        	<h6 class="heading">{{{privacyPolicy}}}</h6>
        	<p>{{{privacyPolicyMessage}}}</p>
       	</div>
</div>