<div class="modal-header">
				
                <h5 class="modal-title">{{messageLabels.verifyAddressLabel}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body clearfix">
            <form id="suggestedAddress">
					<input type="hidden" name="firstName" value="{{suggestedAddress.firstName}}">
					<input type="hidden" name="lastName" value="{{suggestedAddress.lastName}}">
					<input type="hidden" name="line1" value="{{suggestedAddress.line1}}">
					<input type="hidden" name="line2" value="{{suggestedAddress.line2}}">
					<input type="hidden" name="townCity" value="{{suggestedAddress.town}}">
					<input type="hidden" name="regionIso" value="{{suggestedAddress.region.isocode}}">
					<input type="hidden" name="postcode" value="{{suggestedAddress.postalCode}}">
					<input type="hidden" name="phone" value="{{suggestedAddress.phone}}">
					<input type="hidden" name="countryIso" value="{{suggestedAddress.country.isocode}}">
          			<input type="hidden" name="defaultAddress">
          			<input type="hidden" name="addressId" value="{{suggestedAddress.id}}">
					<input type="hidden" name="CSRFToken" id="suggestedCSRF">
				</form>
				
				<form id="userEnteredAddress">
					<input type="hidden" name="firstName" value="{{userAddress.firstName}}">
					<input type="hidden" name="lastName" value="{{userAddress.lastName}}">
					<input type="hidden" name="line1" value="{{userAddress.line1}}">
					<input type="hidden" name="line2" value="{{userAddress.line2}}">
					<input type="hidden" name="townCity" value="{{userAddress.town}}">
					<input type="hidden" name="regionIso" value="{{userAddress.region.isocode}}">
					<input type="hidden" name="postcode" value="{{userAddress.postalCode}}">
					<input type="hidden" name="phone" value="{{userAddress.phone}}">
					<input type="hidden" name="addressId" value="{{userAddress.id}}">
					<input type="hidden" name="countryIso" value="{{userAddress.country.isocode}}">
          <input type="hidden" name="defaultAddress">
					<input type="hidden" name="CSRFToken" id="userEnteredCSRF">				
				</form>
                <div class="checkout-verify-container clearfix">
                  <p class="small-text verification-text"> {{messageLabels.addressMsgLabel}}</p>
                  <div class="content">
                        <h6>{{messageLabels.youEnteredLabel}}</h6>
                        
                        <div class="custom-radio">
                           <input type="radio" id="selectaddress" class="userEntered" name="selectaddress" value="userAddress" checked>
                           <label for="selectaddress">
                           		{{userAddress.line1}}
                            {{#if userAddress.line2}}
                            	<br />
                              {{userAddress.line2}}
                            {{/if}}
                            {{#if userAddress.region.isocodeShort}}
                            	<br />
                              {{userAddress.town}},
                            {{else}}
                              {{userAddress.town}}
                            {{/if}}
                              {{userAddress.region.isocodeShort}}
                            {{userAddress.postalCode}}</label>
                        </div>
                    </div>
                    <div class="edit-address-btn"> <!-- Todo BACKEND - populate data-address dynamically for edit prepopulate -->
                      <button type="button" data-action="editaddress" data-address='{{{json userAddress}}}' class="btn secondary-btn black addEditAddress" >Edit</button>
                      <button type="button" class="btn useThisAddress">{{messageLabels.useAddressLabel}}</button>
                    </div>
                    <div class="content">
                        <h6>{{messageLabels.suggestedAddressLabel}}</h6> 
                        <div class="custom-radio">
                           <input type="radio" id="selectaddress" class="suggestedAddress" name="selectaddress" value="suggestedAddress">
                           <label for="selectaddress" class="major">
                              {{suggestedAddress.line1}}
                            {{#if suggestedAddress.line2}}
                            	<br />
                              {{suggestedAddress.line2}}
                            {{/if}}
                            {{#if suggestedAddress.region.isocodeShort}}
                            	<br />
                              {{suggestedAddress.town}},
                            {{else}}
                              {{suggestedAddress.town}}
                            {{/if}}
                              {{suggestedAddress.region.isocodeShort}}
                           {{suggestedAddress.postalCode}}</label>
                        </div>
                    </div>
                    <div class="suggest-address-btn hide"> <!-- Todo BACKEND - populate data-address dynamically for edit prepopulate -->
                      <button type="button" class="btn useThisAddress" >{{messageLabels.useAddressLabel}}</button>
                    </div>
                </div>
            </div>