<div class="panel panel-default" data-analytic-checkouttab="shipping-address">
<h5 class="panel-title major">
  1. {{messageLabels.shippingAddressLabel}}
</h5>
<div id="panel1" class="panel-collapse collapse in border-shipping-address">
<div class="collapsed-content" id="loggedUserShippingContainer">
<div id="checkoutMsgContainer">
    <div class="shipping-error-msg hide">
        <span class="icon-verify"></span>
        <span class="error-desc"> </span>
    </div>
</div>
<form class="sm-form-validation shippingaddressForm bt-flabels js-flabels sm-form-validation" id="guestUserAddressForm"  data-parsley-validate="validate">
                     <div class="shipping-fields" id="guestshippingFormFields" data-url="/checkout/multi/delivery-address/add">
                        

                        <div class="shipping-address">
          <div class="shipping-method">
            <div class="mandatory-text small-text hide-desktop loggedinUser disclaimer-msg">
           {{messageLabels.weDontLabel}}
        </div>

              <div class="row">
                  <div class="col-xs-12 col-md-12 list-dropdown">
                      <div class="sm-input-group">
                        <select class="form-control" id="shippingFormAddress">
                            {{#each shippingAddresses}}
                                <option value="{{id}}">{{line1}} {{line2}}</option>
                            {{/each}}
                                <option value="addNewAddr" selected> {{messageLabels.addNewAddress}} </option>
                        </select>
                      </div>
                  </div>
              </div>
          </div>
		<div class="mandatory-text small-text">
		  {{messageLabels.indicateOptionalLabel}}
		</div>
        </div>
        <div class="shippingformContainer">
        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label" for="firstName">{{messageLabels.firstNameLabel}}<span class="field-error" id="error-firstName"></span></label>
                 <input type = "text" id="firstName" name="firstName" class = "form-control" 
                 data-parsley-errors-container="#error-firstName"
                 data-parsley-error-message="{{messageLabels.firstNameErrorMsgLabel}}"
                 required placeholder = "{{messageLabels.firstNameLabel}}" {{#if returnedUser}} value="{{#if suggestedAddressFlag}}  {{suggestedAddress.firstName}}  {{else}}  {{userAddress.firstName}}  {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}}  value="{{cartData.deliveryAddress.firstName}}" {{/if}} {{/if}}  >
              </div>
           </div>

           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
                <label class="field-label">{{messageLabels.lastNameLabel}}<span class="field-error" id="error-lastName"></span></label>
                 <input type = "text" id="lastName" name="lastName" data-parsley-errors-container="#error-lastName"
                 data-parsley-error-message="{{messageLabels.lastNameErrorMsgLabel}}"
                  required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.lastName}}  {{else}}  {{userAddress.lastName}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}} value="{{cartData.deliveryAddress.lastName}}" {{/if}} {{/if}} class = "form-control" placeholder = "{{messageLabels.lastNameLabel}}"/>
              </div>
           </div>
        </div>

          <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label">{{messageLabels.address1Label}}<span class="field-error" id="error-address1"></span></label>
                 <input type = "text" id="address1" name="address1" data-parsley-errors-container="#error-address1"
                 data-parsley-error-message="{{messageLabels.addressErrorMsgLabel}}"
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.line1}}  {{else}}  {{userAddress.line1}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}} value="{{cartData.deliveryAddress.line1}}" {{/if}} {{/if}} class = "form-control" placeholder = "{{messageLabels.address1Label}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
              <div class = "sm-input-group">
                <label class="field-label">{{messageLabels.address2Label}}
                  <span class="field-error" id="error-address2"></span>
                </label>
                 <input type = "text" id="address2" {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.line2}}  {{else}}  {{userAddress.line2}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}} value="{{cartData.deliveryAddress.line2}}" {{/if}} {{/if}} class = "form-control" placeholder = "{{messageLabels.address2Label}}">
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                <label class="field-label">{{messageLabels.cityLabel}}<span class="field-error" id="error-city"></span></label>
                 <input type = "text" id="city" name="city" data-parsley-errors-container="#error-city"
                 data-parsley-error-message="{{messageLabels.cityErrorMsgLabel}}" 
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.town}}  {{else}}  {{userAddress.town}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}} value="{{cartData.deliveryAddress.town}}" {{/if}} {{/if}} class = "form-control" placeholder = "{{messageLabels.cityLabel}}">
              </div>
           </div>
           <div class="col-xs-12 col-md-5">
            <div class="row">
           <div class="col-xs-12 col-md-6 list-dropdown">
              <div class = "sm-input-group">
                  <label class="field-label">{{messageLabels.stateLabel}}<span class="field-error" id="error-j_guestState"></span></label>
                      {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}}
                        {{var "stateISO" cartData.deliveryAddress.region.isocode}}
                      {{/if}}
                      {{#if returnedUser}}

                        {{#if suggestedAddressFlag}}
                            {{var "stateISO" suggestedAddress.region.isocode}}
                        {{else}}
                           {{var "stateISO" userAddress.region.isocode}}
                        {{/if}}

                      {{/if}}

                        <select class = "form-control" id="state" data-parsley-errors-container="#error-j_guestState" required>
                            <option value="">{{messageLabels.stateLabel}}</option>

                            {{#each statesMap}}

                             {{#excludeState @root.exculdeStateList stateCode}}
                                <option value="{{stateCode}}" {{#ifCond stateCode  "===" ../../stateISO}} selected {{/ifCond}} >{{isocodeShort}} </option>
                              {{/excludeState}}

                            {{/each}}
                        </select>
              </div>
           </div>

           <div class="col-xs-12 col-md-6">
              <div class = "sm-input-group zipcodecontainer">
                <label class="field-label">{{messageLabels.zipcodeLabel}}<span class="field-error" id="error-ZipCode"></span></label>
                 <input type = "text" id="zipcode" name="ZipCode" 
                 data-parsley-errors-container="#error-ZipCode"
                 data-parsley-zipstrength-message="Required"
								 data-parsley-zipstrength
                 required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.postalCode}}  {{else}}  {{userAddress.postalCode}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}} value="{{cartData.deliveryAddress.postalCode}}" {{/if}} {{/if}} class = "form-control" placeholder = "{{messageLabels.zipcodeLabel}}">
              </div>
           </div>
         </div>
         </div>
        </div>

        <div class="row">

           <div class="col-xs-12 col-md-7">
              <div class = "sm-input-group">
                 <label class="field-label">{{messageLabels.phoneNumberLabel}}<span class="field-error" id="error-phoneNumber"></span></label>
                 <input type="tel" 
                 data-role="phoneNumberValidation"
                 data-parsley-error-message="{{messageLabels.phoneErrorMsgLabel}}"
                 data-parsley-phonestrength-message="{{messageLabels.phoneErrorMsgLabel}}"
				 data-parsley-phonestrength 
                 id="phoneNumber" name="phoneNumber" data-parsley-errors-container="#error-phoneNumber" required {{#if returnedUser}}  value="{{#if suggestedAddressFlag}} {{suggestedAddress.phone}}  {{else}}  {{userAddress.phone}} {{/if}}" {{/if}} {{#if cartData.deliveryAddress}} {{#if cartData.deliveryAddress.visibleInAddressBook}} {{else}} value="{{cartData.deliveryAddress.phone}}" {{/if}} {{/if}} class="form-control" placeholder="{{messageLabels.phoneNumberLabel}}">
              </div>
           </div>
        </div>


                        <div class="clearfix pull-left disclaimer-copy">

                           <div class="checkboxes">
                              <div class="sm-input-group pull-left">
                                 <input type="checkbox" name="confirm" class="isBillingAddress" id="isBillingAddress" {{#if suggestedAddress.billingAddress}} checked {{/if}} {{#if cartData.deliveryAddress.billingAddress}} checked {{/if}} />
                                 <label for="isBillingAddress" class="checkbox-label"> {{messageLabels.useShippingASBilling}}</label>
                              </div>

                           </div>

                           <div class="checkboxes">
                              <div class="sm-input-group pull-left">
                                 <input type="checkbox" name="confirm" id="subscribeLabel" >
                                 <label for="subscribeLabel" class="checkbox-label">  {{messageLabels.subscribeLabel}}</label>
                              </div>


                           </div>

                           <div class="checkboxes">
                              <div class="sm-input-group pull-left policybottom">
                                 <input type="checkbox" name="confirm" id="saveInAddressBook" {{#if suggestedAddress.visibleInAddressBook}} checked {{/if}}>
                                 <label for="saveInAddressBook" class="checkbox-label">  {{messageLabels.saveThisAddress}}</label>
                              </div>

                         
                           </div>

                        </div>
                      </div>
                        <button type="submit" class="btn guestUserSaveShipping" >{{messageLabels.saveAndContinue}}</button>

                     </div>



                  </form>

                </div></div></div>