{{#ifCond STATUS "===" "SUCCESS"}}
	<!-- Listing -->
	<div class="track-order-listing">
		<h5>
			{{messageLabels.resultforLabel}}<b>{{OrderId}}</b> {{messageLabels.trackOrderAndLabel}} <b>{{Email}}</b>
		</h5>

		<div class="myorder-details analytics-myOrders">
			<div class="row hidden-xs order-detail-col">
				<div class="col-md-3 col-sm-12 date-bold">{{messageLabels.orderDateLabel}}</div>
				<div class="col-md-4 col-sm-12 date-bold">{{messageLabels.trackOrderReatilerLabel}}</div>
				<div class="col-md-2 col-sm-12 date-bold">{{messageLabels.trackOrderTotalPriceLabel}}</div>
				<div class="col-md-3 col-sm-12 date-bold padd-left">{{messageLabels.trackOrderOrderDetailLabel}}</div>
			</div>
			
			<div class="row order-detail-row">
				<div class="col-md-3 col-sm-12 order-detail-com">
					<div class="visible-xs date-bold">{{messageLabels.orderDateLabel}}</div>
					<!-- <div class="date-detail">{{TRACKORDER.placed}}</div> -->
					<div class="date-detail" data-analytics-orderdate="{{dateFormat TRACKORDER.placed}}">{{dateFormat TRACKORDER.placed}}</div>
				</div>
				<div class="col-md-4 col-sm-12 order-detail-com">
					<div class="visible-xs date-bold">{{messageLabels.trackOrderReatilerLabel}}</div>
					<div>
						{{#each TRACKORDER.retailers}}
                           <span class="retailer-name" data-analytics-retailername="{{this}}">{{this}}</span>
                        {{/each}}
					</div>
				</div>
				<div class="col-md-2 col-sm-12 order-detail-com">
					<div class="visible-xs date-bold">{{messageLabels.trackOrderTotalPriceLabel}}</div>
					<div class="price" data-analytics-orderprice="{{TRACKORDER.total.value}}">{{TRACKORDER.total.formattedValue}}</div>
				</div>
				<div class="col-md-3 col-sm-12 order-detail-com padd-left">
					<div class="visible-xs date-bold">{{messageLabels.trackOrderOrderDetailLabel}}</div>
					<div class="underline"><a href="#"  class="orderDetails" data-analytics-ordercode="{{TRACKORDER.code}}" data-guid="{{TRACKORDER.code}}" >{{TRACKORDER.code}}</a></div>
				</div>
			</div>
		
		</div>
		</div>
	</div>
			
			<div class="modal fade order-detail-container-modal" id="myordersModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
				
	{{else}}
	
	<!-- Error -->
	<div class="error-heading">
		<h5>{{trackNoResultMessagePrefix}} <b>{{OrderId}}</b> {{trackNoResultMessageSuffix}} <b>{{Email}}</b></h5>
	</div>
	
	
	
	{{/ifCond}}

		       	

	      
