<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="1" class="structureViewSection">
					<cockpit code="csn_SitesLogoSlot"/>
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="csn_SecureLoginSlot"/>
				</td>
			</tr>
			
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="csn_LeftCheckoutLoginContentSlot" />
				</td>
				<td colspan="2" class="structureViewSection">
					<cockpit code="csn_RightCheckoutLoginContentSlot" />
				</td>
				
			</tr>
			<tr>
			    <td colspan="5" class="structureViewSection">
					<cockpit code="csn_CustomerServiceSlot" />
				</td></tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="csn_PaymentMethodSlot"/>
				</td></tr>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="csn_McAfeeSlot"/>
				</td>
				
			</tr>
			<tr><td colspan="5" class="structureViewSection">
					<cockpit code="csn_CopyRightSlot"/>
				</td>
			</tr>
					</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
