<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
		
		
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CSN_500SitesLogoSection"/>
				</td>
				
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CSN_500ErrorPageExternalLinkSection"/>
				</td>
				
			</tr>
			
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CSN_500ErrorMainMessageSection"/>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CSN_500ErrorSubMessageSection"/>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CSN_500SocialSection"/>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="CSN_500ErrorpageCopyRightMessageSection"/>
				</td>
			</tr>

		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>