<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="csn_HeaderMessageSlot"/>
				</td>
			</tr>
			
			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="csn_SitesLogoSlot" />
				</td>
				<td colspan="1" class="structureViewSection">
					<cockpit code="csn_HeaderLinksCompSlot" />
				</td>
				<td colspan="1" class="structureViewSection">
					<cockpit code="csn_MiniCartCompSlot" />
				</td>
			</tr>
			<tr>
				<td colspan="1" class="structureViewSection">
					<cockpit code="csn_NavigationBarCompSlot"/>
				</td>
				<td colspan="3" class="structureViewSection">
					<cockpit code="csn_SearchBoxCompSlot"/>
				</td>
				<td colspan="1" class="structureViewSection">
					<cockpit code="csn_FavoritesSlot"/>
				</td>
			</tr>

			<tr>
				<td colspan="3" class="structureViewSection">
					<cockpit code="csn_designer_productLeftRefinements" />
				</td>			
				<td colspan="2" class="structureViewSection">
				</td>				
			</tr>			
			
			<tr>
				<td colspan="5" class="structureViewSection">
					<cockpit code="csn_JoinVipClubSlot" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="csn_SocialSlot" />
				</td>
				<td colspan="1" class="structureViewSection">
					<cockpit code="csn_FindAPremiumOutletSlot" />
				</td>
			</tr>
			<tr>
				<td  colspan="3" class="structureViewSection">
					<cockpit code="csn_GlobalFooterSlot" />
				</td>
				<td  colspan="2" class="structureViewSection">
					<cockpit code="csn_FooterNewsLetterSlot" />
				</td>
			</tr>
			<tr>
				<td  colspan="5" class="structureViewSection">
					<cockpit code="csn_TermsOfUseSlot" />
				</td>
			</tr>
			<tr>
				<td height="270px" colspan="5" class="structureViewSection">
					<cockpit code="csn_FooterCookiesBannerSlot" />
				</td>
			</tr>
			
		</tbody>
	</table>
		<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>
