<?xml version="1.0" encoding="UTF-8"?>
<taglib xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
    version="2.1">
	<tlib-version>1.0</tlib-version>
	<short-name>message</short-name>
	<uri>http://simon.com/tld/message</uri>
	<tag>
		<name>message</name>
		<tag-class>com.simon.storefront.tags.MessageTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>code</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>arguments</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
			<attribute>
			<name>var</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>text</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>