@import
	'breakpoints',
	'colors',
	'fonts-variables',
	'icon-variables';


/* Add More Variables in below format
---------------------------- */

/* Font sizes
---------------------------- */
$base-content:     				12px;


/* Components
---------------------------- */
$margin-none:					0;


/* Tile Sizes
 * ---------------------------- */
$pdp-tile-size : 					36px;

