/*===================================
=            BREAKPOINTS            =
===================================*/

$bp-mobile-min: 320px;
$bp-mobile-max: 991px;
$bp-desktop-min: 992px;
$bp-desktop-medium: 1200px;
