/*=======================================
=            COLOR VARIABLES            =
=======================================*/

/* Style Guide Colors */

// THESE ARE THE NEW STYLE GUIDE COLORS - WE CAN UnCOMMENT THIS ONCE
// WE ARE ABLE TO REMOVE ALL STYLES IN THE COLOR MAP (BELOW), FOR NOW
// THESE ARE COPIED TO THAT MAP... Please use the color function:
// color(general, background) results in #FFFFFF

$white: #ffffff;
$black: #000000;
$gray: #B4B2B0;
$gray-light: #f1f1f1;
$gray-dark: #000000;

$plum: #9f005b;
$teal: #008f94;
$forum-yellow: #f5bd47;

$disabled-btn: #555555;
$text-link: #757575;

$gray-bg: #edebe9;
$gray-bdr: #dbd8d4;
$gray-bdr1: #b3b1b2;
$border-color: #e0e0df;
$background-banner : #fafafc;
$tomato : #fe4c4c;
$magenta: #32cbcc;
$pink: #fe4cc3;
$light-gray-bg : #cacaca;
$red: #dd0b0b;
$grey-background : #d8d8d8;
$grey-btn-background : #eaeaea;
$grey-plusminus : #b8b1a9;
$scrollbar-color: #c1c1c1;
$dropdown-bg: #f9f9f9;
$fieldset-border: #c0c0c0;
$gray-menu-bdr: #c8c8c8;
$gray-input: #74736d;
$gray-bdr2: #979797;
$gray-bg1: #f2f1ef;

