/*
 * ALL RL FONTS VARIABLES
 -------------------------------------- */

$SimonCircularBold : 'SimonCircular-Bold';
$SimonCircularLight : 'SimonCircular-Light';
$SimonCircularBook : 'SimonCircular-Book';

/*=====================================
=            FONT STACKS              =
=====================================*/

$arial:                              Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica:                          'Helvetica Neue', Helvetica, Arial, sans-serif;