/* MOBILE & DEFAULT STYLES
 *************************************************************/
.sm-form-control{
    padding-top:25px;
}
.form-control {
    box-shadow:none;
    -webkit-box-shadow:none;
    border-radius: 0px;
    text-transform: capitalize;
    padding: 6px 21px;
}
.sm-input-group {
  label {
    font-weight: normal;
  }
  position: relative;
  padding-bottom: 28px;
  input.form-control {
    border-radius: 0;
    border: solid 1px $gray;
    height: 52.9px;
    font-size: 13.3px;
    color: $black;
    &:focus, &:visited {
      box-shadow: none;
      -webkit-box-shadow: none;
      border: 2px solid $black;
      color: $black;
    }
    &::placeholder {
      color: $gray;
    }

  }

  // TODO: this should be replaced with custom-checkbox
  input[type="checkbox"] {
    height: 16px;
    width: 16px;
    border: 1px solid $gray;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
    -webkit-transition: box-shadow 200ms;
    cursor: pointer;
    &:focus, &:visited {
      outline: none;
    }
    &:checked:before {
      content: '';
      display: block;
      height: 16px;
      width: 16px;
      @include icon(black-checked);
      -webkit-background-size: 11px 8px;
      background-size: 11px 8px;
      background-position: 2px 3px;
    }
  }
  input::-ms-clear {
    display: none;
  }
  input[type="radio"] {
    height: 16px;
    width: 16px;
    border: 1px solid $gray;
    border-radius: 100%;
    -webkit-appearance: none;
    &:focus, &:visited {
      outline: none;
    }
    &:checked {
      position: relative;
    }
    &:checked:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 3px;
      left: 3px;
      background: none $black;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
    }
  }
  input[type="email"] {
    text-transform: lowercase;
  }
  .txtarealowercase {
  	text-transform: none;
  }
  input[type="password"] {
    text-transform: none;
  }
}

.custom-radio {
  input[type="radio"] {
    position: absolute;

      &:before {
        content: '';
        background: $white;
        border-radius: 100%;
        border: 1px solid $gray;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        vertical-align: top;
        cursor: pointer;
        top: -1px;
      }
    +label {
      margin-bottom: 0;
      font-weight: normal;
      margin-left: 25px;
    }
    &:checked {
        &:before {
          outline: none;
          content: '';
          display: block;
          width: 51%;
          height: 51%;
          margin: 31% 28%;
          border-radius: 50%;
          background: $black;

        }
    }
  }
}


.has-error {
    .simon-input-group-addon {
        color: color(attention, error);
    }
    .field-label {   
      opacity: 1!important;
      transform: translateY(0);
      margin-top: -17px;
    }
    .parsley-error{
      color: $red;
      a{
        color: $red !important;
      }
      i{
        border: solid 1px $red;
      }
    }
    .parsley-success{
      color: $black;
      a{
        color: $black !important;
      }
      i{
        border: solid 1px $gray;
      }
    } 
}

.success {
    .simon-input-group-addon {
        color: color(attention, success);
    }
}

/* 
 * Checkbox 
 * Usage: <label class="custom-checkbox"><input type="checkbox" class="sr-only"/><i class="i-checkbox"></i>TEXT</label>
*/
.custom-checkbox{
    $boxsize: 16px;
    
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;
    .i-checkbox{
       border: 1px solid $gray;
        color: $black;
        width: $boxsize;
        height: $boxsize;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        vertical-align: middle;
    }
    input[type="checkbox"]{
        display:none;
    }
    input[type="checkbox"] + .i-checkbox::before{
        @include simonicon();
        position: absolute;
        top: -3px;
        left: 2px;
        font-size: 7px;
    }

    input[type="checkbox"]:checked + .i-checkbox::before{
        content:$icon-checked;
    }

    input[type="checkbox"] + .i-checkbox.disabled{
        cursor:not-allowed;
        &::before{
            background: none;
            background-color:#e4e4e4 !important;
        }
    }
}

.error{
    color: $red;
}

$border-color: #c8c8c8;
$active-bg: $white;
$active-color: #52a6e1;
$anim: cubic-bezier(0.215, 0.610, 0.355, 1.00);
$error-color: $red;

.bt-form__wrapper {
  margin: 30px auto;
  max-width: 500px;
}
.sm-form-validation1 {  
  input[type]:not(.btn) {
    color:$black;
    position: relative;
    font-family: $SimonCircularBook;
    border-radius: 0;
    z-index: 1;
    font-size:13px;
    line-height:16px;
    transition: background 0.3s $anim, border-color 0.3s $anim;
    
    &:focus {
      background: $active-bg;
    }
  }
  
  .field-label {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    transform: translateY(15%);
    z-index: 2;
    font-size: 11px;
    font-family: $SimonCircularBook;
    line-height:13px;
    text-transform: uppercase;
    color: $text-link;
    transition: transform 0.3s $anim, opacity 0.3s $anim;
  }
  
  >*:not(:first-child) {
    
    &.sm-input-group, .sm-input-group {
      border-top: none;
    }
  }
}
.sm-form-validation {  
  input[type]:not(.btn) {
    color:$black;
    position: relative;
    font-family: $SimonCircularBook;
    border-radius: 0;
    z-index: 1;
    font-size:13px;
    line-height:16px;
    transition: background 0.3s $anim, border-color 0.3s $anim;
    background-color: $white;
    &:focus {
      background: $active-bg;
    }
  }
  
  .field-label {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    top: 0;
    transform: translateY(15%);
    z-index: 2;
    font-size: 11px;
    font-family: $SimonCircularBook;
    line-height:13px;
    text-transform: uppercase;
    color: $text-link;
    transition: transform 0.3s $anim, opacity 0.3s $anim;
  }
  
  >*:not(:first-child) {
    
    &.sm-input-group, .sm-input-group {
      border-top: none;
    }
  }
}

.field-error {
  opacity: 0;
  color: $error-color;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 3;
  pointer-events: none;
  ul{
    margin:0;
    padding:0;
    list-style-type:none;
    display: inline-block;
    color: $error-color;
    text-transform: capitalize;
  }
}

::-webkit-input-placeholder { /* Chrome */
      text-transform:uppercase;
      color:$text-link!important;
    }
    :-ms-input-placeholder { /* IE 10+ */
      text-transform:uppercase !important;
      color:$text-link!important;
    }
    ::-ms-input-placeholder { /* IE 10+ */
      text-transform:uppercase !important;
      color:$text-link!important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      text-transform:uppercase;
      color:$text-link!important;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      text-transform:uppercase;
      color:$text-link!important;
    }

.has-error {
    ::-webkit-input-placeholder { /* Chrome */
      color: $red!important;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $red!important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $red!important;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: $red!important;
      opacity: 1;
    }


.field-label {
    color:$red;
}

  input[type] {
      border:2px solid $red !important;
    &:focus {
      border:2px solid $red !important;
    }


  }
	


  select {
    border: 2px solid $red !important;
    border-radius: 0;
    color: $red !important;
    &:focus {
      border: 2px solid $red !important;
      color: $red !important;
    }
  }
  
  .field-error {
    opacity: 1;
    transform: translateY(0);
    text-transform: none;
    &:before{
        content: ":";
        display:inline-block;
        padding-right: 3px;
        padding-left: 0;
        color: $red;
    }
  }
}

.bt-flabels--right {
  border-left: none;
}
.field-float {
  
  .field-label {   
    opacity: 1;
    transform: translateY(0);
    margin-top: -17px;
  }


  input[type] {
    padding-top: 9px;
  }
}

  select.form-control.selected{
  	color:$black!important;
  	option{
  		color:$text-link!important;
  	}
  }

&.page-CP-404ErrorPage {
	.search-icon {
		color: $black;
  	}
  }