/* Responsive Utilities
***************************************************/

.list-inline {
    display: table;
    >li {
        display: table-cell;
    }
}

.hidden {
    display: none;
}

.display-none {
    display: none;
}
.no-pad {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.no-pad-l {
    padding-left: 0px !important;
}

.no-pad-r {
    padding-right: 0px !important;
}

@include breakpoint(mobile) {
    .no-pad-mobile {
        padding: 0px;
    }
}

.major {
    text-transform: uppercase;
}

.nav-tabs{
	margin-bottom: 20px;
}

.glyphicon {
	float: right;
	font-family: 'simon-icon';
	font-weight: normal;
	font-size: 10.5px;
	top: 6px;
	&.glyphicon-plus:before{
		content: $icon-arrordion-plus;
	}
	&.glyphicon-minus:before {
		content: $icon-arrordion-minus;
	}
}

/* DESKTOP
*************************************************************/

@include breakpoint(desktop) {
    .show-desktop {
        display:block!important;
    }

    .hide-desktop {
        display:none!important;
    }

    .show-mobile{
        display:none!important;
    }

    .hide-mobile{
        display:block!important;
    }

}


/* Mobile
*************************************************************/

@include breakpoint(mobile) {
     .show-desktop {
        display:none!important;
    }

    .hide-desktop {
        display:block!important;
    }
    .show-mobile{
        display:block!important;
    }

    .hide-mobile{
        display:none!important;
    }

    .container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .xs-row{
        margin-left: -25px;
        margin-right: -25px;
    }
}

.no-scroll{
    overflow: hidden;
}

.mobile-row{
    @include breakpoint(mobile){
        margin-left: -15px;
        margin-right: -15px;
    }
}

// Favorites
.mark-favorite,
	.fav-icon{
		cursor: pointer;
		&.marked{
			&:before{
				content: $icon-fav-filled !important;
				color:$plum !important;
			}
		}
		
		.tooltip-init{
			position: relative;
			left: 10px;
			top: 20px;
		}

		.tooltip{
			z-index: 1;
			width: 101px;
		}
		
	}
.col-md-9{
	.container{
		width: 100%;
	}
}