.scroll-container {
    overflow: auto;
		
		&.vertical-only{
			overflow-x: hidden;
			overflow-y: auto;
		}
    .size-guide-content {
        >p {
            margin: 10px 0 20px;
            >a {
                text-decoration: underline;
                color: $black;
            }
        }
        .size-table {
            width: 100%;
            @include breakpoint(mobile) {
                width: 700px;
            }
            tr {
                &:first-child {
                    td {
                        background: none !important;
                        font-family: $SimonCircularBold;
                        height: 50px;
                    }
                }
                td {
                    border-collapse: collapse;
                    border: 2px solid $white;
                    font-size: 16px;
                    text-align: center;
                    width: 74px;
                    height: 70px;
                    &:nth-child(2),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(9) {
                        background-color: $light-gray-bg;
                    }
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(7),
                    &:nth-child(8) {
                        background-color: $gray-light;
                    }
                    &:nth-child(1) {
                        font-family: $SimonCircularBold;
                        text-align: left;
                    }
                }
            }
        }
    } // Custom Scrollbar
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(193, 193, 193, 1);
    }
}

.sb-container {
    position: relative;
    overflow: hidden;
    padding-right: 10px;
    .sb-scrollbar-container {
        position: absolute;
        right: 5px;
        bottom: 5px;
        top: 5px;
        width: 10px;
        .sb-scrollbar {
            position: absolute;
            right: 0;
            height: 120px !important;
            width: 8px;
            border-radius: 10px;
            background: $scrollbar-color;
            &:hover {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.sb-content {
    height: 100%;
    width: 120%;
    padding-right: 20%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.sb-scrollbar-container-hide {
    right: -20px;
}